<template>
  <div>
    <h3>商品名称: {{ title }}</h3>
    <p>价格: ¥{{ price }}</p>
    <p>数量: {{ count }}</p>
  </div>
</template>

<script>
export default {
  // props: ['title', 'price', 'count']
  props: {
    title: {
      type: String,
      required: true // 必传属性
    },
    price: Number,
    count: {
      type: Number,
      default: 10 // 参数默认值
    },
    tel: {
      validator (value) {
        console.log(value)
        const reg = /^1[3-9]\d{9}$/
        return reg.test(value)
      }
    }
  }
}
</script>

<style>

</style>
