.user {
  display: flex;
  justify-content: space-between;
  padding: 20px 15px;
}
@keyframes toTop {
  0% {
    transform: translateY(0);
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    transform: translateY(-30px);
    opacity: 1;
  }
}
.money {
  border: 1px solid #333;
  border-radius: 5px;
  position: relative;
  background: #ffffff;
  span {
    position: absolute;
    top: 0;
    z-index: -1;
    animation: toTop 2s linear;
    color: green;
    &.red {
      color: red;
    }
  }
}