<template>
  <div class="cart page">
    <el-row :gutter="20">
      <el-col :span="24"><div class="grid-content tomato"></div></el-col>
    </el-row>
    <el-row :gutter="20">
      <el-col :span="12"><div class="grid-content tomato"></div></el-col>
      <el-col :span="12"><div class="grid-content skyblue"></div></el-col>
    </el-row>
    <el-row :gutter="20">
      <el-col :span="8"><div class="grid-content tomato"></div></el-col>
      <el-col :span="4"><div class="grid-content skyblue"></div></el-col>
      <el-col :span="2" :offset="10"><div class="grid-content skyblue"></div></el-col>
    </el-row>
    <el-row :gutter="20" type="flex" justify="space-between">
      <el-col :span="6"><div class="grid-content tomato"></div></el-col>
      <el-col :span="4"><div class="grid-content skyblue"></div></el-col>
      <el-col :span="4"><div class="grid-content skyblue"></div></el-col>
    </el-row>
    <el-row :gutter="10">
      <el-col :xs="8" :sm="6" :md="4" :lg="3" :xl="1"><div class="grid-content tomato"></div></el-col>
      <el-col :xs="4" :sm="6" :md="8" :lg="9" :xl="11"><div class="grid-content skyblue"></div></el-col>
      <el-col :xs="4" :sm="6" :md="8" :lg="9" :xl="11"><div class="grid-content tomato"></div></el-col>
      <el-col :xs="8" :sm="6" :md="4" :lg="3" :xl="1"><div class="grid-content skyblue"></div></el-col>
    </el-row>
  </div>
</template>

<script>
export default {
}
</script>

<style lang="scss" scoped>
.cart {
  background: #eeeeee;
  padding: 20px;
}
.el-row {
  margin-bottom: 20px;
}
.grid-content  {
  min-height: 36px;
  border-radius: 5px;
}
.tomato {
  background: tomato;
}
.skyblue {
  background: skyblue;
}
</style>
