<template>
  <div class="app">
    <div class="row">
      选择城市：
      <Select :data="addressList" v-model="form.address" />
    </div>
    <div class="row">
      选择爱好：
      <Select :data="hobby" v-model="form.hobby" />
    </div>
    <button>提交</button>
    {{ form }}
  </div>
</template>

<script>
import Select from './components/Select.vue'
import city from './city.json'

export default {
  data () {
    return {
      form: {
        address: ['beijing', 'tianjin'],
        hobby: []
      },
      addressList: city,
      hobby: [
        {
          name: '唱歌',
          value: 'changge'
        },
        {
          name: '跳舞',
          value: 'tiaowu'
        },
        {
          name: 'rap',
          value: 'rap'
        },
        {
          name: '篮球',
          value: 'lanqiu'
        }
      ]
    }
  },
  components: {
    Select
  }
}
</script>

<style lang="scss">
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
html {
  width: 100%;
  height: 100%;
  background: #f5f5f5;
}
.app {
  padding: 20px;
}
</style>
