<script setup>
// const defineProps(['title', 'price', 'count'])
const props = defineProps({
  title: String,
  price: Number,
  count: Number
})
const emit = defineEmits(['onClick'])
const sub = () => {
  console.log(props.title)
  emit('onClick', -1)
}
</script>

<template>
  <div class="item">
    <h3>{{ title }}</h3>
    <p>价格：¥{{ price.toFixed(2) }}</p>
    <button @click="sub">-</button>
    {{ count }}
    <button @click="$emit('onClick', 1)">+</button>
  </div>
</template>

<style lang='scss' scoped>

</style>
