.home {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  main {
    flex: 1;
    background: #eeeeee;
  }
  footer {
    height: 50px;
    background: #ffffff;
    border-top: #dddddd 1px solid;
    display: flex;
    a {
      flex: 1;
      text-align: center;
      line-height: 50px;
      &.active {
        background: orange;
        color: #ffffff;
      }
    }
  }
}