<script setup>
import { ref, onDeactivated, onActivated } from 'vue'

const count = ref(0)
let timer = null
onActivated(() => {
  timer = setInterval(() => {
    count.value++
    console.log(count.value)
  }, 1000)
})

onDeactivated(() => {
  clearInterval(timer)
})
</script>

<template>
  <div class="box">
    <h2>Child组件</h2>
    <p>本组件展示的时间: {{ count }}s</p>
  </div>
</template>

<style lang='scss' scoped>

</style>
