<script setup>
import { reactive, onBeforeUnmount, onActivated, onDeactivated } from 'vue'
const obj = reactive({
  name: '',
  age: ''
})

console.log('header组件创建成功')
onBeforeUnmount(() => {
  console.log('header组件即将销毁')
})

// 被KeepAlive缓存的组件特有的生命周期
onActivated(() => {
  console.log('被keepAlive缓存的组件展示')
})
onDeactivated(() => {
  console.log('被keepAlive缓存的组件隐藏')
})
</script>

<template>
  <header class="box">
    <h3>头部组件</h3>
    <p>姓名: <input type="text" v-model="obj.name"></p>
    <p>年龄: <input type="text" v-model="obj.age"></p>
    {{ obj }}
  </header>
</template>

<style lang='scss' scoped>

</style>
