<script setup>
import { reactive, ref } from 'vue'
import Chessboard from './components/Chessboard.vue'
import Step from './components/Step.vue'
import { isWin } from './util'

const isNextX = ref(true) // 判断下一步是 X 还是 O
const step = ref(0) // 当前展示第几步
const history = reactive([ // 历史记录
  {
    id: Date.now(),
    list: new Array(9).fill(null)
  }
])

// 下棋
const changeBoard = (index) => {
  const currentBoard = [...history[step.value].list] // 查找当前显示的棋盘
  if (currentBoard[index] || isWin(currentBoard)) return // 判断点击的位置是否有棋子,或者有人获胜
  currentBoard[index] = isNextX.value ? 'X' : 'O' // 下棋
  history.splice(step.value + 1, history.length - 1 - step.value, { // 从当前步数替换历史记录
    id:  Date.now(),
    list: [...currentBoard]
  })
  step.value++ // 步数加1
  isNextX.value = !isNextX.value // 下一个棋手
}
const back = (index) => {
  step.value = index // 改变当前步数
  isNextX.value = index % 2 === 0 // 计算当前步数的棋手
}
</script>

<template>
  <div class="wrap">
    <Chessboard :board="history[step].list" @change="changeBoard" />
    <Step :next="isNextX" :list="history" :step="step" @back="back" />
  </div>
</template>

<style lang='scss'>
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
li {
  list-style-type: none;
}
.wrap {
  display: flex;
  padding: 20px;
}
</style>
