<script setup>
import {
  reactive,
  ref,
  nextTick,
  computed,
  onBeforeMount,
  onMounted,
  onBeforeUpdate,
  onUpdated,
  onBeforeUnmount,
  onUnmounted,
  watch,
  watchEffect,
  watchPostEffect
} from 'vue'
import Dialog from './components/Dialog.vue'
const show = ref(false)
</script>

<template>
  <button @click="show = true">显示弹窗</button>
  <Dialog v-model:visible="show" title="默认标题"></Dialog>
  <!-- <Dialog :visible="show" @update:visible="e => show = e" title="默认标题"></Dialog>  -->

  <Dialog v-model="show" title="默认标题"></Dialog>
  <!-- <Dialog :modelValue="show" @update:modelValue="e => show = e" title="默认标题"></Dialog> -->
</template>

<style lang="scss">
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
</style>
