<template>
  <div class="page">
    <van-empty image="error" description="页面飞走了～">
      <van-button round type="danger" class="bottom-button" @click="$router.replace('/')">去首页</van-button>
    </van-empty>
  </div>
</template>

<script>
export default {

}
</script>

<style lang="scss" scoped>
.bottom-button {
  width: 160px;
  height: 40px;
}
</style>
