<template>
  <div class="dialog" @click.self="$emit('close')">
    <div class="content">
      <div class="close" @click="$emit('close')">x</div>
      <div class="header">
        <slot name="headerSlot">{{ title }}</slot>
      </div>
      <div class="center">
        <slot name="default" :user="user" :age="age" a="100">
          <b>我是插槽默认值，{{ user }}，{{ age }}</b>
        </slot>
      </div>
      <div class="footer">
        <slot name="footerSlot">
          <button>{{ cancelText }}</button>
          <button>{{ okText }}</button>
        </slot>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  props: {
    title: String,
    cancelText: {
      type: String,
      default: '取消'
    },
    okText: {
      type: String,
      default: '确定'
    }
  },
  data () {
    return {
      user: '小米',
      age: 10
    }
  }
}
</script>

<style lang="scss" scoped>
.dialog {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: rgba($color: #000000, $alpha: .5);
}
.content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  min-width: 400px;
  min-height: 300px;
  background: #ffffff;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
}
.close {
  position: absolute;
  right: 10px;
  top: 10px;
  width: 20px;
  height: 20px;
  text-align: center;
  line-height: 20px;
  cursor: pointer;
}
.header {
  height: 50px;
  border-bottom: 1px solid;
}
.center {
  flex: 1;
  padding: 16px;
}
.footer {
  height: 50px;
  border-top: 1px solid;
}
</style>
