<template>
  <div>
    <h1>App</h1>
    <!-- <input type="text" v-model="text"> {{ text }}
    <input type="text" :value="text" @input="text = $event.target.value"> -->
    <Count title="水蜜桃" :value="num4" @input="num4 = $event" />
    <!-- 组件上使用 v-model 简化操作 -->
    <!-- <Count title="苹果" v-model="num1" />
    <Count title="香蕉" v-model="num2" />
    <Count title="梨" v-model="num3" /> -->
    <hr />
    <MyInput label="姓名" v-model="form.username" />
    <MyInput label="年龄" v-model="form.age" />
    {{ form }}
  </div>
</template>

<script>
import Count from './components/Count.vue'
import MyInput from './components/MyInput.vue'

export default {
  data () {
    return {
      // text: ''
      num1: 10,
      num2: 20,
      num3: 30,
      num4: 40,
      form: {
        username: '晓明',
        age: 10
      }
    }
  },
  components: {
    Count,
    MyInput
  },
  methods: {
  }
}
</script>

<style>

</style>
