<template>
  <div class="home">
    <router-link to="/list">列表页面</router-link>
    <div>首页</div>
  </div>
</template>

<script>
export default {

}
</script>

<style lang="scss" scoped>
.home {
  padding: 40px;
  background: tomato;
}
</style>
