<script setup>
import { ref, reactive } from 'vue'
import Child from './Child.vue'
const child = ref()

const handleClick = () => {
  // 获取子组件实例
  console.log(child.value)
  // 调用子组件的方法和数据，如果子组件使用 setup，需要使用 defineExpose 暴露数据
  child.value.add()
}
</script>

<template>
  <button @click="handleClick">获取子组件实例</button>
  <Child ref="child" />
</template>

<style lang='scss'>
.box {
  padding: 40px;
  border: 1px solid;
}
.active {
  background: orange;
}
</style>
