<script setup>
import { ref } from 'vue'

const count = ref(0)
const add = () => {
  count.value++
}
// 暴露给父组件数据，让父组件可以通过ref获取对象中的数据
defineExpose({
  count,
  add
})
</script>

<template>
  <div class="box">
    <h2>子组件</h2>
    <button @click="add">{{ count }}</button>
  </div>
</template>

<style lang='scss' scoped>

</style>
