<template>
  <div class="page hot">
    <dl v-for="item in list" :key="item.filmId" @click="goDetail(item)">
      <dt>
        <img :src="item.poster" alt="">
      </dt>
      <dd>
        <h3>{{ item.name }}</h3>
        <p>{{ item.filmId }}</p>
      </dd>
    </dl>
    <div class="line">{{list.length >= total ? '我是有底线的' : '上拉加载'}}</div>
  </div>
</template>

<script>
import axios from 'axios'
export default {
  data () {
    return {
      list: [],
      pagenum: 1,
      total: null,
      loading: false
    }
  },
  methods: {
    goDetail (item) {
      // this.$router: 路由实例对象，可以跳转路由
      // query传参，?后拼接
      // this.$router.push(`/detail?id=${id}&a=100&b=200`)
      // this.$router.push({
      //   path: '/detail',
      //   query: {
      //     id: item.filmId,
      //     name: item.name,
      //     nation: item.nation,
      //     imgurl: item.poster
      //   }
      // })

      // 动态路由传参数
      // this.$router.push(`/detail/${item.filmId}`)
      this.$router.push({
        name: 'detail',
        params: {
          filmId: item.filmId
        },
        query: {
          a: 100,
          b: 'BBB'
        }
      })
      // this.$router.replace('/detail')
    },
    async getList () {
      if (this.loading) return
      this.loading = true
      if (this.total !== null && this.list.length >= this.total) return
      const res = await axios.get('/api/list', {
        params: {
          pagenum: this.pagenum,
          pagesize: 10
        }
      })
      this.list = [...this.list, ...res.data.data]
      this.pagenum = res.data.pagenum + 1
      this.total = res.data.total
      this.loading = false
    }
  },
  created () {
    this.getList()
    this.$bus.$on('getMovieList', this.getList)
  }
}
</script>

<style lang="scss" scoped>
.hot {
  dl {
    display: flex;
    padding: 10px;
  }
  dt {
    width: 80px;
  }
  dd {
    flex: 1;
    margin-left: 10px;
  }
}
.line {
  line-height: 40px;
  background: #ccc;
  text-align: center;
}
</style>
