<template>
  <div class="wrap">
    <h2>Child2</h2>
    <p>当前鼠标的位置：{{ mousePos }}</p>
  </div>
</template>

<script>
import position from '../mixins/position'
import test from '../mixins/test'

export default {
  // 使用混入，复用逻辑
  // 组件和混入的变量名冲突，组件的数据覆盖混入的数据
  // 组件的生命周期和混入冲突，会先执行混入的函数后执行组件的函数
  mixins: [position, test],
  mounted () {
    console.log('child2', this)
  }
}
</script>

<style lang="scss" scoped>
.wrap {
  border: 1px solid;
  padding: 50px;
  margin-top: 20px;
}
</style>
