<template>
  <div class="wrap" ref="wrap">
    <h2>Child1</h2>
    <div class="box" :style="boxStyle"></div>
  </div>
</template>

<script>
import position from '../mixins/position'

export default {
  mixins: [position],
  data () {
    return {
      boxStyle: {
        left: 0,
        top: 0
      }
    }
  },
  watch: {
    mousePos () {
      let left = this.mousePos.x - 50
      let top = this.mousePos.y - 50 - this.$refs.wrap.offsetTop
      const { width, height } = this.$refs.wrap.getBoundingClientRect()
      if (left > width - 100) left = width - 100
      if (top > height - 100) top = height - 100
      if (left < 0) left = 0
      if (top < 0) top = 0
      this.boxStyle = {
        left: left + 'px',
        top: top + 'px'
      }
    }
  }
}
</script>

<style lang="scss" scoped>
.wrap {
  border: 1px solid;
  padding: 50px;
  min-height: 500px;
  position: relative;
}
.box {
  width: 100px;
  height: 100px;
  background: red;
  position: absolute;
}
</style>
