* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.home {
  background: tomato;
}
img {
  width: 100%;
}
.box {
  width: 600px;
  height: 400px;
}
.echarts-wrap {
  width: 100%;
  height: 100%;
}
.gutter-row {
  background: #cccccc;
  height: 40px;
}
.login {
  width: 100vw;
  height: 100vh;
  background: url(https://dev.gougucms.com/static/home/images/bg.png) no-repeat;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
}
.login_form {
  width: 360px;
  border-radius: 12px;
  box-shadow: 0 2px 6px rgba(92, 110, 136, .32);
  padding: 50px 20px 30px;
  background: #fff;
}