<script setup>
import { ref, watchEffect, onBeforeUnmount } from 'vue'
import QRCode from 'qrcode'
import { getQrApi, getQrKeyApi, qrCheckApi } from '../../service/login'
import useUserInfoStore from '@/stores/useUserInfo'

const userInfoStore = useUserInfoStore()
const props = defineProps(['visible'])
const emit = defineEmits(['update:visible'])
const showQrCode = ref(true) // 显示二维码登陆
const qrKey = ref('') // 存当前二维码key
const qrImg = ref('') // 二维码图片
const qrStatus = ref(801) // 二维码状态 // 800 为二维码过期,801 为等待扫码,802 为待确认,803 为授权登录成功
let timer = null

// 轮训二维码状态
const getQrStatus = () => {
  timer = setInterval(async () => {
    const res = await qrCheckApi(qrKey.value)
    qrStatus.value = res.data.code
    if (res.data.code === 800) { // 过期 
      clearInterval(timer)
    } else if (res.data.code === 802) { // 待确认
      console.log('等待确认')
    } else if (res.data.code === 803) {
      // 授权登录成功, 关闭弹窗
      emit('update:visible', false)
      userInfoStore.getLoginStatus()
    }
  }, 2000)
}

const createQrImg = async () => {
  const keyRes = await getQrKeyApi() // 生成key
  qrKey.value = keyRes.data.data.unikey
  const qrRes = await getQrApi(qrKey.value) // 获取二维码信息
  qrImg.value = await QRCode.toDataURL(qrRes.data.data.qrurl) // 生成二维码
  getQrStatus() // 轮训二维码状态
}

watchEffect(async () => {
  if (props.visible) {
    createQrImg()
  } else {
    clearInterval(timer)
  }
})

onBeforeUnmount(() => {
  clearInterval(timer)
})


</script>

<template>
  <div class="login-wrap" v-if="visible">
    <div class="login-content">
      <div class="login-header">
        登陆
        <i @click="$emit('update:visible', false)">x</i>
      </div>
      <div class="login-btm">
        <div class="qrCode-content" v-if="showQrCode">
          <div class="wait" v-if="qrStatus === 802">
            <img src="https://p6.music.126.net/obj/wo3DlcOGw6DClTvDisK1/9765284460/1b1d/9f46/2fa3/2d5d07bb5fcf8c24c1ad788c923ef313.png" alt="">
            <h3>扫码成功</h3>
            <p>请在手机上确认</p>
          </div>
          <div class="code-wrap" v-else>
            <img src="https://p5.music.126.net/obj/wo3DlcOGw6DClTvDisK1/9643571155/525c/faac/2dc6/fe695c03c7c358ddaa4651736b26a55f.png" alt="">
            <div class="code">
              <h4>扫码登录</h4>
              <div class="qrcode">
                <img :src="qrImg" alt="">
                <div class="qrmark" v-show="qrStatus === 800">
                  <p>二维码已失效</p>
                  <button @click="createQrImg">点击刷新</button>
                </div>
              </div>
              <p>使用 网易云音乐APP 扫码登录</p>
            </div>
          </div>
          <div class="other-btn" @click="showQrCode = false">其他登陆方式</div>
        </div>
        <div class="other" v-else>其他登陆方式</div>
      </div>
    </div>
  </div>
</template>

<style lang='scss' scoped>
.login-wrap {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba($color: #000000, $alpha: .5);
  z-index: 999;
}
.login-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 530px;
  box-shadow: 0 5px 16px rgb(0 0 0 / 80%);
}
.login-header {
  height: 39px;
  line-height: 39px;
  padding: 0 20px;
  border-bottom: 1px solid #191919;
  border-radius: 4px 4px 0 0;
  background: #2d2d2d;
  color: #ffffff;
  display: flex;
  justify-content: space-between;
  i {
    font-style: normal;
    cursor: pointer;
  }
}
.login-btm {
  height: 326px;
  background: #ffffff;
  border-radius: 0 0 4px 4px;
}
.qrCode-content {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  .other-btn {
    width: 118px;
    height: 28px;
    margin: 20px auto 0;
    padding-right: 0;
    font-size: 12px;
    border: 1px solid #979797;
    border-radius: 15px;
    line-height: 28px;
    text-align: center;
    color: rgba(0, 0, 0, 0.8);
  }
}
.wait {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  img {
    width: 140px;
  }
  h3 {
    margin: 10px 0;
  }
}
.code-wrap {
  display: flex;
  justify-content: center;
  img {
    width: 125px;
  }
  .code {
    margin-left: 25px;
    width: 200px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    h4 {
      font-size: 16px;
    }
    .qrcode {
      width: 146px;
      height: 146px;
      position: relative;
      img {
        width: 100%;
      }
      .qrmark {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: rgba($color: #ffffff, $alpha: .8);
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        p {
          font-weight: bold;
        }
        button {
          margin-top: 10px;
        }
      }
    }
    p {
      font-size: 12px;
    }
  }
}
</style>
