<template>
  <div>
    <van-grid :column-num="3">
      <van-grid-item
        class="grid-item"
        v-for="item in list"
        :key="item.id"
        @click="goDetail(item.id)"
      >
        <van-image class="img" :src="item.img" lazy-load />
        <h3>{{ item.title }}</h3>
        <div class="btm">
          <p>¥{{ item.price }}</p>
          <van-button size="small" type="primary" @click.stop="add(item)">+</van-button>
        </div>
      </van-grid-item>
    </van-grid>
  </div>
</template>

<script>
import { mapActions, mapState, mapMutations } from 'vuex'
export default {
  computed: {
    ...mapState('goods', ['list'])
  },
  methods: {
    ...mapActions('goods', ['getList']),
    ...mapMutations('goods', ['addCart']),
    add ({ title, id }) {
      this.addCart(id)
      this.$toast(`添加'${title}'成功`)
    },
    goDetail (id) {
      // this.$router.push({
      //   name: 'detail',
      //   params: {
      //     id
      //   }
      // })
      this.$router.push(`/detail/${id}`)
    }
  },
  async created () {
    this.getList()
  }
}
</script>

<style lang="scss" scoped>
.img {
  width: 100%;
}
.grid-item {
  h3 {
    text-align: left;
    margin-bottom: 14px;
    padding: 0 10px;
  }
  .btm {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    padding: 10px;
  }
  ::v-deep .van-grid-item__content {
    padding: 0;
    align-items: flex-start;
  }
}
</style>
