<template>
  <div class="page">
    <van-nav-bar
      title="登陆"
      left-text="返回"
      left-arrow
      @click-left="$router.back()"
    />
    <van-form @submit="onSubmit">
      <van-field
        v-model="username"
        name="username"
        label="用户名"
        placeholder="用户名"
        :rules="[{ required: true, message: '请填写用户名' }]"
      />
      <van-field
        v-model="password"
        type="password"
        name="password"
        label="密码"
        placeholder="密码"
        :rules="[{ required: true, message: '请填写密码' }]"
      />
      <!-- <van-field
        v-model="tel"
        name="tel"
        label="手机号"
        placeholder="手机号"
        :rules="telRules"
      /> -->
      <div style="margin: 16px;">
        <van-button round block type="info" native-type="submit">提交</van-button>
      </div>
    </van-form>
  </div>
</template>

<script>
export default {
  data () {
    return {
      username: '',
      password: '',
      tel: '',
      telRules: [
        { required: true, message: '请填写手机号' },
        { pattern: /^1[3-9]\d{9}$/, message: '手机号格式错误' }
      ]
    }
  },
  methods: {
    onSubmit (values) {
      console.log('submit', values)
      const token = Math.random()
      localStorage.setItem('token', token)
      const redirect = this.$route.query.redirect || '/'
      this.$router.replace(redirect)
    }
  }
}
</script>

<style lang="scss" scoped>

</style>
