<template>
  <div id="app">
    <nav>
      <router-link to="/home">跳转首页</router-link>
      <router-link to="/list">跳转列表页面</router-link>
    </nav>
    <!-- 路由组件渲染位置 -->
    <router-view />
  </div>
</template>

<script>
export default {
  created () {
    // console.log('路由实例对象', this.$router)
  }
}
</script>

<style lang="scss">
main {
  padding: 50px;
  border: 1px solid;
}
nav {
  a {
    margin: 0 20px;
  }
}
</style>
