<template>
  <div class="page">
    <main class="home-content">
      <router-view />
    </main>
    <van-tabbar route>
      <van-tabbar-item to="/gohome" icon="home-o">配送到家</van-tabbar-item>
      <van-tabbar-item to="/cart" icon="shopping-cart-o">购物车</van-tabbar-item>
      <van-tabbar-item to="/mine" icon="friends-o" dot>我的</van-tabbar-item>
    </van-tabbar>
  </div>
</template>

<script>

export default {
  data () {
    return {
    }
  }
}
</script>

<style lang="scss" scoped>
.home-content {
  width: 100%;
  height: calc(100vh - 50px);
}
</style>
