<script setup>
import { ref } from 'vue'
defineProps({
  visible: Boolean,
  title: String
})
const num = ref(0)
</script>

<template>
  <div v-show="visible" class="dialog" @click.self="$emit('update:visible', false)">
    <div class="content">
      <h2>{{ title }}</h2>
      <div class="center">内容</div>
    </div>
  </div>
</template>

<style lang='scss' scoped>
.dialog {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba($color: #000000, $alpha: .5);
}
.content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 10px;
  min-width: 400px;
  min-height: 300px;
  background: #ffffff;
  display: flex;
  flex-direction: column;
  h2 {
    line-height: 50px;
    font-size: 16px;
    padding-left: 20px;
  }
}
.center {
  flex: 1;
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
  padding: 10px;
}
.footer {
  height: 50px;
  display: flex;
  justify-content: flex-end;
  padding: 10px;
  button {
    margin-right: 10px;
    padding: 0 10px;
  }
}
</style>
