<template>
  <div class="box">
    <h3>{{ title }}</h3>
    <button @click="$emit('input', value - 1)">-</button>
    {{ value }}
    <button @click="$emit('input', value + 1)">+</button>
  </div>
</template>

<script>
export default {
  props: ['value', 'title']
}
</script>

<style lang="scss" scoped>
.box {
  border: 1px solid;
  padding: 20px;
}
</style>
