<template>
  <div>
    <label for="">{{ label }}：</label>
    <input type="text" :value="value" @input="$emit('input', $event.target.value)">
  </div>
</template>

<script>
export default {
  props: ['label', 'value']
}
</script>

<style>

</style>
