<template>
  <div>
    <nav>
      <p
        v-for="item in navlist"
        :key="item.ComName"
        :class="{ active: ComName === item.ComName }"
        @click="ComName = item.ComName"
      >{{ item.title }}</p>
    </nav>
    <!-- <keep-alive>
      <Child1 v-if="ComName === 'Child1'" />
      <Child2 v-else-if="ComName === 'Child2'" />
      <Child3 v-else-if="ComName === 'Child3'" />
    </keep-alive> -->
    <!--
      vue内置组件：keep-alive 缓存组件状态，被缓存的组件不会执行销毁的生命周期，创建阶段生命周期只执行一次，
      props:
        include: 需要缓存的组件名
        exclude: 不需要缓存的组件名
        max: 最多缓存多少个组件实例
      被 keep-alive 包裹的组件特有的生命周期：
        activated：组件显示时执行
        deactivated：组件隐藏时执行
    -->
    <keep-alive :max="2">
      <component :is="ComName"></component>
    </keep-alive>
  </div>
</template>

<script>
import Child1 from './components/Child1.vue'
import Child2 from './components/Child2.vue'
import Child3 from './components/Child3.vue'

export default {
  data () {
    return {
      navlist: [
        {
          ComName: 'Child1',
          title: '导航1'
        },
        {
          ComName: 'Child2',
          title: '导航2'
        },
        {
          ComName: 'Child3',
          title: '导航3'
        }
      ],
      ComName: 'Child2'
    }
  },
  components: {
    Child1,
    Child2,
    Child3
  },
  methods: {
  }
}
</script>

<style lang="scss">
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
nav {
  display: flex;
  border-bottom: 1px solid;
  padding: 20px 20px 0;
  p {
    margin-right: 20px;
    border: 1px solid;
    border-bottom: none;
    padding: 10px;
    cursor: pointer;
    &.active {
      background: tomato;
    }
  }
}
</style>
