.create {
  padding: 20px;
  :global {
    .adm-list-body {
      --font-size: 14px !important;
    }
    .adm-button {
      background: orange;
      color: #ffffff;
      --border-color: orange !important;
    }
    .adm-list-item-content-prefix {
      width: 60px;
    }
  }
  .row {
    :global {
      .adm-list-item-content {
        border-top: none;
      }
      .adm-list-item {
        padding-left: 0;
      }
    }
  }
}