.header {
  overflow: hidden;
  h2 {
    text-align: center;
    font-size: 18px;
    margin: 10px 0;
  }
}
.form {
  padding: 0 15px;
  display: flex;
  input {
    flex: 1;
    margin-right: 10px;
    border: none;
    outline: none;
    appearance: none;
    border-bottom: 3px dashed #fe7345;
  }
  button {
    width: 80px;
    height: 35px;
  }
}