* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
li {
  list-style-type: none;
}
html, body, #root {
  width: 100%;
  height: 100vh;
  background: #2a2b2f;
}
.app {
  min-width: 1200px;
  width: 100%;
  height: 100%;
  overflow: auto;
  padding: 50px 0;
}
.list {
  width: 80%;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  .bottle {
    background: #242529;
    width: calc((100% - 90px) / 4);
    height: 330px;
    margin-bottom: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding-top: 20px;
    position: relative;
    &:hover {
      img {
        animation: wobble 1s;
      }
    }
    img {
      width: 120px;
    }
    h3 {
      padding: 0 20px;
      height: 55px;
      color: #cecece;
      margin: 20px 0;
    }
    p {
      color: #787de6;
      font-weight: bold;
      margin-bottom: 20px;
    }
    button {
      width: 80px;
      height: 30px;
    }
    span {
      position: absolute;
      right: 20px;
      top: 10px;
      color: #cecece;
      font-size: 20px;
      font-weight: bold;
      cursor: pointer;
      user-select: none;
    }
  }
  .active {
    border: 1px solid #787de6;
  }
}
.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 60px;
  background: rgba($color: #000000, $alpha: .5);
  z-index: 1;
  padding: 6px;
  display: flex;
  justify-content: flex-end;
  button {
    width: 100px;
    border: none;
    background: #787de6;
    color: #ffffff;
    &:disabled {
      background: #34363c;
      color: #575b6a;
    }
  }
  ul {
    display: flex;
    flex-direction: row-reverse;
  }
  li {
    width: 48px;
    height: 48px;
    background: #242529;
    margin-right: 12px;
    position: relative;
    span {
      position: absolute;
      top: 0;
      right: 0;
      cursor: pointer;
      color: #cecece;
      font-size: 12px;
      line-height: 16px;
      user-select: none;
    }
  }
  img {
    width: 100%;
  }
}
.compare {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 1;
  display: flex;
  .item {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    background: #212226;
    color: #cecece;
    &:nth-child(odd) {
      background: #242529;
    }
  }
  .close {
    position: absolute;
    right: 20px;
    top: 20px;
    font-size: 30px;
    color: #cecece;
    cursor: pointer;
    user-select: none;
  }
}