<template>
  <div>
    <!-- <Goods
      :title="obj.title"
      :price="obj.price"
      :count="obj.count"
      :tel="tel"
    /> -->
    <!-- 把对象的所有属性传给子组件 -->
    <Goods
      v-bind="obj"
      :tel="tel"
    />
  </div>
</template>

<script>
import Goods from './components/Goods.vue'

export default {
  data () {
    return {
      obj: {
        title: '苹果',
        price: 10,
        count: 0
      },
      tel: '14133334444'
    }
  },
  methods: {
  },
  components: {
    Goods
  },
  mounted () {
  }
}
</script>

<style>

</style>
