<script setup>
import { ref, provide } from 'vue'
import Header from './components/Header.vue'
import Footer from './components/Footer.vue'
const count = ref(0)
const add = () => {
  count.value++
}
provide('countInfo', {
  count,
  add
})
provide('num1', 10)
provide('num2', 100)
provide('num3', 1000)
</script>

<template>
  <h1>app</h1>
  <button @click="count++">按钮点击了{{ count }}次</button>
  <Header />
  <Footer v-if="count > 4" />
</template>

<style lang='scss'>
.box {
  padding: 40px;
  border: 1px solid;
}
</style>
