.memo {
  width: 100%;
  height: 100%;
  overflow: auto;
  position: relative;
}
.empty {
  position: absolute;
  width: 100%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  p {
    text-align: center;
    line-height: 26px;
  }
  a {
    display: block;
    background: orange;
    color: #ffffff;
    width: 120px;
    height: 36px;
    line-height: 36px;
    border-radius: 5px;
    margin: 0 auto;
    text-align: center;
  }
}
.list {
}
.item {
  padding: 20px;
  border-bottom: 1px solid #dddddd;
  position: relative;
  .btns {
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
    button {
      display: block;
    }
  }
}