* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
li {
  list-style-type: none;
}
html, body, #root {
  width: 100%;
  min-height: 100vh;
  background-image: linear-gradient(90deg, #ffafbd, #ffc3a0);
}
#root {
  display: flex;
  justify-content: center;
  align-items: center;
}
.app {
  width: 400px;
  padding: 30px;
  background: #ffffff;
  min-height: 400px;
  border-radius: 10px;
}
.empty, .clear {
  text-align: center;
  font-size: 14px;
  color: #999;
  margin-top: 20px;
}