<template>
  <div>
    <h1>购物车</h1>
    <p>app传的参数: {{ num }}</p>
    <p>app传的参数: {{ title }}</p>
    <p>app传的参数: {{ obj }}</p>
  </div>
</template>

<script>
export default {
  inject: ['num', 'title', 'obj']
}
</script>

<style>

</style>
