.detail {
  height: 100%;
  background: #eeeeee;
  main {
    padding: 20px;
  }
  .btn {
    margin-top: 20px;
  }
}
.content {
  background: #ffffff;
  padding: 15px;
  border-radius: 10px;
  margin-top: 20px;
  h2 {
    padding: 15px 0;
    position: relative;
    span {
      position: absolute;
      top: 0;
      right: 0;
      width: 50px;
      height: 50px;
      border: 1px solid orange;
      border-radius: 50%;
      text-align: center;
      line-height: 50px;
      font-size: 12px;
      color: orange;
      font-weight: normal;
      transform: rotate(-30deg);
    }
  }
}
.row {
  display: flex;
  justify-content: space-between;
  margin: 10px 0;
}
.switch {
  span {
    margin-right: 10px;
  }
}
.remark {
  border-top: 1px solid #dddddd;
  display: flex;
  padding-top: 10px;
  span {
    width: 60px;
  }
  p {
    flex: 1;
    overflow: hidden;
  }
}