<script setup>
import { inject } from 'vue'

const { count, add } = inject('countInfo')
const num1 = inject('num1')
const num2 = inject('num2')
const num3 = inject('num3')

</script>

<template>
  <div class="box">
    <h2>Child组件</h2>
    {{ count }} <button @click="add">+</button>
    <p>num1: {{ num1 }}</p>
    <p>num2: {{ num2 }}</p>
    <p>num3: {{ num3 }}</p>
  </div>
</template>

<style lang='scss' scoped>

</style>
