<script setup>
// import Child from './Child.vue'
// 异步组件
import { defineAsyncComponent } from 'vue'

const Child = defineAsyncComponent(() =>import('./Child.vue'))
</script>

<template>
  <footer class="box">
    <h2>底部组件</h2>
    <Child />
  </footer>
</template>

<style lang='scss' scoped>

</style>
