<script setup>
import { ref } from 'vue'
defineProps({
  title: String,
  cancelText: {
    default: '取消',
    type: String
  },
  okText: {
    default: '确认',
    type: String
  }
})
const num = ref(0)
</script>

<template>
  <div class="dialog" @click.self="$emit('cancel')">
    <div class="content">
      <slot name="header" :n="num">
        <h2>{{ title }}</h2>
      </slot>
      <div class="center">
        <button @click="num++">按钮点击次数{{ num }}</button>
        <slot></slot>
      </div>
      <slot name="footer">
        <div class="footer">
          <button @click="$emit('cancel')">{{ cancelText }}</button>
          <button @click="$emit('ok')">{{ okText }}</button>
        </div>
      </slot>
    </div>
  </div>
</template>

<style lang='scss' scoped>
.dialog {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba($color: #000000, $alpha: .5);
}
.content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 10px;
  min-width: 400px;
  min-height: 300px;
  background: #ffffff;
  display: flex;
  flex-direction: column;
  h2 {
    line-height: 50px;
    font-size: 16px;
    padding-left: 20px;
  }
}
.center {
  flex: 1;
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
  padding: 10px;
}
.footer {
  height: 50px;
  display: flex;
  justify-content: flex-end;
  padding: 10px;
  button {
    margin-right: 10px;
    padding: 0 10px;
  }
}
</style>
