.list {
  padding: 20px 0;
}
.item {
  height: 40px;
  margin-bottom: 10px;
  display: flex;
  align-items: center;
  padding: 0 10px;
  .icon {
    width: 24px;
    height: 24px;
    cursor: pointer;
  }
  p {
    flex: 1;
    padding: 0 10px;
  }
}
.done {
  background: #fe7345;
  border-radius: 5px;
  color: #ffffff;
}