* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.aaa {
  background: tomato;
}
.home {
 width: 100vw;
 height: 100vh;
 display: flex;
 flex-direction: column; 
  main {
    flex: 1;
    overflow: hidden;
  }
  footer {
    height: 50px;
    border-top: 1px solid #ccc;
    display: flex;
    a {
      flex: 1;
      text-align: center;
      line-height: 50px;
    }
    .active {
      background: tomato;
      color: #ffffff;
    }
  }
}
.topBar {
  height: 40px;
  background: #dddddd;
  display: flex;
  a {
    flex: 1;
    text-align: center;
    color: #333333;
    line-height: 40px;
  }
  .active {
    color: tomato;
  }
}
.movie {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}
.content {
  flex: 1;
  overflow: hidden;
}
.bg {
  background: tomato;
}