<template>
  <div class="button-wrap">
    <h2>button组件</h2>
    <button @click="num++">{{ num }}</button>
  </div>
</template>

<script>
export default {
  data () {
    return {
      num: 0
    }
  }
}
</script>

<style lang="scss" scoped>
// scoped: 此 style 内的样式只在当前组件内生效
// @import '../styles/common.scss';

.button-wrap {
  padding: 20px;
  border: 1px solid;
}
h2 {
  color: #fff;
}
</style>
