<template>
  <div>
    <h1>App</h1>
    <!-- 可以使用 .sync 修饰符简写 -->
    <!-- <Count
      :title="obj.title"
      @update:title="obj.title = $event"
      :num="obj.num"
      @update:num="obj.num = $event"
    /> -->
    <Count :title.sync="obj.title" :num.sync="obj.num" />
    {{ obj }}
  </div>
</template>

<script>
import Count from './components/Count.vue'

export default {
  data () {
    return {
      obj: {
        title: '苹果',
        num: 10
      }
    }
  },
  components: {
    Count
  },
  methods: {
  }
}
</script>

<style>

</style>
