* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html, body, #root {
  width: 100%;
  height: 100%;
  font-size: 14px;
}
a {
  text-decoration: none;
  color: #333333;
}
.home {
  h2 {
    text-align: center;
    padding: 40px 0;
  }
  p {
    display: flex;
    flex-direction: column;
    line-height: 30px;
    text-align: center;
  }
}