<script setup>
import { reactive, ref, nextTick, computed, onMounted, onUpdated } from 'vue'
const title = ref('学习Vue3')
const count = ref(0)
const firstName = ref('王')
const lastName = ref('小明')
const fullName = computed(() => {
  return firstName.value + lastName.value
})

onMounted(() => {
  setInterval(() => {
    count.value++
  }, 1000)
})
onMounted(() => {
  console.log(document.querySelector('h1'))
})

onUpdated(() => {
  console.log(document.querySelector('.count'))
})
</script>

<template>
  <h1>{{ title }}</h1>
  <p>姓氏：{{ firstName }} <input type="text" v-model="firstName"></p>
  <p>名字：{{ lastName }} <input type="text" v-model="lastName"></p>
  <p>{{ fullName }}</p>
  <p class="count">定时器：{{ count }}</p>
</template>

<style lang="scss" scoped>
h1 {
  color: red;
}

</style>
