<template>
  <div class="tip" v-show="msg">{{ msg }}</div>
</template>

<script>
export default {
  props: ['msg']
}
</script>

<style lang="scss" scoped>
.tip {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: rgba($color: #000000, $alpha: .5);
  color: #ffffff;
  min-width: 50px;
  max-width: 80%;
  padding: 12px;
  font-size: 12px;
  text-align: center;
  border-radius: 4px;
}
</style>
