<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <script src="./vue.js"></script>
</head>
<style>
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
</style>
<body>
  <div class="app">
    <h1 ref="title">{{ title }}</h1>
    <button @click="add">添加</button>
    <button @click="remvoe">删除第一个</button>
    <ul ref="list">
      <li v-for="n in num" ref="li">{{ n }}</li>
    </ul>
    <hr />
    <button @click="changeArr">修改第二项</button>
    <ul ref="list">
      <li v-for="n in arr">{{ n }}</li>
    </ul>
    <hr />
    <button @click="$set(obj, 'sex', '男')">+</button>
    {{ obj }}
  </div>

  <script>
    let vm = new Vue({
      el: '.app',
      data: {
        title: '标题',
        num: 5,
        arr: [1, 2, 3, 4, 5, 6],
        obj: {
          name: '晓明',
          age: 20
        }
      },
      created() {
        this.$watch('num', () => {
          console.log('num更新了', this.num)
        })
      },
      methods: {
        changeArr () {
          // vue2 响应式原理无法监听数组通过下标改变和length属性改变，不会更新页面，请使用 vue 提供的修改数组的函数
          // this.arr[1] = 200
          // this.arr.length = 0

          // $set：可以通过下标修改数组，可给对象添加响应式属性
          this.$set(this.arr, 1, 300)
          console.log(this.arr)
        },
        remvoe () {
          this.num--
        },
        add () {
          this.num++
          // Vue.nextTick(() => {
          //   // 本次页面更新后执行此函数
          //   console.log(this.$refs.li)
          // })
          this.$nextTick(() => {
            // 本次页面更新后执行此函数
            console.log(this.$refs.li)
          })
        }
      },
      mounted () {
        // 获取dom元素
        console.log(this.$refs.title)
        console.log(this.$refs.list)
        console.log(this.$refs.li)
      }
    })


    // let obj1 = {
    //   name: 'aa',
    //   age: 10,
    //   sex: 1
    // }
    // // delete obj1.age
    // const { age, ...obj2 } = obj1
    // console.log(obj2)


  </script>
</body>
</html>