<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <script src="./vue.js"></script>
</head>
<style>
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
</style>
<body>
  <div class="app">
    <h1>{{ title }}</h1>
    <button @click="num++">+</button>
    <b>{{ num }}</b>
  </div>

  <script>
    let vm = new Vue({
      el: '.app',
      // template: '<div class="app"><h1>{{ title }}</h1></div>',
      data: {
        title: '标题',
        num: 0
      },
      // 创建阶段
      beforeCreate () { // vue 实例创建之前执行，跟vue相关的内容都不可以使用
        console.log('beforeCreate ========>', document.querySelector('h1'))
        console.log('beforeCreate ========>',this.title)
      },
      created () { // vue 实例创建之后执行，可以使用数据和方法，可以调用接口获取数据，不能操作dom，还没有渲染页面，
        console.log('created ========>', document.querySelector('h1'))
        console.log('created ========>', this.title)
        // setInterval(() => {
        //   this.num ++
        // }, 1000)
      },
      // 挂载
      beforeMount () { // 页面挂载之前，可以使用数据和方法，可以调用接口获取数据，不能操作dom，
        console.log('beforeMount ========>', document.querySelector('h1'))
      },
      mounted () {// 页面挂载完成，可以操作dom
        console.log('mounted ========>', document.querySelector('h1'))
      },
      // 更新阶段（数据改变后执行更新阶段）
      beforeUpdate () { // 数据更新后，页面更新前
        console.log('beforeUpdate =====', this.num)
        console.log('beforeUpdate ===== innerHTML', document.querySelector('b').innerHTML)
      },
      updated () { // 数据更新后，页面更新完成
        console.log('updated =====', this.num)
        console.log('updated ===== innerHTML', document.querySelector('b').innerHTML)
      },
      // 销毁阶段
      beforeDestroy () { // 清除异步（定时器、原生事件、请求）
        console.log('销毁前')
      },
      destroyed () {
        console.log('销毁后')
      }

    })
  </script>
</body>
</html>