<script setup>
import { reactive } from 'vue'
import useDice from '../store/useDice'

const store = useDice()
const chipList = reactive([50, 200, 100, 500])
</script>

<template>
  <div class="chip">
    <div class="left">
      <p v-for="item in chipList" :key="item" @click="store.addChip(item)">{{ item }}</p>
    </div>
    <div class="right" @click="store.chipMoney = 0">{{ store.chipMoney === 0 ? '下注金额' : store.chipMoney }}</div>
  </div>
</template>

<style lang='scss' scoped>
.chip {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.left {
  width: 120px;
  height: 120px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-content: space-around;
  p {
    width: 50px;
    height: 50px;
    background: #ccc;
    border-radius: 50%;
    text-align: center;
    line-height: 50px;
  }
}
.right {
  width: 110px;
  height: 110px;
  text-align: center;
  line-height: 110px;
  background: #999;
  border-radius: 50%;
}
</style>
