<script setup>
import useDice from '../store/useDice'
const store = useDice()


</script>

<template>
  <div class="dice">
    <div class="item" v-for="(item, index) in store.diceArr" :key="index">{{ item }}</div>
  </div>
</template>

<style lang='scss' scoped>
.dice {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.item {
  width: 110px;
  height: 110px;
  background-color: #ccc;
  margin: 20px calc((100% - 220px) / 4);
  font-size: 50px;
}
</style>
