<script setup>
import { reactive } from 'vue'
import useDice from '../store/useDice'
const store = useDice()

const btns = reactive([
  {
    title: '大',
    scale: 1
  },
  {
    title: '豹子',
    scale: 24
  },
  {
    title: '小',
    scale: 1
  }
])
const start = (type) => {
  if (store.chipMoney > 0) {
    store.start(type)
  } else {
    alert('请先下注')
  }
}
</script>

<template>
  <footer>
    <button
      v-for="item in btns"
      :key="item.title"
      @click="start(item)"
    >{{ item.title }} 1: {{ item.scale }}</button>
  </footer>
</template>

<style lang='scss' scoped>
footer {
  display: flex;
  padding-top: 20px;
  button {
    flex: 1;
    height: 100px;
    margin: 0 10px;
  }
}
</style>
