<script setup>
import useDice from '../store/useDice'

const store = useDice()
</script>

<template>
  <header>
    <div class="user">小明</div>
    <div class="balance">{{ store.balance }}</div>
  </header>
</template>

<style lang='scss' scoped>
header {
  display: flex;
  justify-content: space-between;
  padding: 10px;
}
.balance {
  border: 1px solid;
  border-radius: 5px;
}
</style>
