.home {
  width: 100%;
  height: 100%;
  display: flex;
}
.side {
  width: 230px;
  background: #031d49;
  display: flex;
  .tab_nav {
    width: 100px;
    background: #001236;
    padding-top: 120px;
  }
  .nav_item {
    height: 100px;
    color: #ffffff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    opacity: 0.6;
    p {
      margin-top: 10px;
    }
    &.active {
      opacity: 1;
      border-left: 2px solid #ffffff;
      background: #031d49;
    }
  }
  .tabpane {
    flex: 1;
    color: #ffffff;
    h3 {
      height: 120px;
      line-height: 120px;
      font-size: 16px;
      font-weight: normal;
      text-align: center;
      border-bottom: 1px solid rgba($color: #ffffff, $alpha: .4);
    }
    li {
      padding-top: 20px;
      a {
        color: #ffffff;
        display: block;
        padding-left: 20px;
        line-height: 30px;
        opacity: 0.6;
        font-size: 14px;
        &.active {
          border-right: 5px solid skyblue;
          opacity: 1;
        }
      }
    }
  }
}
.content {
  flex: 1;
  display: flex;
  flex-direction: column;
  main {
    flex: 1;
    overflow: hidden;
    padding: 20px;
    background: #f0f2f6;
  }
}
.header {
  height: 120px;
  border-bottom: 1px solid #cccccc;
  .nav {
    height: 50px;
    border-top: 1px solid #cccccc;
    padding-top: 10px;
    display: flex;
    a {
      margin-left: 14px;
      padding: 0 15px;
      line-height: 40px;
      border-radius: 5px 5px 0 0;
      font-size: 14px;
      &.active {
        background: #dddddd;
      }
      span {
        margin-left: 10px;
        &:hover {
          color: tomato;
        }
      }
    }
  }
  .info {
    height: 70px;
    text-align: right;
    padding: 20px;
  }
}