<template>
  <div>
    <van-form @submit="onSubmit">
      <van-field
        v-model="username"
        name="username"
        label="用户名"
        placeholder="用户名"
        :rules="[{ required: true, message: '请填写用户名' }]"
      />
      <van-field
        v-model="password"
        type="password"
        name="pwd"
        label="密码"
        placeholder="密码"
        :rules="[{ required: true, message: '请填写密码' }]"
      />
      <div style="margin: 16px">
        <van-button round block type="info" native-type="submit">提交</van-button>
      </div>
    </van-form>
  </div>
</template>

<script>
import axios from 'axios'
export default {
  data () {
    return {
      username: '',
      password: ''
    }
  },
  methods: {
    async onSubmit (values) {
      console.log('submit', values)
      const res = await axios.post('/api/login', values)
      if (res.data.code === 0) {
        localStorage.setItem('token', res.data.token)
        alert('登陆成功')
        console.log(this.$route.query.redirect)
        const redirect = this.$route.query.redirect || '/'
        this.$router.push(redirect)
      } else {
        alert(res.data.msg)
      }
    }
  }
}
</script>

<style>
</style>
