<script setup>
import { reactive, ref, nextTick, computed } from 'vue'
const title = ref('学习Vue3')
const firstName = ref('王')
const lastName = ref('小明')
// 可赋值的计算属性
const fullName = computed({
  get () {
    return firstName.value + lastName.value
  },
  set (val) {
    firstName.value = val[0]
    lastName.value = val.slice(1)
  }
})
const reset = () => {
  fullName.value = '王小明'
}
</script>

<template>
  <h1>{{ title }}</h1>
  <p>姓氏：{{ firstName }} <input type="text" v-model="firstName"></p>
  <p>名字：{{ lastName }} <input type="text" v-model="lastName"></p>
  <p>{{ fullName }}</p>
  <button @click="reset">重置</button>
</template>

<style lang="scss" scoped>
h1 {
  color: red;
}

</style>
