<script setup>
import Child from './Child.vue'
import Child1 from './Child1.vue'

</script>

<template>
  <Child />
  <Child1 />
</template>

<style lang='scss'>
.box {
  padding: 40px;
  border: 1px solid;
}
.active {
  background: orange;
}
</style>
