<script setup>
import usePos from './custom/usePos'
import { ref, watch, reactive, onMounted, onBeforeUnmount } from 'vue'

const pos = usePos()

const box = ref(null)
const styleObj = reactive({
  left: 0,
  top: 0
})
watch(pos, () => {
  const { left, top, bottom, right } = box.value.getBoundingClientRect()
  let x = pos.x - 50
  let y = pos.y - 50
  if (x < left) x = left
  if (x > right - 100) x = right - 100
  if (y < top) y = top
  if (y > bottom - 100) y = bottom - 100
  styleObj.left = x + 'px'
  styleObj.top = y + 'px'
})


</script>

<template>
  <div class="box" ref="box">
    <h2>child</h2>
    <div class="red" :style="styleObj"></div>
  </div>
</template>

<style lang='scss' scoped>
.box {
  height: 300px;
}
.red {
  width: 100px;
  height: 100px;
  background: red;
  position: fixed;
}
</style>
