<script setup>
import usePos from './custom/usePos'

// 使用组合式函数抽取公共逻辑
const pos = usePos()

</script>

<template>
  <div class="box">
    <h2>child1组件</h2>
    <p>当前鼠标位置：{{ pos }}</p>
  </div>
</template>

<style lang='scss' scoped>
.box {
  height: 300px;
}
</style>
