<script setup>
import {
  reactive,
  ref,
  nextTick,
  computed,
  onBeforeMount,
  onMounted,
  onBeforeUpdate,
  onUpdated,
  onBeforeUnmount,
  onUnmounted,
  watch,
  watchEffect,
  watchPostEffect
} from 'vue'
const xm = reactive({
  firstName: '王',
  lastName: ref('小明'),
  info: {
    a: {
      b: {
        c: 100
      }
    }
  }
})
const count = ref(0)
const fullName = computed(() => {
  return xm.firstName + xm.lastName
})
// 监听ref变量改变
// watch(count, (newVal, oldVal) => {
//   console.log(newVal, oldVal)
// }, { immediate: true })
// 监听对象默认是深度监听
// watch(xm, (newVal, oldVal) => {
//   console.log(newVal, oldVal)
// })
// 监听对象的属性值，不是深度监听，需要手动添加 deep: true
// watch(
//   () => xm.info,
//   (newVal, oldVal) => {
//     console.log(newVal, oldVal)
//   },
//   { deep: true }
// )
// 监听对象的属性改变
// watch([() => xm.firstName], (newVal, oldVal) => {
//   console.log(newVal, oldVal)
// })
// 监听多个值改变
// watch([() => xm.firstName, count], ([newVal1, newVal2], [oldVal1, oldVal2]) => {
//   console.log(newVal1, newVal2, oldVal1, oldVal2)
// })

// watchEffect 自动监听函数的变量改变
// watchEffect(() => {
//   console.log('count改变了', count.value)
// })
// 让回调函数在页面更新之后执行 { flush: 'post' }
// watch(count, () => {
//   console.log(count.value)
//   console.log(document.querySelector('.count').innerHTML)
// }, { flush: 'post' })
// watchEffect(() => {
//   console.log('count改变了', count.value)
//   console.log(document.querySelector('.count'))
// }, { flush: 'post' })
// watchPostEffect(() => {
//   console.log('count改变了', count.value)
//   console.log(document.querySelector('.count'))
// })

let unwatch = null
setTimeout(() => {
  // 返回一个销毁监听的函数
  unwatch = watch(count, () => {
    console.log('count 改变了', document.querySelector('.count').innerHTML)
  }, { flush: 'post' })
}, 5000)

onBeforeUnmount(() => {
  // 组件销毁前手动清除异步创建的 watch
  unwatch()
})

</script>

<template>
  {{ xm }}
  <button @click="xm.info.a.b.c++">{{ xm.info.a.b.c }}</button>
  <p>姓氏：{{ xm.firstName }} <input type="text" v-model="xm.firstName"></p>
  <p>名字：{{ xm.lastName }} <input type="text" v-model="xm.lastName"></p>
  <p>{{ fullName }}</p>
  <button class="count" @click="count++">{{ count }}</button>
</template>

<style lang="scss" scoped>
h1 {
  color: red;
}

</style>
