<template>
  <div class="page movie" @scroll="scrollHandler">
    <div class="nav">
      <router-link to="/home/movie/hot">正在热映</router-link>
      <router-link to="/home/movie/coming">即将上映</router-link>
    </div>
    <div class="content">
      <router-view />
    </div>
    <div class="fixed-header" v-show="showHeader">
      <div class="title">
        <router-link to="/city">{{ currentCity }}</router-link>
        <h3>电影</h3>
      </div>
      <div class="nav">
        <router-link to="/home/movie/hot">正在热映</router-link>
        <router-link to="/home/movie/coming">即将上映</router-link>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  data () {
    return {
      showHeader: false,
      currentCity: localStorage.getItem('currentCity')
    }
  },
  methods: {
    scrollHandler (e) {
      const { scrollTop, clientHeight, scrollHeight } = e.target
      if (scrollTop + clientHeight + 1 >= scrollHeight) {
        console.log('滚动到底部了')
        this.$bus.$emit('getMovieList')
      }
      if (e.target.scrollTop > 200) {
        this.showHeader = true
      } else {
        this.showHeader = false
      }
    }
  }
}
</script>

<style lang="scss" scoped>
.movie {
  overflow: auto;
}
.nav {
  height: 40px;
  line-height: 40px;
  border-bottom: 1px solid #ccc;
  display: flex;
  a {
    flex: 1;
    text-align: center;
  }
  .router-link-active {
    background: tomato;
    color: #fff;
  }
}
.fixed-header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background: #ffffff;
}
.title {
  position: relative;
  line-height: 40px;
  h3 {
    text-align: center;
  }
  a {
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    padding: 0 20px;
    font-size: 14px;
    width: 100px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
}
</style>
