<template>
  <div class="button">
    <h2>{{ btnTitle }} -- {{ count }}</h2>
    <button @click="countClick">count+</button>
    <button v-if="count > 105" @click="addNum">按钮点击 {{ num }} 次</button>
  </div>
</template>

<script>
export default {
  props: ['btnTitle', 'count'], // 接收父组件传过来的参数，不能在组件中修改props修改父组件传过来的变量
  data () {
    return {
      // 每个组件都有自己独立的数据，组件中定义的数据只能在当前组件中修改
      // 1. 由于组件的复用，其实是创建多个组件实例，如果data中仍然是只是一个对象，那么其实创建出来的实例保持的都是对同一个对象的引用
      // 2. 通过一个函数执行返回了一个新的全新的数据对象，因此每个实例可以维护一份被返回对象的独立的拷贝，组件之间的数据不会互相影响
      num: 1
    }
  },
  methods: {
    addNum () {
      this.num++
    },
    countClick () {
      // 触发组件的自定义事件
      this.$emit('change', this.num)
    }
  },
  created () {
    console.log(typeof this.count)
  }
}
</script>

<style lang="scss" scoped>
.button {
  border: 1px solid;
}
</style>
