<template>
  <div>
    <h3>控制字体大小颜色</h3>
    <button @click="$emit('changeFontSize', fontSize - 1)">-</button>
    {{ fontSize }}
    <button @click="$emit('changeFontSize', fontSize + 1)">+</button>
    <input type="color" :value="color" @input="fn"> {{ color }}
  </div>
</template>

<script>
export default {
  props: ['fontSize', 'color'],
  methods: {
    fn (e) {
      this.$emit('changeColor', e.target.value)
    }
  }
}
</script>

<style>

</style>
