<template>
  <el-dialog
    :title="title"
    v-if="visible"
    :visible="true"
    @close="$emit('update:visible', false)"
  >
    <el-form
      :model="ruleForm"
      :rules="rules"
      ref="ruleForm"
      label-width="100px"
    >
      <el-form-item label="姓名" prop="name">
        <el-input v-model="ruleForm.name"></el-input>
      </el-form-item>
      <el-form-item label="年龄" prop="age">
        <el-input-number
          v-model="ruleForm.age"
          :min="1"
          :max="100"
        ></el-input-number>
      </el-form-item>
      <el-form-item label="性别" prop="sex">
        <el-radio-group v-model="ruleForm.sex">
          <el-radio :label="1">男</el-radio>
          <el-radio :label="0">女</el-radio>
        </el-radio-group>
      </el-form-item>
      <el-form-item label="地址" prop="address">
        <el-select v-model="ruleForm.address" placeholder="请选择活动区域">
          <el-option label="上海" value="shanghai"></el-option>
          <el-option label="北京" value="beijing"></el-option>
        </el-select>
      </el-form-item>
      <el-form-item label="活动时间" required>
        <el-col :span="11">
          <el-form-item prop="time">
            <el-date-picker
              type="datetime"
              placeholder="选择日期"
              v-model="ruleForm.time"
              style="width: 100%"
              align="right"
              :picker-options="pickerOptions"
            ></el-date-picker>
          </el-form-item>
        </el-col>
      </el-form-item>
      <el-form-item label="爱好" prop="hobby">
        <el-checkbox-group v-model="ruleForm.hobby">
          <el-checkbox label="唱歌" name="type"></el-checkbox>
          <el-checkbox label="跳舞" name="type"></el-checkbox>
          <el-checkbox label="篮球" name="type"></el-checkbox>
          <el-checkbox label="rap" name="type"></el-checkbox>
          <el-checkbox label="画画" name="type"></el-checkbox>
        </el-checkbox-group>
      </el-form-item>
      <el-form-item label="婚姻状况" prop="married">
        <el-switch v-model="ruleForm.married"></el-switch>
      </el-form-item>
      <el-form-item label="描述" prop="desc">
        <el-input type="textarea" v-model="ruleForm.desc"></el-input>
      </el-form-item>
    </el-form>
    <div slot="footer" class="dialog-footer">
      <el-button @click="$emit('update:visible', false)">取 消</el-button>
      <el-button type="primary" @click="submit">确 定</el-button>
    </div>
  </el-dialog>
</template>

<script>
import axios from 'axios'
import moment from 'moment'
export default {
  props: ['visible', 'formInit'],
  data () {
    return {
      ruleForm: {
        name: '',
        age: '',
        sex: '',
        time: '',
        married: false,
        hobby: [],
        address: '',
        desc: ''
      },
      rules: {
        name: [
          { required: true, message: '请输入姓名', trigger: 'blur' },
          { min: 2, max: 5, message: '长度在 3 到 5 个字符', trigger: 'blur' }
        ],
        age: [{ required: true, message: '请输入年龄', trigger: 'change' }],
        sex: [{ required: true, message: '请选择性别', trigger: 'change' }],
        address: [{ required: true, message: '请选择地址', trigger: 'change' }],
        time: [
          {
            type: 'date',
            required: true,
            message: '请选择日期',
            trigger: 'change'
          }
        ]
      },
      pickerOptions: {
        shortcuts: [
          {
            text: '今天',
            onClick (picker) {
              picker.$emit('pick', new Date())
            }
          },
          {
            text: '昨天',
            onClick (picker) {
              const date = new Date()
              date.setTime(date.getTime() - 3600 * 1000 * 24)
              picker.$emit('pick', date)
            }
          },
          {
            text: '一周前',
            onClick (picker) {
              const date = new Date()
              date.setTime(date.getTime() - 3600 * 1000 * 24 * 7)
              picker.$emit('pick', date)
            }
          }
        ]
      }
    }
  },
  computed: {
    title () {
      return this.formInit ? '编辑数据' : '新增数据'
    }
  },
  watch: {
    visible () {
      if (!this.visible) {
        this.$refs.ruleForm.resetFields()
        this.ruleForm = {
          name: '',
          age: '',
          sex: '',
          time: '',
          married: false,
          hobby: [],
          address: '',
          desc: ''
        }
      } else {
        if (this.formInit) {
          this.ruleForm = {
            ...this.formInit,
            time: new Date(this.formInit.time)
          }
        }
      }
    }
  },
  methods: {
    async add () {
      const res = await axios.post('/api/add', {
        ...this.ruleForm,
        time: moment(this.ruleForm.time).format('YYYY-MM-DD kk:mm:ss')
      })
      if (res.data.code === 0) {
        this.$message.success('添加成功')
        this.$emit('update:visible', false)
        this.$emit('success')
      }
    },
    async edit () {
      const res = await axios.put('/api/edit', {
        ...this.ruleForm,
        time: moment(this.ruleForm.time).format('YYYY-MM-DD kk:mm:ss')
      })
      if (res.data.code === 0) {
        this.$message.success('修改成功！')
        this.$emit('update:visible', false)
        this.$emit('success')
      } else {
        this.$message.error(res.data.msg)
      }
    },
    submit () {
      this.$refs.ruleForm.validate((isSuccess) => {
        if (isSuccess) {
          console.log('校验通过', this.ruleForm)
          if (this.formInit) {
            console.log('编辑')
            this.edit()
          } else {
            this.add()
          }
        }
      })
    }
  }
}
</script>

<style>
</style>
