<template>
  <div>
    <nav>
      <p
        v-for="item in navlist"
        :key="item.ComName"
        :class="{ active: ComName === item.ComName }"
        @click="ComName = item.ComName"
      >{{ item.title }}</p>
    </nav>
    <Child1 v-if="ComName === 'Child1'" />
    <Child2 v-else-if="ComName === 'Child2'" />
    <Child3 v-else-if="ComName === 'Child3'" />
    <!-- vue内置组件：动态组件 component -->
    <!-- <component :is="ComName"></component> -->
  </div>
</template>

<script>
import Child1 from './components/Child1.vue'
import Child2 from './components/Child2.vue'
import Child3 from './components/Child3.vue'

export default {
  data () {
    return {
      navlist: [
        {
          ComName: 'Child1',
          title: '导航1'
        },
        {
          ComName: 'Child2',
          title: '导航2'
        },
        {
          ComName: 'Child3',
          title: '导航3'
        }
      ],
      ComName: 'Child2'
    }
  },
  components: {
    Child1,
    Child2,
    Child3
  },
  methods: {
  }
}
</script>

<style lang="scss">
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
nav {
  display: flex;
  border-bottom: 1px solid;
  padding: 20px 20px 0;
  p {
    margin-right: 20px;
    border: 1px solid;
    border-bottom: none;
    padding: 10px;
    cursor: pointer;
    &.active {
      background: tomato;
    }
  }
}
</style>
