<script setup>
import axios from 'axios'
import { ref, watch } from 'vue'
import { useRoute } from 'vue-router'
// 获取当前路由信息
const route = useRoute()
// 获取？后的参数
// console.log(route.query)
// 获取动态路由参数
console.log(route.params)

const info = ref({})

const getInfo = async () => {
  const res = await axios.get('https://zyxcl-music-api.vercel.app/playlist/detail', {
    params: {
      id: route.params.id
    }
  })
  console.log(res.data)
  info.value = res.data
}

watch(() => route.params, getInfo, { immediate: true })


</script>

<template>
  <div class="about">
    <button @click="$router.back()">返回</button>
    <router-link to="/about/10001"><button>另类</button></router-link>
    <router-link to="/about/2008"><button>轻音乐</button></router-link>
    <h1>关于我们</h1>
    {{ info }}
  </div>
</template>

<style scoped>
@media (min-width: 1024px) {
  .about {
    color: red;
  }
}
</style>
