<script setup>
import moment from 'moment'
import { useRouter } from 'vue-router'
import useMusicStore from '../store/useMusicStore'
import useInfoStore from '../store/useInfoStore'

const user = useInfoStore()
const musicStore = useMusicStore()
// 调用仓库的action
musicStore.getList()

// 获取路由实例
const router = useRouter()
const goDetail = id => {
  console.log(id)
  router.push({
    name: 'about',
    params: {
      id
    }
  })
  // router.push({
  //   path: '/about',
  //   query: {
  //     id
  //   }
  // })
}

</script>

<template>
  <main>
    {{ user.name }}
    <h1>首页 {{ musicStore.count }} <button @click="musicStore.add(2)">+</button></h1>
    {{ musicStore.total }}
    <ul>
      <li v-for="item in musicStore.list" :key="item.id" @click="goDetail(item.id)">
        <h3>{{ item.name }}</h3>
        <p>创建时间：{{ moment(item.createTime).format('YYYY-MM-DD') }}</p>
        <p>{{ item.usedCount }}人听过</p>
        <p>id: {{ item.id }}</p>
      </li>
    </ul>
  </main>
</template>

<style scoped>
li {
  width: 400px;
}
</style>
