<template>
  <div class="page home">
    <main>
      <!-- <transition
        enter-active-class="animate__animated animate__fadeIn"
        leave-active-class="animate__animated animate__fadeOut"
      > -->
      <router-view />
      <!-- </transition> -->
    </main>
    <footer>
      <router-link :to="{ path: '/home/movie' }">电影</router-link>
      <router-link :to="{ path: '/home/cinema', query: { id: 123 } }">影院</router-link>
      <router-link to="/home/news">资讯</router-link>
      <router-link to="/home/mine">我的</router-link>
    </footer>
  </div>
</template>

<script>
export default {
}
</script>

<style lang="scss" scoped>
@import 'animate.css';
.home {
  display: flex;
  flex-direction: column;
}
footer {
  height: 50px;
  border-top: 1px solid #ccc;
  display: flex;
  a {
    flex: 1;
    text-align: center;
    line-height: 50px;
  }
  // 精准匹配的高亮类名
  .router-link-exact-active {
    background: orange;
    color: #fff;
  }
  // 包容性匹配高亮类名
  .router-link-active {
    background: orange;
    color: #fff;
  }
}
main {
  flex: 1;
  overflow: hidden;
}
</style>
