<template>
  <div>
    <button @click="islogin = !islogin">登陆/注册</button>
    <!-- vue更新时默认使用就地复用的策略尽可能的减少更新，如果不希望就地复用可以添加不同的key值 -->
    <p key="0" v-if="islogin">登陆：<input type="text" placeholder="登陆"></p>
    <p key="1" v-else>注册：<input type="text" placeholder="注册"></p>
    <hr />
    <button @click="add">添加数据</button>
    <ul>
      <!-- key：辅助更新的唯一标识，提高vue的 diff 效率，更高效的更新dom，尽量不要使用下标当作key -->
      <li v-for="(item, index) in list" :key="index">
        <input type="checkbox">
        {{ item }}
        <button @click="list.splice(index, 1)">删除</button>
      </li>
    </ul>
    <hr />
    <button @click="num++">+</button>
    {{ num }}
    <hr />
    <Child v-if="num < 3" :num="num" @click="num ++" />
  </div>
</template>

<script>
import Child from './components/Child.vue'
import axios from 'axios'
export default {
  data () {
    return {
      islogin: true,
      list: [],
      num: 0
    }
  },
  methods: {
    add () {
      const last = this.list[this.list.length - 1]
      this.list.push(last ? last + 1 : 1)
    }
  },
  // beforeCreate () {
  //   console.log('App == beforeCreate')
  // },
  // created () {
  //   console.log('App == created')
  // },
  // beforeMount () {
  //   console.log('App == beforeMount')
  // },
  // mounted () {
  //   console.log('App == mounted')
  // },
  // beforeUpdate () {
  //   console.log('App == beforeUpdate')
  // },
  // updated () {
  //   console.log('App == updated')
  // },
  components: {
    Child
  },
  created () {
    axios.get('/sell/api/goods').then(res => {
      console.log(res.data)
    })
  }
}
</script>

<style>
.box {
  border: 1px solid;
  padding: 20px;
}
</style>
