<template>
  <div class="box">
    <h1 @click.stop>test组件</h1>
  </div>
</template>

<script>
export default {

}
</script>

<style lang="scss" scoped>
.box {
  border: 1px solid;
  padding: 20px;
  h1 {
    background: red;
  }
}
</style>
