<script setup>
import { ref, computed } from 'vue'
import { Navigation, Pagination, Autoplay} from 'swiper'
import { Swiper, SwiperSlide } from 'swiper/vue'
import 'swiper/css'
import 'swiper/css/navigation'
import 'swiper/css/pagination'
import { bannerApi } from '@/service'

const banners = ref([])
const activeIndex = ref(0)
const curBgImage = computed(() => {
  return banners.value[activeIndex.value] ? `url(${banners.value[activeIndex.value].imageUrl}?imageView&blur=40x20)` : ''
})
// 轮播图插件
const modules = [Navigation, Pagination, Autoplay]
const onSlideChange = (swiper) => {
  // 切换轮播执行的函数
  activeIndex.value = swiper.activeIndex
}
const getBanner = async () => {
  const res = await bannerApi()
  banners.value = res.data.banners
}

getBanner()
</script>

<template>
  <div class="swiper-wrap" :style="{ backgroundImage: curBgImage }">
    <div class="swiper-center">
      <Swiper class="swiper" :modules="modules" autoplay navigation :pagination="{ clickable: true }" @slideChange="onSlideChange">
        <SwiperSlide v-for="item in banners" :key="item.targetId">
          <a :href="item.url">
            <img :src="item.imageUrl" :alt="item.typeTitle">
          </a>
        </SwiperSlide>
      </Swiper>
      <div class="download">
        <img src="https://s2.music.126.net/style/web2/img/index/download.png?2c04cd26bac896cc79bbb83217ed2312" alt="">
      </div>
    </div>
  </div>
</template>

<style lang='scss' scoped>
.swiper-wrap {
  background-size: 6000px;
  background-position: center center;
  
  img {
    width: 100%;
  }
}
.swiper-center {
  width: 980px;
  height: 270px;
  margin: 0 auto;
  display: flex;
}
.download {
  width: 250px;
  overflow: hidden;
}
.swiper {
  flex: 1;
  overflow: hidden;
}
</style>
