<script setup>
import { ref, isRef, unref, reactive, toRef, toRefs } from 'vue'

// const count = ref(10)
// console.log(isRef(count)) // 判断变量是不是ref对象

// // const c = unref(count) // 返回ref对象的value
// const c = isRef(count) ? count.value : count
// console.log(c)

const obj = reactive({
  age: 100,
  name: '小明'
})
// const age = toRef(obj, 'age') // 把对象的某个属性改成响应式对象
// const name = toRef(obj, 'name') // 把对象的某个属性改成响应式对象
const { name, age } = toRefs(obj) // 把对响应式对象的所有属性改成ref对象
</script>

<template>
  <input type="text" v-model="name">
  {{ obj }}
  <hr />
  {{ age }}
  <button @click="obj.age++">{{ obj.age }}</button>
</template>

<style lang='scss'>
.box {
  padding: 40px;
  border: 1px solid;
}
.active {
  background: orange;
}
</style>
