<template>
  <div class="box">
    <h3>{{ title }} <input type="text" :value="title" @input="$emit('update:title', $event.target.value)"></h3>
    <div>
      <button @click="$emit('update:num', num - 1)">-</button>
      {{ num }}
      <button @click="$emit('update:num', num + 1)">+</button>
    </div>
  </div>
</template>

<script>
export default {
  props: ['num', 'title']
}
</script>

<style lang="scss" scoped>
.box {
  border: 1px solid;
  padding: 20px;
}
</style>
