<template>
  <div class="box">
    <h2>组件二</h2>
    <div class="two">
      <table border="1">
        <thead>
          <tr>
            <th>标题1</th>
            <th>标题2</th>
            <th>标题3</th>
            <th>标题4</th>
            <th>标题5</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>内容1</td>
            <td>内容2</td>
            <td>内容3</td>
            <td>内容4</td>
            <td>内容5</td>
          </tr>
          <tr>
            <td>内容1</td>
            <td>内容2</td>
            <td>内容3</td>
            <td>内容4</td>
            <td>内容5</td>
          </tr>
          <tr>
            <td>内容1</td>
            <td>内容2</td>
            <td>内容3</td>
            <td>内容4</td>
            <td>内容5</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</template>

<script>
export default {
  created () {
    console.log('导航二创建成功')
  },
  beforeDestroy () {
    console.log('导航二销毁')
  }
}
</script>

<style lang="scss" scoped>
.box {
  border: 1px solid;
  padding: 20px;
}
</style>
