<template>
  <div class="app">
    <button @click="show = !show">{{ show ? '隐藏' : '显示' }}</button>
    <!-- 在显示或隐藏时特定的时机自动添加类名，动画需要在css中自定义 -->
    <transition name="fade">
      <div v-if="show" class="box"></div>
    </transition>
  </div>
</template>

<script>
export default {
  data () {
    return {
      show: true
    }
  }
}
</script>

<style lang="scss">
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.box {
  width: 100px;
  height: 100px;
  background: red;
}
@keyframes bounce-in {
  0% {
    transform: scale(0);
  }
  50% {
    transform: scale(1.5);
  }
  100% {
    transform: scale(1);
  }
}
.fade-enter-active {
  animation: bounce-in 3s;
}
.fade-leave-to {
  transform: translateX(100vw);
}
.fade-leave-active {
  transition: transform 5s linear;
}
</style>
