<template>
  <div>
    <Tab :tablist="tablist1" class="tab1" />
    <Tab :tablist="tablist2" :style="{ height: '200px' }" ref="tab2" />
    <button @click="change">切换tab2高亮</button>
  </div>
</template>

<script>
import Tab from './components/Tab.vue'

export default {
  data () {
    return {
      tablist1: [
        {
          title: '许嵩',
          songs: ['断桥残雪', '玫瑰花的葬礼', '灰色头像', '素颜', '多余的解释']
        },
        {
          title: '徐良',
          songs: ['和平分手', '坏女孩', '红妆', '客官不可以', '犯贱']
        },
        {
          title: '汪苏泷',
          songs: ['不分手的恋爱', '三国杀', '巴赫旧约', '风度', '小星星', '有点甜']
        }
      ],
      tablist2: [
        {
          title: '凤凰传奇',
          songs: ['最炫民族风', '自由飞翔', '月亮之上', '绿旋风', '天蓝蓝']
        },
        {
          title: '周杰伦',
          songs: ['本草纲目', '告白气球', '夜曲', '七里香', '稻香']
        }
      ]
    }
  },
  methods: {
    change () {
      // 通过 ref 获取子组件的实例对象，可以获取子组件的数据和调用子组件的方法
      console.log(this.$refs.tab2.curIndex)
      this.$refs.tab2.changeTab(1)
    }
  },
  mounted () {
  },
  components: {
    Tab
  }
}
</script>

<style>
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
</style>
