<template>
  <transition
    enter-active-class="animate__animated animate__fadeIn"
    leave-active-class="animate__animated animate__fadeOut"
    @enter="showContent = true"
  >
    <div class="cart" v-if="showMark" @click.self="$emit('update:visible', false)">
      <transition
        enter-active-class="animate__animated animate__fadeInUp"
        leave-active-class="animate__animated animate__fadeOutDown"
        @leave="showMark = false"
      >
        <div class="content" v-if="showContent">
          <div class="list-header">
            <b>购物车</b>
            <span @click="$emit('clear')">清空</span>
          </div>
          <ul class="list">
            <li v-for="item in list" :key="item.name">
              <div class="name">{{ item.name }}</div>
              <div class="price">¥{{ item.price * item.count }}</div>
              <div class="count">
                <button @click="$emit('changeCount', item, -1)">-</button>
                <span>{{ item.count }}</span>
                <button @click="$emit('changeCount', item, 1)">+</button>
              </div>
            </li>
          </ul>
        </div>
      </transition>
    </div>
  </transition>
</template>

<script>
export default {
  props: ['visible', 'list'],
  data () {
    return {
      showMark: false,
      showContent: false
    }
  },
  watch: {
    visible () {
      if (this.visible) {
        this.showMark = true
      } else {
        this.showContent = false
      }
    }
  }
}
</script>

<style lang="scss" scoped>
.cart {
  position: fixed;
  bottom: 48px;
  top: 0;
  left: 0;
  right: 0;
  background: rgba($color: #07111b, $alpha: .6);
}
.content {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  max-height: 300px;
  display: flex;
  flex-direction: column;
}
.list-header {
  background: #f3f5f7;
  height: 40px;
  line-height: 40px;
  padding: 0 18px;
  b {
    color: #333;
    font-size: 14px;
    float: left;
    font-weight: normal;
  }
  span {
    color: #00a0dc;
    float: right;
    font-size: 12px;
  }
}
.list {
  flex: 1;
  overflow-y: auto;
  background: #ffffff;
  li {
    height: 48px;
    padding: 12px 18px;
    display: flex;
  }
  .name {
    color: #333;
    font-size: 14px;
    line-height: 24px;
    flex: 1;
  }
  .price {
    color: #f01414;
    font-size: 14px;
    font-weight: 700;
    line-height: 24px;
    margin-right: 12px;
  }
  .count {
    display: flex;
    span {
      width: 24px;
      height: 24px;
      text-align: center;
      line-height: 24px;
    }
    button {
      border: 2px solid #00a0dc;
      color: #00a0dc;
      background: #ffffff;
      width: 24px;
      height: 24px;
      font-size: 18px;
      border-radius: 50%;
      &:last-of-type {
        background: #00a0dc;
        color: #ffffff;
      }
    }
  }
}
</style>
