<template>
  <div class="page">
    <Star :num="3" :style="{ width: '80px' }" /> 4.3
  </div>
</template>

<script>
import Star from './Star.vue'
export default {
  components: {
    Star
  }
}
</script>

<style lang="scss" scoped>
.page {
  width: 100%;
  height: 100%;
}
</style>
