<template>
  <div class="mark">
    <div class="content">
      <div class="center">
        <h3 v-if="title">{{ title }}</h3>
        <p v-if="desc">{{ desc }}</p>
      </div>
      <div class="btns">
        <span class="cancel" @click="$emit('cancel')" v-if="cancelText">{{ cancelText }}</span>
        <span class="ok" @click="$emit('ok')">{{ okText || '确定' }}</span>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  props: ['title', 'desc', 'cancelText', 'okText']
}
</script>

<style lang="scss" scoped>
.mark {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba($color: #07111b, $alpha: .5);
}
.content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: #ffffff;
  border-radius: 6px;
  width: 250px;
}
.center {
  padding: 10px;
  h3 {
    text-align: center;
    color: #333;
    line-height: 40px;
  }
  p {
    font-size: 12px;
    text-align: center;
    color: #666;
    line-height: 26px;
  }
}
.btns {
  height: 50px;
  border-top: 1px solid #999999;
  display: flex;
  span {
    font-size: 14px;
    text-align: center;
    line-height: 50px;
    flex: 1;
  }
  .cancel {
    border-right: 1px solid #999999;
  }
  .ok {
    color: #fc9153;
  }
}
</style>
