<template>
  <footer>
    <div class="footer-left">
      <div :class="['cart', { highlight: total.count > 0 }]" @click="clickCart">
        <div class="inner">
          <svg t="1676336789055" class="icon" viewBox="0 0 1024 1024" version="1.1" xmlns="http://www.w3.org/2000/svg" p-id="2698" width="24" height="24"><path d="M346.112 806.912q19.456 0 36.864 7.168t30.208 19.968 20.48 30.208 7.68 36.864-7.68 36.864-20.48 30.208-30.208 20.48-36.864 7.68q-20.48 0-37.888-7.68t-30.208-20.48-20.48-30.208-7.68-36.864 7.68-36.864 20.48-30.208 30.208-19.968 37.888-7.168zM772.096 808.96q19.456 0 37.376 7.168t30.72 19.968 20.48 30.208 7.68 36.864-7.68 36.864-20.48 30.208-30.72 20.48-37.376 7.68-36.864-7.68-30.208-20.48-20.48-30.208-7.68-36.864 7.68-36.864 20.48-30.208 30.208-19.968 36.864-7.168zM944.128 227.328q28.672 0 44.544 7.68t22.528 18.944 6.144 24.064-3.584 22.016-13.312 37.888-22.016 62.976-23.552 68.096-18.944 53.248q-13.312 40.96-33.28 56.832t-49.664 15.872l-35.84 0-65.536 0-86.016 0-96.256 0-253.952 0 14.336 92.16 517.12 0q49.152 0 49.152 41.984 0 20.48-9.728 35.328t-38.4 14.848l-49.152 0-94.208 0-118.784 0-119.808 0-99.328 0-55.296 0q-20.48 0-34.304-9.216t-23.04-24.064-14.848-32.256-8.704-32.768q-1.024-6.144-5.632-29.696t-11.264-58.88-14.848-78.848-16.384-87.552q-19.456-103.424-44.032-230.4l-76.8 0q-15.36 0-25.6-7.68t-16.896-18.432-9.216-23.04-2.56-22.528q0-20.48 13.824-33.792t37.376-13.312l21.504 0 21.504 0 25.6 0 34.816 0q20.48 0 32.768 6.144t19.456 15.36 10.24 19.456 5.12 17.408q2.048 8.192 4.096 23.04t4.096 30.208q3.072 18.432 6.144 38.912l700.416 0zM867.328 194.56l-374.784 0 135.168-135.168q23.552-23.552 51.712-24.064t51.712 23.04z" p-id="2699" fill="#999999"></path></svg>
        </div>
        <div class="count">{{ total.count }}</div>
      </div>
      <div :class="['total', { highlight: total.price > 0 }]">¥{{ total.price }}</div>
      <div class="footer-desc">另需配送费￥4元</div>
    </div>
    <div :class="['footer-right', { highlight: total.price >= 20 }]" @click="pay">
      {{ payBtn }}
    </div>
    <Dialog
      v-if="visible"
      title="支付"
      :desc="`你需要支付¥${total.price}`"
      @ok="ok"
    />
  </footer>
</template>

<script>
import Dialog from './Dialog.vue'
export default {
  props: ['total'],
  data () {
    return {
      visible: false
    }
  },
  computed: {
    payBtn () {
      if (this.total.price >= 20) {
        return '去结算'
      } else if (this.total.price > 0 && this.total.price < 20) {
        return `还差¥${20 - this.total.price}起送`
      } else {
        return '¥20起送'
      }
    }
  },
  methods: {
    ok () {
      alert('支付成功')
      this.visible = false
    },
    pay () {
      if (this.total.price >= 20) {
        this.visible = true
      }
    },
    clickCart () {
      if (this.total.count > 0) {
        this.$emit('clickCart')
      }
    }
  },
  components: {
    Dialog
  }
}
</script>

<style lang="scss" scoped>
footer {
  height: 48px;
  background: #07111b;
  display: flex;
  position: relative;
  z-index: 1;
}
.footer-left {
  flex: 1;
  color: #999;
  .cart {
    width: 56px;
    height: 56px;
    border-radius: 50%;
    display: inline-block;
    vertical-align: bottom;
    position: relative;
    top: -8px;
    margin: 0 12px;
    padding: 6px;
    background: #07111b;
    .inner {
      background: #333;
      border-radius: 50%;
      width: 100%;
      height: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
    }
    .count {
      background: linear-gradient(90deg,#fc9153,#f01414);
      border-radius: 16px;
      color: #fff;
      display: inline-block;
      font-family: Helvetica;
      font-size: 10px;
      font-weight: 700;
      height: 16px;
      line-height: 16px;
      padding: 0 5px;
      text-align: center;
      position: absolute;
      right: 0;
      top: 0;
      display: none;
    }
    &.highlight {
      .inner {
        background: #00a0dc;
      }
      svg path {
        fill: #ffffff;
      }
      .count {
        display: block;
      }
    }
  }
  .total {
    border-right: 1px solid hsla(0,0%,100%,.1);
    box-sizing: border-box;
    display: inline-block;
    font-size: 16px;
    font-weight: 700;
    line-height: 24px;
    margin-top: 12px;
    padding-right: 12px;
    vertical-align: top;
    &.highlight {
      color: #ffffff;
    }
  }
  .footer-desc {
    display: inline-block;
    font-size: 10px;
    line-height: 24px;
    margin: 12px 0 0 12px;
    vertical-align: top;
  }
}
.footer-right {
  width: 105px;
  color: #999;
  background: #333;
  font-size: 12px;
  font-weight: 700;
  height: 48px;
  line-height: 48px;
  text-align: center;
  &.highlight {
    background: #00b43c;
    color: #fff;
  }
}
</style>
