<template>
  <div class="goods">
    <div class="content">
      <div class="menu">
        <div
          v-for="(item, index) in list"
          :key="item.name"
          :class="['menu-item', { active: curIndex === index }]"
          @click="changeTab(index)"
        >
          <p>
            <i v-if="item.type > -1" :class="['icon-' + item.type]"></i>
            <span>{{ item.name }}</span>
          </p>
        </div>
      </div>
      <div class="right" ref="rightlist" @scroll="scrollRight">
        <div
          v-for="item in list"
          :key="item.name"
          class="floor"
        >
          <h3 class="food-name">{{ item.name }}</h3>
          <ul>
            <li
              v-for="food in item.foods"
              :key="food.name"
              class="food"
            >
              <div class="img">
                <img :src="food.icon" alt="">
              </div>
              <div class="food-info">
                <h4>{{ food.name }}</h4>
                <div class="food-desc" v-if="food.description">{{ food.description }}</div>
                <div class="food-desc">
                  <span>月售{{ food.sellCount }}份</span>
                  <span>好评率{{ food.rating }}%</span>
                </div>
                <div class="price">
                  <span>¥{{ food.price }}</span>
                  <s v-if="food.oldPrice">¥{{ food.oldPrice }}</s>
                </div>
                <div class="count">
                  <transition name="fade">
                    <button v-if="food.count" @click="changeCount(food, -1)">-</button>
                  </transition>
                  <span v-if="food.count">{{ food.count || 0 }}</span>
                  <button @click="changeCount(food, 1)">+</button>
                </div>
              </div>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <Footer
      :total="total"
      @clickCart="visibleCartList = !visibleCartList"
    />
    <CartList
      :visible.sync="visibleCartList"
      :list="cartList"
      @changeCount="changeCount"
      @clear="clearCart"
    />
  </div>
</template>

<script>
import axios from 'axios'
import Footer from './Footer.vue'
import CartList from './CartList.vue'
export default {
  data () {
    return {
      list: [], // 所有数据
      cartList: [], // 购物车数据
      curIndex: 0, // 高亮下标
      offsetTopList: [], // 右侧所有子元素到顶部的距离
      visibleCartList: false // 购物车显示隐藏
    }
  },
  computed: {
    total () {
      return this.cartList.reduce((prev, val) => {
        return {
          count: prev.count + val.count,
          price: prev.price + val.count * val.price
        }
      }, {
        count: 0,
        price: 0
      })
    }
  },
  watch: {
    total () {
      if (this.total.count <= 0 && this.visibleCartList) {
        this.visibleCartList = false
      }
    }
  },
  methods: {
    async getGoods () {
      const res = await axios.get('/sell/api/goods')
      this.list = res.data.data
      // 本次页面渲染完成后立即执行
      this.$nextTick(() => {
        this.offsetTopList = [...this.$refs.rightlist.children].map(el => el.offsetTop)
      })
    },
    changeCount (food, n) {
      if (typeof food.count === 'number') {
        food.count += n
      } else {
        this.$set(food, 'count', 1)
      }
      const index = this.cartList.indexOf(food)
      if (index === -1) {
        this.cartList.push(food)
      }
      if (food.count === 0) {
        this.cartList.splice(index, 1)
      }
    },
    changeTab (index) {
      this.curIndex = index
      // 获取右侧对应高亮的元素到父元素的距离，修改父元素滚动条位置
      this.$refs.rightlist.scrollTop = this.$refs.rightlist.children[index].offsetTop
    },
    scrollRight (e) {
      this.offsetTopList.forEach((t, i) => {
        if (e.target.scrollTop >= t) {
          this.curIndex = i
        }
      })
    },
    clearCart () {
      this.cartList.forEach(food => {
        food.count = 0
      })
      this.cartList = []
    }
  },
  created () {
    this.getGoods()
  },
  components: {
    Footer,
    CartList
  }
}
</script>

<style lang="scss" scoped>
.goods {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}
.content {
  flex: 1;
  overflow: hidden;
  display: flex;
}
.menu {
  width: 80px;
  background: #f3f5f7;
  color: #333;
  font-size: 12px;
  overflow-y: auto;
  &::-webkit-scrollbar {
    display: none;
  }
  .menu-item {
    height: 56px;
    line-height: 14px;
    padding: 0 10px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .active {
    background: #ffffff;
    color: #000;
  }
  p {
    text-align: center;
    i {
      width: 14px;
      height: 14px;
      background-size: 14px 14px;
      flex-shrink: 0;
      margin-right: 2px;
      display: inline-block;
      vertical-align: top;
    }
  }
}
.right {
  flex: 1;
  overflow-y: auto;
  position: relative;
}
.food-name {
  background: #f3f5f7;
  border-left: 2px solid #d9dde1;
  color: #666;
  font-size: 12px;
  height: 26px;
  line-height: 26px;
  padding-left: 14px;
}
.food {
  padding: 18px;
  display: flex;
  border-bottom: 1px solid #f3f5f7;
}
.img {
  width: 57px;
  margin-right: 10px;
}
.food-info {
  flex: 1;
  overflow: hidden;
  position: relative;
  h4 {
    color: #333;
    font-size: 14px;
    height: 14px;
    line-height: 14px;
    margin: 2px 0 8px;
    font-weight: normal;
  }
  .food-desc {
    line-height: 12px;
    margin-bottom: 8px;
    color: #999;
    font-size: 10px;
    span {
      margin-right: 10px;
    }
  }
  .price {
    span {
      color: #f01414;
      font-size: 14px;
      margin-right: 8px;
    }
    s {
      font-size: 12px;
      color: #999;
    }
  }
  .count {
    position: absolute;
    bottom: 0;
    right: 0;
    display: flex;
    span {
      width: 24px;
      height: 24px;
      text-align: center;
      line-height: 24px;
    }
    button {
      border: 2px solid #00a0dc;
      color: #00a0dc;
      background: #ffffff;
      width: 24px;
      height: 24px;
      font-size: 18px;
      border-radius: 50%;
      &:last-of-type {
        background: #00a0dc;
        color: #ffffff;
      }
    }
  }
}
.fade-enter, .fade-leave-to {
  transform: translateX(24px) rotate(360deg);
  opacity: 0;
}
.fade-enter-active, .fade-leave-active {
  transition: all .5s linear;
}
</style>
