<template>
  <transition
    enter-active-class="animate__animated animate__fadeIn"
    leave-active-class="animate__animated animate__fadeOut"
  >
    <div class="mark" v-if="visible">
      <h2>{{ info.name }}</h2>
      <div class="title">
        <div class="line"></div>
        <div class="text">优惠信息</div>
        <div class="line"></div>
      </div>
      <ul class="supports" v-if="info.supports">
        <li v-for="item in info.supports" :key="item.type">
          <span :class="['icon-' + item.type]"></span>
          <p>{{ item.description }}</p>
        </li>
      </ul>
      <div class="title">
        <div class="line"></div>
        <div class="text">商家公告</div>
        <div class="line"></div>
      </div>
      <div class="desc">{{ info.bulletin }}</div>
      <div class="close" @click.stop="$emit('update:visible', false)">x</div>
    </div>
  </transition>
</template>

<script>
export default {
  props: ['info', 'visible']
}
</script>

<style lang="scss" scoped>
@import 'animate.css';
.mark {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  backdrop-filter: blur(10px);
  background: rgba(7, 17, 27, 0.8);
  color: #fff;
  padding-top: 64px;
  z-index: 10;
  h2 {
    font-size: 16px;
    font-weight: 700;
    line-height: 16px;
    text-align: center;
  }
}
.title {
  display: flex;
  margin: 28px auto 24px;
  width: 80%;
  .text {
    font-size: 14px;
    font-weight: 700;
    padding: 0 12px;
  }
  .line {
    border-bottom: 1px solid hsla(0,0%,100%,.2);
    flex: 1;
    position: relative;
    top: -6px;
  }
}
.desc {
  width: 80%;
  margin: 0 auto;
  font-size: 12px;
  line-height: 24px;
  padding: 0 12px;
}
.supports {
  width: 80%;
  margin: 0 auto;
  li {
    font-size: 12px;
    line-height: 16px;
    display: flex;
    margin-bottom: 10px;
    span {
      width: 16px;
      height: 16px;
      background-size: 16px 16px;
      margin-right: 8px;
    }
    p {
      flex: 1;
      overflow: hidden;
    }
  }
}
.close {
  position: absolute;
  bottom: 60px;
  left: 50%;
  width: 30px;
  height: 30px;
  transform: translateX(-50%);
  text-align: center;
  line-height: 30px;
  font-size: 26px;
}
</style>
