<template>
  <div class="wrap">
    <div class="star">
      <p v-for="val in 5" :key="val" :class="{ active: val <= num }">
        <svg t="1676342191938" class="icon" viewBox="0 0 1024 1024" version="1.1" xmlns="http://www.w3.org/2000/svg" p-id="3819" width="24" height="24"><path d="M956.741665 419.885046c-5.241374-16.200984-19.178805-28.054963-36.034704-30.496571l-254.931157-44.791136L551.77233 115.15981c-7.444553-15.248286-22.992667-24.898063-40.025599-24.898063-17.036002 0-32.522718 9.648754-40.146349 24.898063L357.655238 344.597339 102.784456 390.936737c-16.856923 2.442632-30.852682 14.295588-36.035728 30.496571-5.300726 16.141632-0.893346 33.951253 11.317767 45.804209l184.407963 170.410158-48.186466 247.662613c-2.859118 16.737196 3.930519 33.833573 17.809621 43.720757 13.244652 13.244652 40.562834 6.90834 47.053666 3.514033l232.595452-113.64634L742.85225 932.545078c6.490831 3.394307 32.166607 11.373025 47.052642-3.514033 13.760398-9.887184 20.787442-26.982538 17.869996-43.720757L761.077334 637.647675l184.467315-172.018795C957.69641 453.836299 962.043415 436.026678 956.741665 419.885046z" fill="#CCCCCC" p-id="3820"></path></svg>
      </p>
    </div>
  </div>
</template>

<script>
export default {
  props: ['num']
}
</script>

<style lang="scss" scoped>
.wrap {
  display: inline-block;
  vertical-align: middle;
}
.star {
  display: flex;
  width: 100%;
  p {
    flex: 1;
    svg {
      width: 100%;
      height: 100%;
    }
  }
}
.active {
  svg path {
    fill: #f90;
  }
}
</style>
