<script setup>
import useInfoStore from './store/useInfoStore'

// 引入仓库
const userStore = useInfoStore()

const reset = () => {
  // 重置仓库数据
  userStore.$reset()
}
const addAge = () => {
  // 修改仓库数据
  userStore.age++
  // userStore.$patch({
  //   age: userStore.age + 1
  // })

  // 使用getters数据
  console.log(userStore.fullInfo)
}
const sub = () => {
  userStore.changeAge(-2)
}
</script>

<template>
  <p>姓名: {{ userStore.name }} <input type="text" v-model="userStore.name"></p>
  <p>年龄:
      <button @click="sub">-</button>
      {{ userStore.age }}
      <button @click="addAge">+</button>
    </p>
  <p>{{ userStore.fullInfo }}</p>
  <button @click="reset">重置</button>
  <hr />
  <router-view />
</template>

<style scoped>
.router-link-active {
  background: red;
}

</style>
