<template>
  <div>
    <NumButton :n="num" @handleClick="addNum" />
    <p>num: {{ num }}</p>
  </div>
</template>

<script>
import NumButton from './components/NumButton.vue'

export default {
  data () {
    return {
      num: 0,
      title: 'App.vue'
    }
  },
  methods: {
    addNum (n) {
      this.num += n
    }
  },
  components: {
    NumButton
  },
  mounted () {
    // console.log(this.$children) // 可以获取所有子组件的实例对象
  }
}
</script>

<style>

</style>
