<template>
  <div>
    按钮组件
    <button @click="$emit('add', 2)">+ {{ n }}</button>
  </div>
</template>

<script>
export default {
  name: 'NumButton',
  props: ['n'],
  data () {
    return {
    }
  }
}
</script>

<style>

</style>
