<template>
  <div>
    <NumButton :n="num" @add="addNum" />
    <Num :n="num" />
  </div>
</template>

<script>
import NumButton from './components/NumButton.vue'
import Num from './components/Num.vue'
// 同级互相通讯可以使用状态提升，把共用数据提升到共有的父级组件
export default {
  data () {
    return {
      num: 0
    }
  },
  methods: {
    addNum (n) {
      this.num += n
    }
  },
  components: {
    NumButton,
    Num
  },
  mounted () {
  }
}
</script>

<style>

</style>
