<template>
  <div id="app">
    <button @click="person.age++">person: {{ person.age }}</button>
    <input type="text" v-model="person.name"> {{ person.name }}
    <hr />
    <button @click="count++">点击次数{{ count }}</button>
    <hr />
    <router-view />
  </div>
</template>

<script>
export default {
  data () {
    return {
      person: {
        age: 10,
        name: '王小明'
      },
      count: 0
    }
  },
  provide () { // 给所有的后代组件传数据，后代组件使用 inject 接收数据
    return {
      // 如果传入基本数据类型，不是响应式数据，后代组件不会更新
      num: this.count,
      title: 'provide标题',
      // 如果传入响应式对象，数据更新后代组件会自动更新
      obj: this.person
    }
  }
}
</script>

<style lang="scss">
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html, body, #app, .page {
  width: 100%;
  height: 100%;
}
a {
  text-decoration: none;
}
li {
  list-style-type: none;
}
img {
  width: 100%;
  vertical-align: middle;
}
</style>
