<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <script src="./vue.js"></script>
</head>
<style>
  li {
    border-bottom: 1px solid;
  }
</style>
<body>
  <div class="app">
    <h2>{{ title }} <input type="text" v-model="title" /></h2>
    <h2>{{ subTitle }} <input type="text" v-model="subTitle" /></h2>
    <h3>{{ fullTitle }}</h3>
    <ul>
      <li v-for="item in arr">
        <p>名称: {{ item.title }}</p>
        <p>价格: ¥{{ item.price }} <button @click="item.price++">+</button></p>
        <button @click="item.count--">-</button>
        {{ item.count }}
        <button @click="item.count++">+</button>
      </li>
    </ul>
    <!-- <footer>总价: ¥{{ getTotal() }}</footer>
    <footer>总价: ¥{{ getTotal() }}</footer>
    <footer>总价: ¥{{ getTotal() }}</footer>
    <footer>总价: ¥{{ getTotal() }}</footer>
    <footer>总价: ¥{{ getTotal() }}</footer>
    <footer>总价: ¥{{ getTotal() }}</footer> -->
    <footer>总价: ¥{{ total }}</footer>
    <footer>总价: ¥{{ total }}</footer>
    <footer>总价: ¥{{ total }}</footer>
    <footer>总价: ¥{{ total }}</footer>
    <footer>总价: ¥{{ total }}</footer>
    <footer>总价: ¥{{ total }}</footer>
  </div>
  <script>
    let vm = new Vue({
      el: '.app',
      data: {
        title: '标题',
        subTitle: '二级标题',
        arr: [
          {
            title: '苹果',
            price: 10,
            count: 0
          },
          {
            title: '香蕉',
            price: 11,
            count: 0
          },
          {
            title: '梨',
            price: 5,
            count: 0
          }
        ]
      },
      // 计算属性
      computed: {
        // 返回一个缓存的值，函数内使用的变量改变时会自动重新执行函数，计算返回结果，内部使用的变量没有改变不会执行函数
        total () {
          console.log('计算属性 计算总价')
          let total = 0
          this.arr.forEach(item => {
            total += item.price * item.count
          })
          return total
        },
        fullTitle () {
          console.log('fullTitle')
          return `一级标题是${this.title},二级标题是${this.subTitle}`
        }
      },
      methods: {
        getTotal () {
          console.log('methods 计算总价')
          let total = 0
          this.arr.forEach(item => {
            total += item.price * item.count
          })
          return total
        }
      }
    })
  </script>
</body>
</html>