<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <script src="./vue.js"></script>
</head>
<style>
  li {
    border-bottom: 1px solid;
  }
</style>
<body>
  <div class="app">
    <input type="number" @keydown.13="add">
    <h3>完整列表</h3>
    <ul>
      <li v-for="item in arr">{{ item }}</li>
    </ul>
    <h3>偶数列表</h3>
    <ul>
      <!-- 不要再同一元素上同时使用 v-if 和 v-for, 改成计算属性 -->
      <!-- <li v-if="item % 2 === 0" v-for="item in arr">{{ item }}</li> -->
      <li v-for="item in evenArr">{{ item }}</li>
    </ul>
    <h3>奇数列表</h3>
    <ul>
      <li v-for="item in oddArr">{{ item }}</li>
    </ul>
  </div>
  <script>
    let vm = new Vue({
      el: '.app',
      data: {
        arr: []
      },
      // 计算属性
      computed: {
        evenArr () {
          return this.arr.filter(v => v % 2 === 0)
        },
        oddArr () {
          return this.arr.filter(v => v % 2 !== 0)
        }
      },
      methods: {
        add (e) {
          this.arr.push(e.target.value)
          e.target.value = ''
        }
      }
    })
  </script>
</body>
</html>