<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <script src="./vue.js"></script>
</head>
<style>
  li {
    border-bottom: 1px solid;
  }
</style>
<body>
  <div class="app">
    <button @click="num++">+1</button>
    <button @click="num+=2">+2</button> 
    <button @click="num+=3">+3</button> 
    {{ num }}
    <hr />
    <input type="text" v-model="obj.name">
    <button @click="obj.info.age++">age+</button>
    {{ obj }}
  </div>
  <script>
    let vm = new Vue({
      el: '.app',
      data: {
        num: 0,
        obj: {
          name: '晓明',
          info: {
            age: 20
          }
        }
      },
      // 监听变量改变
      watch: {
        num (newVal, oldVal) {
          // newVal: 改变后的值, oldVal：改变前值
          console.log('本次num增加了', newVal - oldVal)
        },
        // num: 'changeNum'
        // 'obj.name' (val, oldVal) {
        //   console.log('obj.name改变了', val, oldVal)
        // },
        // 'obj.info.age' (val, oldVal) {
        //   console.log('obj.info.age改变了', val, oldVal)
        // }
        // obj: {
        //   handler (val, oldVal) {
        //     console.log('obj 改变了', val, oldVal)
        //   },
        //   immediate: true, // 进入页面立即执行一次
        //   deep: true // 深度监听，监听引用类型内部属性的修改
        // },
        // 变量改变执行多个函数
        'obj.name': [
          function () {
            console.log('111111')
          },
          function () {
            console.log('2222')
          }
        ]
      },
      methods: {
        changeNum(newVal, oldVal) {
          console.log('本次num增加了', newVal - oldVal)
        }
      }
    })
  </script>
</body>
</html>