<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <script src="./vue.js"></script>
</head>
<style>
  * {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }
  html, body, .app {
    width: 100%;
    min-height: 100vh;
    background-image: linear-gradient(to bottom right, #ad5389, #3c1053)
  }
  header {
    display: flex;
    justify-content: center;
    padding: 40px;
  }
  header p {
    margin: 0 20px;
    font-size: 20px;
    color: #ffffff;
  }
  main {
    width: 80%;
    margin: 0 auto;
  }
  nav {
    display: flex;
    padding-left: 40px;
  }
  .nav-item {
    width: 108px;
    height: 46px;
    text-align: center;
    cursor: pointer;
    margin: 0 15px;
    color: #ffffff;
    border-top: 2px solid #000;
    position: relative;
  }
  .nav-item span {
    display: inline-block;
    width: 100px;
    height: 30px;
    line-height: 30px;
    position: relative;
    z-index: 1;
    margin-top: 6px;
  }
  .nav-item span:active {
    border-bottom: 2px solid #ffffff;
  }
  .nav-item::before, .nav-item::after {
    content: '';
    position: absolute;
    top: -2px;
    width: 30px;
    height: 100%;
    /* 
      定义变量 --变量名：值
      使用变量 background：var(css变量)
    */
    background: var(--background);
  }
  .nav-item::before {
    left: -15px;
    transform: skew(-25deg);
    border-radius: 6px 0 0 0;
    border-top: 2px solid #000;
    border-left: 2px solid #000;
  }
  .nav-item::after {
    right: -15px;
    transform: skew(25deg);
    border-radius: 0 6px 0 0;
    border-top: 2px solid #000;
    border-right: 2px solid #000;
  }
  .active {
    z-index: 2;
  }
  .active span {
    background: #ffffff;
    border: 2px solid #000;
    border-radius: 6px;
    color: #000;
  }
  .content {
    border: 2px solid #000;
    border-radius: 8px;
    padding: 15px;
    margin-top: -2px;
    position: relative;
    z-index: 1;
  }
  ul {
    border: 2px solid #000;
    border-radius: 2px;
    padding: 10px;
    min-height: 300px;
    background: #f9f9f9;
    background-image: linear-gradient(#e4e4e4 1px, transparent 1px);
    background-size: 8% 8%, 2px 2px;
  }
  li {
    list-style-type: none;
    margin-bottom: 20px;
    line-height: 30px;
    font-size: 20px;
  }
  .yellow .content {
    background-image: linear-gradient(to bottom, #f9d877, #fee9a5) !important;
  }
  .yellow .nav-item {
    background: #f9d877 !important;
  }
</style>
<body>
  <div class="app">
    <header>
      <p>
        <input type="radio" name="type" id="variety" :value="1" v-model="type">
        <label for="variety">多色</label>
      </p>
      <p>
        <input type="radio" name="type" id="single" :value="0" v-model="type">
        <label for="single">单色</label>
      </p>
    </header>
    <main :class="{ yellow: type === 0 }">
      <nav>
        <div
          v-for="(item, index) in tablist"
          :class="['nav-item', { active: curIndex === index }]"
          :style="{ background: item.color, '--background': type === 0 ? '#f9d877' : item.color }"
          @click="curIndex = index"
        >
          <span>{{ item.title }}</span>
        </div>
      </nav>
      <div class="content" :style="{ background: tablist[curIndex].color }">
        <ul>
          <li v-for="item in tablist[curIndex].desc">{{ item }}</li>
        </ul>
      </div>
    </main>
  </div>
  <script>
    
    new Vue({
      el: '.app',
      data: {
        type: 1,
        curIndex: 0, // 当前高亮下标
        tablist: [
          {
            title: '工作材料',
            color: '#af4d98',
            desc: [
              'Productize. Optics accountable talk. Thought shower. High performance keywords market-facing drink from the firehose, or you better eat a reality sandwich before you walk back in that boardroom, but accountable talk knowledge process outsourcing.',
              'What\'s our go to market strategy? cross functional teams enable out of the box brainstorming nor zeitgeist viral engagement. Deep dive. Organic growth quick sync, feed the algorithm.'
            ]
          },
          {
            title: '食物',
            color: '#d66ba0',
            desc: [
              'I love cheese, especially the big cheese gouda. Monterey jack red leicester roquefort cheese and wine fromage frais smelly cheese melted cheese dolcelatte. Fromage smelly cheese manchego paneer cheese and wine danish fontina macaroni cheese red leicester.',
              'Stilton fondue queso emmental when the cheese comes out everybody\'s happy croque monsieur queso paneer. Say cheese pecorino swiss boursin halloumi cottage cheese taleggio boursin.'
            ]
          },
          {
            title: '烘烤',
            color: '#e5a9a9',
            desc: [
              'Cupcake ipsum dolor sit amet jujubes tart. Tiramisu icing gingerbread halvah cake. Marzipan cake soufflé cookie brownie ice cream cupcake. Dragée croissant bonbon ice cream oat cake jelly cookie. Wafer candy dessert jelly jelly-o.',
              'Oat cake donut powder pastry wafer brownie cupcake caramels bear claw. Bonbon caramels oat cake cake shortbread. Cake cheesecake candy icing bear claw marshmallow icing jelly. Halvah biscuit pudding danish cookie bonbon gummies.'
            ]
          },
          {
            title: '猫咪',
            color: '#6cb6bb',
            desc: [
              'Miaow then turn around and show you my bum flee in terror at cucumber discovered on floor. Terrorize the hundred-and-twenty-pound rottweiler and steal his bed, not sorry sleep on dog bed, force dog to sleep on floor and grab pompom in mouth and put in water dish cats are fats i like to pets them they like to meow back present belly, scratch hand when stroked.',
              'Bleghbleghvomit my furball really tie the room together love asdflkjaertvlkjasntvkjn (sits on keyboard) but bawl under human beds.'
            ]
          }
        ]
      }
    })

  </script>
</body>
</html>