<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <script src="./vue.js"></script>
  <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
</head>
<style>
  li {
    border-bottom: 1px solid;
  }
  td, th {
    width: 80px;
  }
  .active {
    background: tomato;
    color: #fff;
  }
</style>
<body>
  <div class="app">
    <h1>分页</h1>
    <table border="1">
      <thead>
        <tr>
          <th>id</th>
          <th>姓氏</th>
          <th>名字</th>
          <th>年龄</th>
          <th>性别</th>
        </tr>
      </thead>
      <tbody>
        <tr v-for="item in list">
          <td>{{ item.id }}</td>
          <td>{{ item.firstName }}</td>
          <td>{{ item.lastName }}</td>
          <td>{{ item.age }}</td>
          <td>{{ item.sex }}</td>
        </tr>
      </tbody>
    </table>
    <footer>
      <button
        v-for="num in totalPage"
        :class="{ active: query.page === num }"
        @click="query.page = num"
      >{{ num }}</button>
    </footer>
    <select v-model="query.pagesize">
      <option :value="10">每页 10 条</option>
      <option :value="20">每页 20 条</option>
      <option :value="30">每页 30 条</option>
      <option :value="40">每页 40 条</option>
      <option :value="50">每页 50 条</option>
    </select>
  </div>
  <script>
    let vm = new Vue({
      el: '.app',
      data: {
        list: [],
        query: {
          page: 1,
          pagesize: 10,
        },
        total: 0
      },
      computed: {
        totalPage () {
          return Math.ceil(this.total / this.query.pagesize)
        }
      },
      watch: {
        query: {
          handler: 'getlist',
          immediate: true,
          deep: true
        },
        'query.pagesize': function () {
          this.query.page = 1
        }
      },
      methods: {
        async getlist () {
          const res = await axios.post('http://192.168.1.124:3000/getlist', this.query)
          this.list = res.data.data
          this.total = res.data.total
        }
      }
    })
  </script>
</body>
</html>