<template>
  <div>
    按钮组件
    <button @click="$emit('handleClick', 2)">+ {{ n }}</button>
  </div>
</template>

<script>
export default {
  name: 'NumButton',
  props: ['n'],
  data () {
    return {
      title: 'NumButton组件'
    }
  },
  mounted () {
    console.log(this.$parent) // 可以获取父级组件实例对象
  }
}
</script>

<style>

</style>
