* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
li {
  list-style-type: none;
}
html, body, #root {
  width: 100%;
  min-height: 100vh;
  background: #cccccc;
}
main {
  display: flex;
  flex-wrap: wrap;
  min-height: 300px;
}
.box {
  width: 50%;
  border: 1px solid;
  position: relative;
}
li {
  background: #999;
  line-height: 30px;
}
.loading {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba($color: #000000, $alpha: .5);
  color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
}