.wrap {
  flex: 4;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  padding: 40px 0;
}
.btn {
  width: 70px;
  text-align: center;
  p {
    width: 100%;
    height: 26px;
    background: #000000;
    padding: 2px;
    cursor: pointer;
    &::after {
      content: '';
      display: block;
      width: 33px;
      height: 22px;
      background: blue;
    }
    &.on::after {
      float: right;
    }
  }
}
.title {
  width: 100px;
  height: 30px;
  background: #999999;
  text-align: center;
  line-height: 30px;
}
.volume {
  width: 180px;
  height: 8px;
  background: #000000;
  position: relative;
  i {
    position: absolute;
    left: 0;
    top: -5px;
    width: 10px;
    height: 20px;
    background: blue;
    cursor: pointer;
  }
}