<script setup>
import usePlayer from '../../stores/usePlay'
import { watch, ref } from 'vue'
const playStore = usePlayer()
const audio = ref('audio')
const isPaused = ref(false)
const showlist = ref(false)
const play = () => {
  if (audio.value.paused) {
    audio.value.play()
  } else {
    audio.value.pause()
  }
  isPaused.value = !isPaused.value
}
</script>

<template>
  <div class="player">
    <div class="hand">
      <i></i>
    </div>
    <div class="content">
      <button @click="play">{{ isPaused ? '播放' : '暂停' }}</button>
      <button @click="showlist = !showlist">播放列表</button>
      <ul class="list" v-show="showlist">
        <li
          v-for="(item, index) in playStore.songs"
          :key="item.id"
          :class="{ active: playStore.curIndex === index }"
          @click="playStore.curIndex = index"
        >
          <b>正在播放</b>
          {{ item.name }} / <span v-for="val in item.ar" :key="val.id">{{ val.name }}</span>
        </li>
      </ul>
    </div>
    <audio ref="audio" v-if="playStore.curSong" :src="playStore.curSong.url" autoplay></audio>
  </div>
</template>

<style lang='scss' scoped>
.player {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 53px;
  z-index: 999;
  background: url(https://s2.music.126.net/style/web2/img/frame/playbar.png?790346da2d2a5598db93590f7a5c827e) repeat-x 0 0;
  transform: translateY(48px);
  transition: transform 0.3s linear;
  &:hover {
    transform: translateY(0);
  }
}
.content {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  button {
    margin: 0 10px;
  }
  .list {
    position: absolute;
    bottom: 50px;
    left: 50%;
    transform: translateX(-50%);
    width: 500px;
    height: 300px;
    background: orange;
    overflow: auto;
    li {
      line-height: 30px;
      border-bottom: 1px solid;
      cursor: pointer;
      b {
        display: none;
      }
      &.active {
        background: tomato;
        b {
          display: inline;
        }
      }
    }
  }
}
.hand {
  height: 20px;
  position: absolute;
  top: -10px;
  left: 0;
  width: 100%;
  i {
    float: right;
    width: 52px;
    height: 67px;
    background: url(https://s2.music.126.net/style/web2/img/frame/playbar.png?790346da2d2a5598db93590f7a5c827e) no-repeat 0 -380px;
  }
}
</style>

