<template>
  <div class="carousel">
    <div
      class="carousel-inner"
      :style="{ transform: 'translateX(' + offset + 'px)' }"
    >
      <div class="carousel-item" ref="carouselItem" v-for="(item, index) in items" :key="index">
        <img :src="item.src" :alt="item.alt" />
      </div>
    </div>
    <button class="carousel-prev" @click="prev">《</button>
    <button class="carousel-next" @click="next">》</button>
  </div>
</template>

<script>
export default {
  data () {
    return {
      currentIndex: 0,
      offset: 0,
      items: [
        { src: 'https://img0.baidu.com/it/u=3007048469,3759326707&fm=253&fmt=auto&app=138&f=JPEG?w=889&h=500', alt: 'Image 2' },
        { src: 'https://img0.baidu.com/it/u=1705694933,4002952892&fm=253&fmt=auto&app=138&f=JPEG?w=500&h=281', alt: 'Image 1' },
        { src: 'https://img1.baidu.com/it/u=407852637,3650486136&fm=253&fmt=auto&app=138&f=JPEG?w=800&h=500', alt: 'Image 3' },
        { src: 'https://img2.baidu.com/it/u=345670089,3951600800&fm=253&fmt=auto&app=138&f=JPEG?w=889&h=500', alt: 'Image 4' }
      ]
    }
  },
  computed: {
    itemCount () {
      return this.items.length
    },
    nextIndex () {
      return (this.currentIndex + 1) % this.itemCount
    },
    prevIndex () {
      return (this.currentIndex - 1 + this.itemCount) % this.itemCount
    }
  },
  methods: {
    next () {
      this.currentIndex = this.nextIndex
      this.offset = -this.$refs.carouselItem[this.currentIndex].offsetLeft
    },
    prev () {
      this.currentIndex = this.prevIndex
      this.offset = -this.$refs.carouselItem[this.currentIndex].offsetLeft
    }
  }
}
</script>

<style scoped>
.carousel {
  position: relative;
  width: 100%;
  overflow: hidden;
}

.carousel-inner {
  display: flex;
  width: 100%;
  transition: transform 0.3s ease-in-out;
}

.carousel-item {
  flex-shrink: 0;
  width: 100%;
}

.carousel-prev,
.carousel-next {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 40px;
  height: 40px;
  font-size: 20px;
  color: #fff;
  background-color: rgba(0, 0, 0, 0.5);
  border: none;
  border-radius: 50%;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
}

.carousel-prev:hover,
.carousel-next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

.carousel-prev {
  left: 20px;
}

.carousel-next {
  right: 20px;
}
</style>
