<template>
  <div class="about">
    <h1>This is an about page</h1>
    <button @click="changeNum(3)">Num++</button> {{ num }}
    <hr />
    {{ list }}
    <hr />
    {{ goods }}
    <button @click="add(2)">count+</button>
    <hr />
    <button @click="addAge">age+</button>
    {{ userInfo }}
  </div>
</template>

<script>
import { mapMutations, mapState, mapGetters } from 'vuex'
export default {
  computed: {
    ...mapState(['num', 'list', 'goods']),
    ...mapGetters(['userInfo'])
    // userInfo () { // 获取仓库中的getters数据
    //   return this.$store.getters.userInfo
    // }
    // userInfo () {
    //   return `我叫${this.username},性别${this.sex},今年${this.age}岁`
    // }
    // num () {
    //   return this.$store.state.num
    // },
    // list () {
    //   return this.$store.state.list
    // },
    // goods () {
    //   return this.$store.state.goods
    // }
  },
  methods: {
    // 使用辅助函数把 vuex 中的 mutation 函数引入到组件的方法中
    ...mapMutations(['changeNum', 'addAge']),
    ...mapMutations({
      add: 'addCount'
    })
    // changeNum (n) {
    //   // 通过store的方法修改store中的数据
    //   this.$store.commit('changeNum', n)
    // },
    // add (m) {
    //   this.$store.commit('addCount', m)
    // }
  },
  created () {
    this.changeNum(100)
  }
}
</script>
