<template>
  <div class="home">
    <h2>首页</h2>
    <button @click="sub">-</button>
    数量：{{ num }}
    <hr />
    <input type="text" @keydown.enter="add">
    <ul>
      <li v-for="item in list" :key="item.id">
        {{ item.text }}
        <button @click="remove(item.id)">删除</button>
      </li>
    </ul>
    {{ userInfo }}
  </div>
</template>

<script>
import { mapState } from 'vuex'

export default {
  data () {
    return {
      username: 'aaaa'
    }
  },
  computed: {
    // 使用 mapState 辅助函数简化获取仓库数据的操作
    ...mapState(['num', 'list']),
    ...mapState({
      user: state => state.username,
      userage: state => state.age,
      usersex: state => state.sex,
      userInfo: state => {
        return {
          user: state.username,
          age: state.age,
          sex: state.sex
        }
      }
    })
    // num () {
    //   return this.$store.state.num
    // },
    // list () {
    //   return this.$store.state.list
    // },
    // username1 () {
    //   return this.$store.state.username
    // },
    // age () {
    //   return this.$store.state.age
    // },
    // sex () {
    //   return this.$store.state.sex
    // }
  },
  methods: {
    sub () {
      this.$store.commit('changeNum', -1)
    },
    add (e) {
      this.$store.commit('addList', e.target.value)
      e.target.value = ''
    },
    remove (id) {
      this.$store.commit('remove', id)
    }
  },
  created () {
    console.log(this.$store.state.num)
  }
}
</script>
