<template>
  <div>
    <h1>App</h1>
    <!-- 在组件的根元素上绑定原生事件 -->
    <Test @click.native="handleClick" />
  </div>
</template>

<script>
import Test from './components/Test.vue'
export default {
  components: {
    Test
  },
  methods: {
    handleClick () {
      console.log('点击组件')
    }
  }
}
</script>

<style>

</style>
