<template>
  <div class="box">
    <h3>child11111111</h3>
  </div>
</template>

<script>
export default {
  beforeDestroy () {
    console.log('Child1111111 销毁前')
  },
  destroyed () {
    console.log('Child1111111 销毁后')
  }
}
</script>

<style>

</style>
