<template>
  <div class="box">
    <h3>{{title}} -- {{ num }}</h3>
    <input type="text" v-model="title">
    <button @click="$emit('click')">+</button>
    <Child1 />
  </div>
</template>

<script>
import Child1 from './Child1.vue'
export default {
  props: ['num'],
  components: {
    Child1
  },
  data () {
    return {
      title: 'Child'
    }
  },
  // beforeCreate () {
  //   console.log('Child == beforeCreate')
  // },
  // created () {
  //   console.log('Child == created')
  // },
  // beforeMount () {
  //   console.log('Child == beforeMount')
  // },
  // mounted () {
  //   console.log('Child == mounted')
  // },
  // beforeUpdate () {
  //   console.log('Child == beforeUpdate')
  // },
  // updated () {
  //   console.log('Child == updated')
  // }
  beforeDestroy () {
    console.log('Child 销毁前')
  },
  destroyed () {
    console.log('Child 销毁后')
  }
}
</script>

<style>

</style>
