.wrap {
  padding: 20px 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  p {
    width: 110px;
    height: 110px;
    background: #eeeeee;
    margin: 15px calc((100% - 220px) / 4);
    border-radius: 10px;
    border-bottom: 5px solid #cccccc;
    border-left: 5px solid #dddddd;
    border-right: 5px solid #dddddd;
    display: flex;
    padding: 10px;
  }
  span {
    width: 20px;
    height: 20px;
    background: #333333;
    border-radius: 50%;
  }
  .dice1 {
    justify-content: center;
    align-items: center;
  }
  .dice2 {
    justify-content: space-between;
    span:last-of-type {
      align-self: flex-end;
    }
  }
  .dice3 {
    justify-content: space-between;
    span:nth-child(2) {
      align-self: center;
    }
    span:last-of-type {
      align-self: flex-end;
    }
  }
  .dice4, .dice6 {
    flex-wrap: wrap;
    align-content: space-between;
    span:nth-child(odd) {
      margin-right: 40px;
    }
  }
  .dice5 {
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: space-between;
    span:nth-child(3) {
      margin: 0 30px;
    }
  }
}