<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <script src="./vue.js"></script>
</head>
<style>
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  html, body, .app {
    width: 100%;
    height: 100%;
    background: #e3e2e2b3;
    overflow: hidden;
  }
  main {
    width: 80%;
    padding: 30px;
    background: #ffffff;
    margin: 150px auto 0;
  }
  nav {
    display: flex;
  }
  nav p {
    margin-right: 20px;
    border: 1px solid red;
    color: red;
    padding: 5px 10px;
    font-size: 14px;
    cursor: pointer;
  }
  nav .active {
    background: red;
    color: #ffffff;
  }
  img {
    width: 100%;
    /* 基线对齐方式 */
    vertical-align: middle;
  }
  ul {
    display: flex;
    flex-wrap: wrap;
  }
  li {
    list-style: none;
    width: calc((100% - 60px) / 4);
    margin-top: 20px;
    cursor: pointer;
    margin-right: 20px;
    position: relative;
  }
  li:nth-child(4n) {
    margin-right: 0;
  }
  li span {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    color: #ffffff;
    display: none;
  }
  li:hover span {
    display: flex;
  }
  .dialog {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
  }
  .center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 60%;
  }
  .prev, .next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 80px;
    height: 80px;
    border-radius: 50%;
    border: 3px solid #ffffff;
    text-align: center;
    line-height: 74px;
    font-weight: bold;
    color: #ffffff;
    cursor: pointer;
  }
  .prev:hover, .next:hover {
    background: rgba(0, 0, 0, 0.6);
  }
  .prev {
    left: 50px;
  }
  .next {
    right: 50px;
  }
</style>
<body>
  <div class="app">
    <main>
      <nav>
        <p
          v-for="item in nav"
          :class="{ active: curType === item.type }"
          @click="curType = item.type"
        >{{ item.title }}</p>
      </nav>

      <ul>
        <li v-for="(item, index) in curList" @click="showIndex = index">
          <img :src="item.url" alt="">
          <span>{{ item.title }}</span>
        </li>
      </ul>
    </main>

    <div class="dialog" v-if="showIndex !== null" @click.self="showIndex = null">
      <div class="prev" @click="showIndex--">prev</div>
      <div class="center">
        <img :src="curList[showIndex].url" alt="">
      </div>
      <div class="next" @click="showIndex++">next</div>
    </div>
    
  </div>

  <script>
    let vm = new Vue({
      el: '.app',
      data: {
        showIndex: null,
        curType: 0,
        nav: [
          {
            title: '全部',
            type: 0,
          },
          {
            title: '热血',
            type: 1,
          },
          {
            title: '冒险',
            type: 2,
          },
          {
            title: '竞技',
            type: 3,
          }
        ],
        imgs: [
          {
            title: '火影忍者',
            type: 1, // 1: 热血, 2: 冒险, 3: 竞技
            url: 'https://www.jq22.com/demo/tab202012021404/assets/images/t1.png'
          },
          {
            title: '海贼王',
            type: 2,
            url: 'https://www.jq22.com/demo/tab202012021404/assets/images/t2.png'
          },
          {
            title: '数码宝贝',
            type: 3,
            url: 'https://www.jq22.com/demo/tab202012021404/assets/images/t3.png'
          },
          {
            title: '妖精的尾巴',
            type: 1,
            url: 'https://www.jq22.com/demo/tab202012021404/assets/images/t4.png'
          },
          {
            title: '七龙珠',
            type: 1,
            url: 'https://www.jq22.com/demo/tab202012021404/assets/images/t5.png'
          },
          {
            title: '死神',
            type: 2,
            url: 'https://www.jq22.com/demo/tab202012021404/assets/images/t6.png'
          },
          {
            title: '星游记',
            type: 2,
            url: 'https://www.jq22.com/demo/tab202012021404/assets/images/t7.png'
          },
          {
            title: '光能使者',
            type: 3,
            url: 'https://www.jq22.com/demo/tab202012021404/assets/images/t8.png'
          }
        ]
      },
      watch: {
        showIndex (val) {
          console.log(this)
          if (val > this.curList.length - 1) {
            this.showIndex = 0
          } else if (val < 0) {
            this.showIndex =this.curList.length - 1
          }
        }
      },
      computed: {
        curList () {
          if (this.curType === 0) return this.imgs
          return this.imgs.filter(item => item.type === this.curType)
        }
      }
    })
  </script>
</body>
</html>