* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.bg {
  background: tomato;
  border: 5px solid skyblue;
}
li {
  list-style-type: none;
}
.list {
  width: 300px;
  height: 300px;
  background: tomato;
  overflow: auto;
  li {
    line-height: 60px;
    border-bottom: 1px solid #eeeeee;
  }
}