<script setup>
import { reactive, ref, nextTick } from 'vue'
// 定义响应式对象或数组
const obj = reactive({
  name: '晓明',
  age: 20,
  info: {
    a: {
      b: {
        c: 100
      }
    }
  }
})
const addAge = () => {
  obj.age++
}
const arr = reactive([1, 2, 3])
const addArr = () => {
  arr.push(arr[arr.length - 1] + 1)
  // vue3 中数组可以监听下标和length属性的改变
  // arr[1] = 1
  // arr.length = 0
}

// 定义响应式基础类型变量
const xm = ref({
  name: '小王'
})
const title = ref('vue3') // 返回ref对象
const changeTitle = (e) => {
  // 在js中使用或者修改ref变量，需要通过value属性获取和修改
  title.value = e.target.value
  nextTick(() => {
    // 页面更新后执行，可以获取到最新的dom
    console.log(document.querySelector('h2').innerHTML)
  })
}
const obj1 = {
  num: ref(0)
}
const { num } = obj1 // 可以解构出响应式数据
const addNum = () => {
  console.log(obj1.num.value++)
}
const count = ref(0)
const state = reactive({
  count
})
const addCount = () => {
  state.count++ // count.value++
}
</script>

<template>
  <div>
    {{ obj }}
    <p>{{ obj.info.a.b.c }} <button @click="obj.info.a.b.c++">+</button></p>
    <p>姓名: <input type="text" v-model="obj.name"> {{ obj.name }}</p>
    <p>年龄: {{ obj.age }} <button @click="addAge">+</button></p>
  </div>
  <button @click="addArr">add</button>
  <ul>
    <li v-for="item in arr" :key="item">{{ item }}</li>
  </ul>
  <hr />
  <input type="text" :value="title" @input="changeTitle">
  <h2>{{ title }}</h2>
  <input type="text" v-model="xm.name">
  {{ xm  }}
  <hr />
  {{ num }}
  <button @click="addNum">+</button>
  <hr />
  <button @click="addCount">{{ count }}</button>
  {{ state }}
</template>

<style lang="scss" scoped>
h1 {
  color: red;
}

</style>
