<template>
  <div class="app">
    <Header v-if="topList.length > 0" :list="topList" @change="change" @click="changeShow" />
    <Mark v-if="showMatk" :list="topList" @close="showMatk = false" />
    <main>
      <div
        v-for="item in list"
        :key="item.title"
        :class="['bottle', { active: item.checked }]"
      >
        <img :src="item.src" alt="">
        <h3>{{ item.title }}</h3>
        <p>{{ item.price }}</p>
        <button>Add To Cart</button>
        <div class="add" @click="change(item)">{{ item.checked ? '✅' : '+' }}</div>
      </div>
    </main>
  </div>
</template>

<script>
import Header from './components/Header.vue'
import Mark from './components/Mark.vue'
import axios from 'axios'
export default {
  data () {
    return {
      list: [], // 所有数据
      topList: [], // 选中的数据
      showMatk: false
    }
  },
  methods: {
    change (item) {
      if (this.topList.length >= 3 && !item.checked) return
      // 给vue对象添加新的响应式属性
      this.$set(item, 'checked', !item.checked)
      if (item.checked) {
        this.topList.push(item)
      } else {
        const index = this.topList.findIndex(val => val.title === item.title)
        this.topList.splice(index, 1)
      }
    },
    changeShow (show) {
      this.showMatk = show
    }
  },
  async mounted () {
    const res = await axios.get('/api/list')
    this.list = res.data
  },
  components: {
    Header,
    Mark
  }
}
</script>

<style lang="scss">
@import 'animate.css';
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
li {
  list-style: none;
}
html, body, .app {
  width: 100%;
  height: 100%;
  background: #2a2b2f;
}
main {
  width: 80%;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 50px;
}
.bottle {
  background: #242529;
  width: calc((100% - 60px) / 4);
  margin-bottom: 24px;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 10px;
  padding: 15px 15px 20px;
  position: relative;
  img {
    width: 80%;
  }
  h3 {
    color: #cecece;
    font-size: 16px;
    height: 40px;
    text-align: center;
    margin: 15px 0 20px;
  }
  p {
    color: #787de6;
    font-weight: bold;
    margin-bottom: 14px;
  }
  button {
    width: 100px;
    height: 36px;
    background: #2c2d33;
    outline: none;
    border: none;
    color: #cecece;
  }
  .add {
    position: absolute;
    right: 10px;
    top: 10px;
    width: 20px;
    height: 20px;
    font-size: 20px;
    line-height: 20px;
    color: #cecece;
    cursor: pointer;
  }
  &:hover {
    img {
      animation: wobble;
      animation-duration: 1s;
    }
  }
  &.active {
    border: 1px solid #5c62d8;
  }
}
</style>
