<template>
  <div class="box">
    <h2>child1</h2>
    <Child11 />
  </div>
</template>

<script>
import Child11 from './Child11.vue'
export default {
  components: {
    Child11
  }
}
</script>

<style>

</style>
