<template>
  <div class="box">
    <h3>child22</h3>
    <p>分数：{{ num }}</p>
  </div>
</template>

<script>
export default {
  data () {
    return {
      num: 0
    }
  },
  methods: {
    changeNum (n) {
      this.num += n
      console.log('调用changeNum', n)
    }
  },
  mounted () {
    this.$bus.$on('changeNum', this.changeNum)
  }
}
</script>

<style>

</style>
