<template>
  <div class="box">
    <h2>Child2</h2>
    <Child22 />
  </div>
</template>

<script>
import Child22 from './Child22.vue'
export default {
  components: {
    Child22
  }
}
</script>

<style>

</style>
