<template>
  <div class="box">
    <h3>child11</h3>
    <button @click="add">+1</button>
    <button @click="sub">-1</button>
  </div>
</template>

<script>
export default {
  methods: {
    add () {
      console.log(this.$bus)
      this.$bus.$emit('changeNum', 1)
    },
    sub () {
      this.$bus.$emit('changeNum', -1)
    }
  }
}
</script>

<style>

</style>
