<script setup>
import { ref, reactive } from 'vue'
import Header from './components/Header.vue'
import Footer from './components/Footer.vue'
import Child from './components/Child.vue'
const curname = ref('header')
const arr = reactive([
  {
    title: 'header组件',
    name: 'header'
  },
  {
    title: 'footer组件',
    name: 'footer'
  },
  {
    title: 'child组件',
    name: 'child'
  }
])
</script>

<template>
  <button
    v-for="item in arr"
    :key="item.name"
    :class="{ active: curname === item.name }"
    @click="curname = item.name"
  >{{ item.title }}</button>

  <KeepAlive include="Child">
    <Header v-if="curname === 'header'" />
    <Footer v-else-if="curname === 'footer'" />
    <Child v-else />
  </KeepAlive>
</template>

<style lang='scss'>
.box {
  padding: 40px;
  border: 1px solid;
}
.active {
  background: orange;
}
</style>
