.chip_wrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px;
}
.left {
  width: 120px;
  height: 120px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-content: space-between;
  img {
    width: 55px;
    height: 55px;
  }
}
.right {
  width: 110px;
  height: 110px;
  background: url(../../assets/put-chips.png) no-repeat;
  background-size: contain;
  text-align: center;
  line-height: 110px;
  color: yellow;
}