<template>
  <div class="app">
    <button @click="show = !show">{{ show ? '隐藏' : '显示' }}</button>
    <!-- 在显示或隐藏时特定的时机自动添加类名，动画需要在css中自定义 -->
    <transition
      enter-active-class="animate__animated animate__lightSpeedInRight"
      leave-active-class="animate__animated animate__hinge"
      @before-enter="beforeEnter"
      @enter="enter"
      @after-enter="afterEnter"
      @enter-cancelled="enterCancelled"
    >
      <div v-if="show" class="box">第三方动画库</div>
    </transition>
  </div>
</template>

<script>
export default {
  data () {
    return {
      show: true
    }
  },
  methods: {
    beforeEnter () {
      console.log('进入动画开始之前')
    },
    enter () {
      console.log('进入动画开始')
    },
    afterEnter () {
      console.log('进入动画结束')
    },
    enterCancelled () {
      console.log('进入动画取消')
    }
  }
}
</script>

<style lang="scss">
@import 'animate.css';
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.animate__animated.animate__lightSpeedInRight {
  --animate-duration: 5s;
}
.box {
  width: 300px;
  font-size: 30px;
  margin: 100px auto;
  text-align: center;
  background: red;
  &:hover {
    animation: rubberBand; /* referring directly to the animation's @keyframe declaration */
    animation-duration: 2s; /* don't forget to set a duration! */
  }
}
</style>
