<template>
  <el-result>
    <template slot="icon">
      <el-image src="https://img0.baidu.com/it/u=3487108568,2054368074&fm=253&fmt=auto&app=138&f=JPG?w=700&h=434"></el-image>
    </template>
    <template slot="extra">
      <router-link to="/">
        <el-button type="primary" size="medium">返回首页</el-button>
      </router-link>
    </template>
  </el-result>
</template>

<script>
export default {

}
</script>

<style>

</style>
