<template>
  <div class="page">
    <van-nav-bar
      title="选择地址"
      left-text="返回"
      left-arrow
      @click-left="$router.back()"
    />
    <van-empty
      v-if="addressList.length === 0"
      class="empty-image"
      image="https://img01.yzcdn.cn/vant/custom-empty-image.png"
      description="快添加收获地址吧"
    />
    <van-address-list
      :value="curAddress.id"
      :list="addressList"
      @add="onAdd"
      @edit="onEdit"
      @select="onSelect"
    />
  </div>
</template>

<script>
import { mapState, mapMutations } from 'vuex'
export default {
  computed: {
    ...mapState('address', ['addressList', 'curAddress'])
  },
  methods: {
    ...mapMutations('address', ['changeAddress']),
    onAdd () {
      this.$router.push('/edit')
    },
    onEdit (item) {
      this.$router.push({
        path: '/edit',
        query: {
          id: item.id
        }
      })
    },
    onSelect (item) {
      this.changeAddress(item)
      this.$router.back()
    }
  }
}
</script>

<style lang="scss" scoped>
.page {
  background: #f7f8fa;
}
// 在 scoped 内修改全局样式或者UI组件的样式需要样式穿透
.empty-image ::v-deep .van-empty__image {
  width: 90px;
  height: 90px;
}
</style>
