<template>
  <header>
    <button :disabled="list.length < 2" @click="$emit('click', true)">比较</button>
    <ul>
      <li v-for="item in list" :key="item.title">
        <img :src="item.src" alt="">
        <span @click="$emit('change', item)">x</span>
      </li>
      <li v-if="list.length < 3"></li>
    </ul>
  </header>
</template>

<script>
export default {
  props: ['list']
}
</script>

<style lang="scss" scoped>
header {
  width: 100%;
  height: 60px;
  position: fixed;
  top: 0;
  left: 0;
  background: rgba($color: #333333, $alpha: .4);
  z-index: 1;
  padding: 8px;
  display: flex;
  flex-direction: row-reverse;
  color: orange;
  img {
    width: 100%;
    vertical-align: middle;
  }
  button {
    width: 80px;
    margin-left: 10px;
    background: #484ec0;
    color: #ffffff;
    border: none;
    border-radius: 5px;
    &:disabled {
      background: #34363c;
      color: #575b6a;
    }
  }
  ul {
    display: flex;
    flex-direction: row-reverse;
    li {
      width: 44px;
      height: 44px;
      background: #42444e;
      margin-left: 10px;
      border-radius: 4px;
      padding: 4px;
      position: relative;
      span {
        position: absolute;
        top: 0;
        right: 0;
        width: 16px;
        height: 16px;
        line-height: 16px;
        font-size: 12px;
        text-align: center;
        cursor: pointer;
      }
    }
  }
}
</style>
