<template>
  <div class="mark">
    <div class="list">
      <transition
        v-for="(item, index) in list"
        :key="item.title"
        :enter-active-class="`animate__animated ${index % 2 === 0 ? 'animate__fadeInDownBig' : 'animate__fadeInUpBig'}`"
        :leave-active-class="`animate__animated ${index % 2 === 0 ? 'animate__fadeOutDownBig' : 'animate__fadeOutUpBig'}`"
        @after-leave="afterLeave"
      >
        <div class="item" v-if="show">
          <img :src="item.src" alt="">
          <h3>{{ item.title }}</h3>
          <h3>{{ item.price }}</h3>
        </div>
      </transition>
    </div>
    <div class="close" @click="close">x</div>
  </div>
</template>

<script>
export default {
  props: ['list'],
  data () {
    return {
      show: false
    }
  },
  methods: {
    close () {
      this.show = false
    },
    afterLeave () {
      console.log('动画执行完毕')
      this.$emit('close')
    }
  },
  mounted () {
    this.show = true
  }
}
</script>

<style lang="scss" scoped>
.mark {
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: 10;
}
.list {
  display: flex;
  height: 100%;
}
.item {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #cecece;
  &:nth-child(odd) {
    background: #242529;
  }
  &:nth-child(even) {
    background: #212226;
  }
}
.close {
  position: absolute;
  right: 20px;
  top: 20px;
  width: 30px;
  height: 30px;
  text-align: center;
  line-height: 30px;
  font-size: 20px;
  font-weight: bold;
  color: #cecece;
  cursor: pointer;
}
</style>
