.home {
  background: #ccc;
}
.home :global(.ant-btn) {
  height: 100px;
}
.btn {
  width: 300px;
}
.table {
  border: 3px solid tomato;
}
.table :global(.ant-pagination-prev .ant-pagination-item-link) {
  background: teal;
}