.swiper {
  width: 100%;
  overflow: hidden;
  position: relative;
}
.swiper-container {
  display: flex;
}
.swiper-slide {
  flex: 1;
}
.pagination {
  position: absolute;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  justify-content: center;
  align-items: center;
  span {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background: #fff;
    cursor: pointer;
    margin: 0 5px;
    &.active {
      background: tomato;
    }
  }
}
.prev, .next {
  position: absolute;
  top: 50%;
  width: 50px;
  height: 50px;
  background: rgba($color: #ffffff, $alpha: .6);
  transform: translateY(-50%);
  text-align: center;
  line-height: 50px;
  cursor: pointer;
}
.prev {
  left: 0;
}
.next {
  right: 0;
}