<script setup>
import User from './components/User.vue'
import Dice from './components/Dice.vue'
import Chip from './components/Chip.vue'
import Footer from './components/Footer.vue'

</script>

<template>
  <div class="app">
    <User />
    <Dice />
    <Chip />
    <Footer />
  </div>
</template>

<style lang='scss'>
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.app {
  width: 100vw;
  height: 100vh;
}
</style>
