<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <script src="./vue.js"></script>
</head>
<body>

  <div class="app">
    <h1>{{ title }}</h1>
    <button-counter></button-counter>
    <button-counter></button-counter>
    <button-counter></button-counter>
    <button-counter></button-counter>
    <button-counter></button-counter>
    <button-counter></button-counter>
    <test></test>
  </div>


  <script>
    // 组件：封装公用的排版样式和逻辑
    // 1. 页面和逻辑复用，减少重复的代码逻辑和排版
    // 2. 方便后期维护

    const Test = {
      template: '<div><input type="text" v-model="text">{{text}}</div>',
      data () {
        return {
          text: '测试'
        }
      }
    }


    // 注册全局组件，可以在任意地方直接使用
    Vue.component('button-counter', {
      template: `<div>
        <button @click="addNum">按钮点击次数{{num}}</button>  
        <ul>
          <li>1</li>
          <li>2</li>
          <li>3</li>
          <li>4</li>
          <li>5</li>
          <li>6</li>
          <li>7</li>
          <li>8</li>
          <li>9</li>
          <li>10</li>
        </ul>
      </div>`,
      data() {
        return {
          num: 0
        }
      },
      methods: {
        addNum() {
          this.num ++
        }
      },
    })


    new Vue({
      el: '.app',
      data: {
        title: '组件基础'
      },
      // 注册局部组件，只能在注册的模版中使用
      components: {
        test: Test
      }
    })

  </script>
</body>
</html>