<script setup>
import { reactive, ref, nextTick, computed } from 'vue'
const title = ref('学习Vue3')

const list = reactive([
  {
    name: '苹果',
    price: 10,
    count: 1
  },
  {
    name: '梨',
    price: 20,
    count: 1
  }
])
// 定义计算属性, 返回一个ref对象，js中使用时需要通过 value 属性
const total = computed(() => {
  return list.reduce((prev, val) => prev + val.count * val.price, 0)
})
</script>

<template>
  <h1>{{ title }}</h1>
  <ul>
    <li v-for="item in list" :key="item.name">
      <h3>{{ item.name }}</h3>
      <p>价格: ¥{{ item.price }}</p>
      <button @click="item.count--">-</button>
      {{ item.count }}
      <button @click="item.count++">+</button>
    </li>
  </ul>
  <footer>总价: {{ total }}</footer>
</template>

<style lang="scss" scoped>
h1 {
  color: red;
}

</style>
