<template>
  <div class="page">
    <van-nav-bar
      :title="editInfo.title"
      left-text="返回"
      left-arrow
      @click-left="$router.back()"
    />
    <van-address-edit
      :address-info="addressInfo"
      :area-list="areaList"
      :show-delete="editInfo.showDelete"
      show-search-result
      :search-result="searchResult"
      :area-columns-placeholder="['请选择', '请选择', '请选择']"
      :save-button-text="editInfo.saveButtonText"
      @save="onSave"
      @delete="onDelete"
      @change-detail="onChangeDetail"
      @change-area="onChangeArea"
    />
  </div>
</template>

<script>
import { areaList } from '@vant/area-data'
import { Toast } from 'vant'
import { mapMutations, mapState } from 'vuex'
import axios from 'axios'

export default {
  data () {
    return {
      areaList, // 省市县数据
      searchResult: [], // 搜索结果
      region: ''
    }
  },
  computed: {
    ...mapState('address', ['addressList']),
    addressInfo () {
      return this.addressList.find(item => item.id === Number(this.$route.query.id))
    },
    editInfo () {
      if (this.$route.query.id) {
        return {
          title: '编辑地址',
          saveButtonText: '保存',
          showDelete: true
        }
      }
      return {
        title: '新增地址',
        saveButtonText: '完成',
        showDelete: false
      }
    }
  },
  methods: {
    ...mapMutations('address', ['add', 'edit', 'remove']),
    onSave (content) {
      const { addressDetail } = content
      // 判断是编辑还是新增
      if (this.addressInfo) {
        this.edit({
          ...content,
          address: addressDetail
        })
        Toast('保存成功')
      } else {
        this.add({
          ...content,
          address: addressDetail
        })
        Toast('新增成功')
      }
      this.$router.back()
    },
    onDelete () {
      this.remove(this.addressInfo.id)
      Toast('删除成功')
      this.$router.back()
    },
    onChangeArea (values) {
      this.region = values[1].name
    },
    async searchDetail (query) {
      // 搜索详细地址
      const res = await axios.get('/map/place/v2/suggestion', {
        params: {
          query,
          region: this.region,
          city_limit: true,
          output: 'json',
          ak: 'nqdUuCXZg7BNjuKReZHTsWbc0L28hYrF'
        }
      })
      this.searchResult = res.data.result
    },
    onChangeDetail (val) {
      if (val) {
        this.searchDetail(val)
      } else {
        this.searchResult = []
      }
    }
  }
}
</script>

<style lang="scss" scoped>

</style>
