<template>
  <div class="tab">
    <TabNav :tablist="tablist" :curIndex="curIndex" @change="changeTab" />
    <TabList :list="tablist[curIndex].songs" />
  </div>
</template>

<script>
import TabNav from './TabNav.vue'
import TabList from './TabList.vue'

export default {
  props: ['tablist'],
  data () {
    return {
      curIndex: 0
    }
  },
  methods: {
    changeTab (index) {
      this.curIndex = index
    }
  },
  components: {
    TabNav,
    TabList
  }
}
</script>

<style scoped>
.tab {
  width: 500px;
  height: 400px;
  border: 1px solid;
}
</style>
