<template>
  <nav>
    <span
      v-for="(item, index) in tablist"
      :key="item.title"
      :class="{ active: index === curIndex }"
      @click="$emit('change', index)"
    >{{ item.title }}</span>
  </nav>
</template>

<script>
export default {
  props: ['tablist', 'curIndex']
}
</script>

<style lang="scss" scoped>
nav {
  display: flex;
  border-bottom: 1px solid;
  span {
    flex: 1;
    text-align: center;
    line-height: 40px;
    cursor: pointer;
  }
  .active {
    background: tomato;
    color: #ffffff;
  }
}
</style>
