<template>
  <div>
    <h1 v-copy="'App'">App</h1>
    <button @click="num--">-</button> {{ num }} <button @click="num++">+</button>
    <hr />
    <input type="text" v-model="text">{{text}}
    <hr />
    <button v-if="num >= 0" v-copy="text">复制</button>
    <hr />
    <ul>
      <li v-for="item in 5" :key="item" v-copy="`列表${item}`">列表{{item}}</li>
    </ul>
  </div>
</template>

<script>

export default {
  data () {
    return {
      text: 'abc',
      num: 0
    }
  },
  methods: {
  }
}
</script>

<style lang="scss">
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
</style>
