.footer {
  display: flex;
  justify-content: space-between;
  button {
    appearance: none;
    background: none;
    border: none;
    padding: 0 3px;
    border-radius: 3px;
    &:hover, &.active {
      background: #fe7345;
      color: #ffffff;
    }
  }
}
.todo {
  font-size: 14px;
}
.btns {
  button {
    margin: 0 5px;
  }
}