* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
img {
  width: 100%;
  vertical-align: middle;
}
html, body, #root {
  width: 100%;
  height: 100%;
}
.home {
  width: 100%;
  height: 100%;
  overflow: auto;
  display: flex;
  flex-direction: column;
}
.list {
  flex: 1;
  overflow: hidden;
  display: flex;
  .menu {
    background: #efefef;
    width: 100px;
    overflow-y: auto;
    p {
      text-align: center;
      line-height: 45px;
    }
    .active {
      background: #ffffff;
    }
  }
  .content {
    flex: 1;
    overflow-y: auto;
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
    padding-top: 20px;
    .food {
      width: 60px;
      height: 80px;
      margin-left: calc((100% - 180px) / 4);
      margin-bottom: 12px;
      &.active {
        img {
          border: 1px solid salmon;
        }
        p {
          font-weight: bold;
          color: salmon;
        }
      }
      img {
        width: 60px;
        height: 60px;
        object-fit: cover;
      }
      p {
        font-size: 12px;
        text-align: center;
        line-height: 20px;
      }
    }
  }
}
.mark {
  max-height: 350px;
  overflow: auto;
  background: #ffffff;
  box-shadow: 0px 1px 4px 1px #cccccc;
  display: flex;
  flex-direction: column;
  .mark_header {
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    a {
      text-decoration: none;
      color: #ffffff;
      background: tomato;
      padding: 5px 10px;
      border-radius: 20px;
    }
  }
  .mark_list {
    overflow: auto;
    display: flex;
    flex-wrap: wrap;
    padding: 15px;
    .mark_item {
      border: 1px solid #cccccc;
      padding: 6px 10px;
      margin-right: 10px;
      margin-bottom: 10px;
      position: relative;
      span {
        position: absolute;
        right: -7px;
        top: -7px;
        width: 14px;
        height: 14px;
        background: #cccccc;
        color: #ffffff;
        text-align: center;
        line-height: 14px;
        font-size: 12px;
        border-radius: 50%;
      }
    }
  }
}
.compare {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}
.nav {
  height: 100px;
  display: flex;
  p {
    flex: 1;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 20px;
    opacity: 0.5;
    &.active {
      opacity: 1;
    }
  }
}
.compare_list {
  flex: 1;
  overflow: auto;
  background: #eeeeee;
  h3 {
    text-align: center;
    line-height: 40px;
  }
  ul {
    li {
      img {
        width: 100px;
      }
      padding: 20px;
      background: #ffffff;
      margin-bottom: 20px;
    }
  }
}