<template>
  <div>
    <button @click="show1 = true">显示弹窗1</button>
    <Dialog
      v-if="show1"
      title="弹窗1"
      cancelText="取消支付"
      okText="确定支付"
      @close="show1 = false"
    >
      <template v-slot:headerSlot>
        <header class="box" :style="{ background: 'red' }">头部内容 {{ show1 }}</header>
      </template>
      <p>您需要支付300元</p>
      <p>等待支付中...</p>
      <!-- 具名插槽简写 -->
      <template #footerSlot>
        <footer>底部内容</footer>
      </template>
    </Dialog>
    <button @click="show2 = true">显示弹窗2</button>
    <Dialog
      v-if="show2"
      title="弹窗2222222"
      @close="show2 = false"
    >
      <template v-slot:default="{ user, age, a }">
        <!-- 作用域插槽：在插槽中使用组件内的变量 -->
        <p>aaaaa, {{ user }}, {{ age }}, {{ a }}</p>
      </template>
    </Dialog>
  </div>
</template>

<script>
import Dialog from './components/Dialog.vue'
export default {
  data () {
    return {
      show1: false,
      show2: false
    }
  },
  methods: {
  },
  components: {
    Dialog
  },
  mounted () {
  }
}
</script>

<style>
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.box {
  line-height: 50px;
}
</style>
