<script setup>
import { watchEffect } from 'vue'
import Header from './components/header/Header.vue'
import Footer from './components/footer/Footer.vue'
import Login from './components/login/Login.vue'
import Player from './components/player/Player.vue'
import useUserInfoStore from './stores/useUserInfo'

const userInfoStore = useUserInfoStore()

watchEffect(() => {
  if (userInfoStore.showLogin) {
    document.body.style = 'width: 100vw; height: 100vh; overflow: hidden;'
  } else {
    document.body.style = ''
  }
})
// 查询登陆状态
userInfoStore.getLoginStatus()
</script>

<template>
  <div class="app">
    <Header />
    <main>
      <router-view />
    </main>
    <Footer />
  </div>
  <Login v-model:visible="userInfoStore.showLogin" />
  <Player />
</template>

<style lang="scss" scoped>
.app {
  background: #f5f5f5;
  min-height: 100vh;
  min-width: 1100px;
}
</style>
