.pagination-wrap {
  display: flex;
  margin-top: 20px;
  align-items: center;
  button {
    min-width: 20px;
    margin-right: 6px;
  }
  .active {
    background: skyblue;
    color: #fff;
  }
  .btns {
    max-width: 50%;
    margin: 0 10px;
  }
  select {
    margin: 0 10px;
  }
}