<template>
  <div>
    <h2>{{ info.name }}</h2>
    <img :src="info.poster" alt="">
    <hr />
    <router-link to="/detail/6118">跳转到流浪地球</router-link>
  </div>
</template>

<script>
import axios from 'axios'
export default {
  data () {
    return {
      info: {}
    }
  },
  methods: {
    async getInfo () {
      // console.log(this.$route) // 当前路由信息
      // const query = this.$route.query // 获取 ？ 后的参数
      const params = this.$route.params // 获取动态路由参数
      const res = await axios.get('/api/detail', {
        params: {
          // id: query.id,
          id: params.filmId
        }
      })
      if (res.data.code === 0) {
        // console.log(res.data.data)
        this.info = res.data.data
      } else {
        alert(res.data.msg)
      }
    }
  },
  created () {
    this.getInfo()
  },
  watch: {
    $route () {
      console.log('路由改变了', this.$route)
      this.getInfo()
    }
  }
  // beforeRouteEnter (to, from, next) {
  //   // 在渲染该组件的对应路由被 confirm 前调用
  //   // 不！能！获取组件实例 `this`
  //   // 因为当守卫执行前，组件实例还没被创建
  //   console.log('组件内守卫')
  //   next()
  // },
  // beforeRouteUpdate (to, from, next) {
  //   // 在当前路由改变，但是该组件被复用时调用
  //   // 举例来说，对于一个带有动态参数的路径 /foo/:id，在 /foo/1 和 /foo/2 之间跳转的时候，
  //   // 由于会渲染同样的 Foo 组件，因此组件实例会被复用。而这个钩子就会在这个情况下被调用。
  //   // 可以访问组件实例 `this`
  //   console.log('路由改变了')
  //   this.getInfo()
  //   next()
  // },
  // beforeRouteLeave (to, from, next) {
  //   // 导航离开该组件的对应路由时调用
  //   // 可以访问组件实例 `this`
  //   console.log('要退出详情页')
  //   next()
  // }
}
</script>

<style>

</style>
