<script setup>

</script>

<template>
  <footer>页脚</footer>
</template>

<style lang='scss' scoped>
footer {
  height: 325px;
  overflow: hidden;
  border-top: 1px solid #d3d3d3;
  background: #f2f2f2;
  text-align: center;
  line-height: 325px;
}
</style>
