<script setup>
import { reactive, ref, nextTick } from 'vue'
const title = ref('学习Vue3')
const h1Ref = ref() // 定义ref变量

const getDom = () => {
  // 获取dom元素
  console.log(h1Ref.value)
}
</script>

<template>
  <h1 ref="h1Ref">{{ title }}</h1>
  <button @click="getDom">获取h1 dom元素</button>
</template>

<style lang="scss" scoped>
h1 {
  color: red;
}

</style>
