.content {
  li {
    line-height: 50px;
    border-bottom: 1px dashed;
  }
  .green {
    color: green;
  }
  :global {
    // 在css module中修改全局样式
    .bg {
      border: none;
    }
  }
}
.red {
  color: red;
}
.yellow {
  color: yellow;
}
.blue {
  color: blue;
}