<template>
  <div class="page">
    <van-cell :title="address" icon="location-o" to="/address">
      <template #right-icon>
        <van-icon name="search" class="search-icon" />
      </template>
    </van-cell>
    <van-tabs v-model="activeName" sticky>
      <van-tab title="多点超市" name="a">
        <van-swipe class="my-swipe" :autoplay="3000" indicator-color="white">
          <van-swipe-item v-for="item in banners" :key="item.targetId">
            <img :src="item.imageUrl" alt="">
          </van-swipe-item>
        </van-swipe>
        <List />
      </van-tab>
      <van-tab title="全球精选" name="b">全球精选内容</van-tab>
    </van-tabs>
  </div>
</template>

<script>
import { mapState } from 'vuex'
import List from './components/List.vue'
import axios from 'axios'

export default {
  data () {
    return {
      activeName: 'a',
      banners: []
    }
  },
  computed: {
    ...mapState('address', ['curAddress']),
    address () {
      return this.curAddress.address || '请选择地址'
    }
  },
  async created () {
    const res = await axios.get('https://zyxcl-music-api.vercel.app/banner')
    this.banners = res.data.banners
  },
  components: {
    List
  }
}
</script>

<style lang="scss" scoped>
.page {
  overflow: auto;
}
.search-icon {
  font-size: 16px;
  line-height: inherit;
}
.van-cell__title {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.my-swipe {
  min-height: 138px;
}
.my-swipe .van-swipe-item {
  color: #fff;
  font-size: 20px;
  text-align: center;
  background-color: #39a9ed;
}
</style>
