.wrap {
  flex: 6;
  padding: 20px;
  ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: space-between;
    height: 100%;
    li {
      width: calc((100% - 14px) / 3);
      height: calc((100% - 14px) / 3);
      background: #999999;
      border-radius: 5px;
      box-shadow: 2px 2px 3px 1px #333333;
      cursor: pointer;
      text-align: center;
      display: flex;
      justify-content: center;
      align-items: center;
      user-select: none;
    }
    .mousedown {
      box-shadow: none;
    }
    .active {
      background: orange;
    }
  }
}