<script setup>
import { ref } from 'vue'

const count = ref(0)
const add = () => {
  count.value++
}
// 暴露给父组件数据，让父组件可以通过ref获取对象中的数据
defineExpose({
  count,
  add
})

const aa = ref(document.querySelector('h1'))
console.log(document.querySelector('h1'))
</script>

<template>
  <div class="box">
    <h2>子组件</h2>
    <button @click="count--">-</button>
    {{ count }}
    <button @click="add">+</button>
    <Teleport :to="aa">
      <!-- 把 Teleport 内的元素渲染到 to 指定的元素中 -->
      <p v-if="count > 3">弹窗</p>
    </Teleport>
  </div>
</template>

<style lang='scss' scoped>
</style>
