<template>
  <div class="page">
    <van-skeleton title :row="6" :loading="loading">
      <img :src="info.img" alt="">
      <h2>{{ info.title }}</h2>
      <p>¥{{ info.price }}</p>
      <van-goods-action>
        <van-goods-action-icon icon="cart-o" text="购物车" :badge="total.count" @click="$router.push('/cart')" />
        <van-goods-action-button type="warning" text="加入购物车" @click="add" />
      </van-goods-action>
    </van-skeleton>
  </div>
</template>

<script>
import { mapState, mapGetters, mapMutations } from 'vuex'
export default {
  data () {
    return {
      loading: true
    }
  },
  computed: {
    ...mapState('goods', ['list']),
    ...mapGetters('goods', ['total']),
    info () {
      return this.list.find(v => v.id === this.$route.params.id) || {}
    }
  },
  methods: {
    ...mapMutations('goods', ['addCart']),
    add () {
      this.addCart(this.info.id)
      this.$toast('添加成功')
    }
  },
  created () {
    setTimeout(() => {
      this.loading = false
    }, 2000)
  }
}
</script>

<style lang="scss" scoped>

</style>
