<template>
  <div class="home">
    <header>
      <div class="search">
        <router-link to="/search">搜索</router-link>
      </div>
      <nav>
        <router-link to="/list/zh">综合</router-link>
        <router-link to="/list/xl">销量</router-link>
        <router-link to="/list/sx">上新</router-link>
        <p @click="changeSort">
          价格
          <svg :class="['up', { red: sortType === 1 }]" t="1676883222481" viewBox="0 0 1024 1024" version="1.1" xmlns="http://www.w3.org/2000/svg" p-id="4593" width="16" height="16"><path d="M723.25455957 590.56708997c18.04012654 18.87399937 5.28797393 51.17131722-20.21633121 51.17131724l-382.48322394 0c-25.50430513 0-38.25645774-32.29731787-20.21633121-51.17131724l81.27209205-85.01435051 109.9695199-115.05411031c11.16576039-11.67421947 29.26690202-11.67421947 40.43266242 0l109.96951995 115.05411031 81.27209204 85.01435051z" fill="#303033" p-id="4594"></path></svg>
          <svg :class="['down', { red: sortType === 2 }]" t="1676883211086" viewBox="0 0 1024 1024" version="1.1" xmlns="http://www.w3.org/2000/svg" p-id="4336" width="16" height="16"><path d="M300.74544043 433.43291003c-18.04012654-18.87399937-5.28797393-51.17131722 20.21633121-51.17131724l382.48322394 0c25.50430513 0 38.25645774 32.29731787 20.21633121 51.17131724l-81.27209205 85.01435051-109.9695199 115.05411031c-11.16576039 11.67421947-29.26690202 11.67421947-40.43266242 0l-109.96951995-115.05411031-81.27209204-85.01435051z" fill="#303033" p-id="4337"></path></svg>
        </p>
        <div class="icon" @click="changeGrid">
          <svg v-if="isGrid" t="1676883110576" viewBox="0 0 1024 1024" version="1.1" xmlns="http://www.w3.org/2000/svg" p-id="2752" width="32" height="32"><path d="M383.068024 469.026256l-171.915441 0c-47.39238 0-85.957721-38.533618-85.957721-85.957721l0-171.915441c0-47.39238 38.566364-85.957721 85.957721-85.957721l171.915441 0c47.40773 0 85.957721 38.566364 85.957721 85.957721l0 171.915441C469.025745 430.492638 430.475753 469.026256 383.068024 469.026256L383.068024 469.026256zM426.046884 211.153094c0-23.695678-19.283182-42.97886-42.97886-42.97886l-171.915441 0c-23.680329 0-42.97886 19.283182-42.97886 42.97886l0 171.915441c0 23.712051 19.298532 42.97886 42.97886 42.97886l171.915441 0c23.695678 0 42.97886-19.266809 42.97886-42.97886L426.046884 211.153094 426.046884 211.153094zM383.068024 898.798487l-171.915441 0c-47.39238 0-85.957721-38.518269-85.957721-85.941348l0-171.915441c0-47.39238 38.566364-85.957721 85.957721-85.957721l171.915441 0c47.40773 0 85.957721 38.566364 85.957721 85.957721l0 171.915441C469.025745 860.281241 430.475753 898.798487 383.068024 898.798487L383.068024 898.798487zM426.046884 640.941698c0-23.695678-19.283182-42.97886-42.97886-42.97886l-171.915441 0c-23.680329 0-42.97886 19.283182-42.97886 42.97886l0 171.915441c0 23.712051 19.298532 42.97886 42.97886 42.97886l171.915441 0c23.695678 0 42.97886-19.266809 42.97886-42.97886L426.046884 640.941698 426.046884 640.941698zM877.35664 748.516762c-11.879562 0-21.521153-9.577123-21.521153-21.457708l0-86.117356c0-23.695678-19.283182-42.97886-42.97886-42.97886l-171.915441 0c-23.680329 0-42.97886 19.283182-42.97886 42.97886l0 171.915441c0 23.712051 19.298532 42.97886 42.97886 42.97886l86.117356 0c11.864212 0 21.48943 9.657964 21.48943 21.521153 0 11.83249-9.625218 21.441335-21.48943 21.441335L640.941186 898.798487c-47.39238 0-85.957721-38.518269-85.957721-85.941348l0-171.915441c0-47.39238 38.566364-85.957721 85.957721-85.957721l171.915441 0c47.40773 0 85.957721 38.566364 85.957721 85.957721l0 86.117356C898.814348 738.939639 889.188106 748.516762 877.35664 748.516762L877.35664 748.516762zM812.856627 469.026256l-171.915441 0c-47.39238 0-85.957721-38.533618-85.957721-85.957721l0-171.915441c0-47.39238 38.566364-85.957721 85.957721-85.957721l171.915441 0c47.40773 0 85.957721 38.566364 85.957721 85.957721l0 171.915441C898.814348 430.492638 860.264357 469.026256 812.856627 469.026256L812.856627 469.026256zM855.835488 211.153094c0-23.695678-19.283182-42.97886-42.97886-42.97886l-171.915441 0c-23.680329 0-42.97886 19.283182-42.97886 42.97886l0 171.915441c0 23.712051 19.298532 42.97886 42.97886 42.97886l171.915441 0c23.695678 0 42.97886-19.266809 42.97886-42.97886L855.835488 211.153094 855.835488 211.153094z" p-id="2753"></path></svg>
          <svg v-else t="1676883146318" viewBox="0 0 1024 1024" version="1.1" xmlns="http://www.w3.org/2000/svg" p-id="3003" width="32" height="32"><path d="M133.310936 296.552327l757.206115 0c19.781623 0 35.950949-16.169326 35.950949-35.950949 0-19.781623-15.997312-35.950949-35.950949-35.950949L133.310936 224.650428c-19.781623 0-35.950949 16.169326-35.950949 35.950949C97.359987 280.383 113.529313 296.552327 133.310936 296.552327z" fill="#575B66" p-id="3004"></path><path d="M890.51705 476.135058 133.310936 476.135058c-19.781623 0-35.950949 16.169326-35.950949 35.950949 0 19.781623 16.169326 35.950949 35.950949 35.950949l757.206115 0c19.781623 0 35.950949-16.169326 35.950949-35.950949C926.467999 492.304384 910.298673 476.135058 890.51705 476.135058z" fill="#575B66" p-id="3005"></path><path d="M890.51705 727.447673 133.310936 727.447673c-19.781623 0-35.950949 15.997312-35.950949 35.950949s16.169326 35.950949 35.950949 35.950949l757.206115 0c19.781623 0 35.950949-15.997312 35.950949-35.950949S910.298673 727.447673 890.51705 727.447673z" fill="#575B66" p-id="3006"></path></svg>
        </div>
      </nav>
    </header>
    <main>
      <router-view />
    </main>
  </div>
</template>

<script>
import { mapState, mapMutations } from 'vuex'
export default {
  computed: {
    ...mapState(['isGrid', 'sortType'])
  },
  methods: {
    ...mapMutations(['changeGrid', 'changeSort'])
  }
}
</script>

<style lang="scss" scoped>
.home {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  .search {
    height: 40px;
    padding: 5px 10px;
    background: #333333;
    a {
      height: 100%;
      display: block;
      background: #eee;
      border-radius: 5px;
      line-height: 30px;
      font-size: 12px;
      color: #999;
      padding-left: 15px;
    }
  }
  nav {
    height: 40px;
    border-bottom: 1px solid;
    display: flex;
    a {
      flex: 1;
      text-align: center;
      line-height: 40px;
      color: #666;
      &.router-link-active {
        color: tomato;
      }
    }
    p {
      flex: 1;
      text-align: center;
      position: relative;
      line-height: 40px;
      margin-right: 10px;
      .up, .down {
        position: absolute;
        right: 10px;
      }
      .up {
        top: 8px;
      }
      .down {
        bottom: 8px;
      }
      .red path {
        fill: tomato;
      }
    }
    .icon {
      width: 40px;
      height: 40px;
      border-left: 1px solid;
      display: flex;
      justify-content: center;
      align-items: center;
      svg {
        vertical-align: middle;
        width: 26px;
        height: 26px;
      }
    }
  }
  main {
    flex: 1;
    overflow: hidden;
  }
}
</style>
