<template>
  <div :class="['list', { grid: isGrid }]">
    <dl v-for="item in newlist" :key="item.item_id">
      <dt>
        <img :src="item.img" alt="">
      </dt>
      <dd>
        <h3>{{ item.title }}</h3>
        <div class="btm">
          <p class="sold">月销{{ item.sold }}笔</p>
          <p class="price">¥{{ item.price }}</p>
        </div>
      </dd>
    </dl>
  </div>
</template>

<script>
import { mapState } from 'vuex'
import axios from 'axios'
export default {
  data () {
    return {
      list: []
    }
  },
  computed: {
    ...mapState(['isGrid', 'sortType']),
    newlist () {
      if (this.sortType === 0) return this.list
      if (this.sortType === 1) {
        return [...this.list].sort((a, b) => a.price - b.price)
      } else {
        return [...this.list].sort((a, b) => b.price - a.price)
      }
    }
  },
  watch: {
    // 监听路由改变执行
    $route: {
      handler () {
        this.getList()
      },
      immediate: true
    }
  },
  methods: {
    async getList () {
      const res = await axios.get('/api/list', {
        params: {
          type: this.$route.params.id
        }
      })
      if (res.data.code === 0) {
        this.list = res.data.data
      } else {
        alert(res.data.msg)
      }
    }
  }
  // 组件内守卫，路由更新时执行
  // beforeRouteUpdate () {
  //   console.log('路由改变了')
  //   this.getList()
  // }
}
</script>

<style lang="scss" scoped>
.list {
  width: 100%;
  height: 100%;
  overflow: auto;
  background: #ddd;
  dl {
    display: flex;
    background: #fff;
    dt {
      width: 110px;
    }
    dd {
      flex: 1;
      overflow: hidden;
      margin-left: 10px;
      border-bottom: 1px solid #ccc;
      padding: 5px;
      display: flex;
      flex-direction: column;
      h3 {
        font-size: 14px;
        font-weight: normal;
        overflow: hidden;
        text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 2;
      }
      .btm {
        flex: 1;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
      }
      .sold {
        color: #999;
        font-size: 12px;
      }
      .price {
        color: tomato;
        font-size: 14px;
      }
    }
  }
}
.grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  dl {
    width: calc(50% - 2px);
    flex-direction: column;
    margin-top: 4px;
    dt {
      width: 100%;
    }
    dd {
      border-bottom: none;
      .btm {
        flex-direction: row-reverse;
        margin-top: 40px;
      }
    }
  }
}
</style>
