<template>
  <div class="controller">
    <div class="power">
      <h4>Power</h4>
      <p :class="{ on: power }" @click="$emit('changePower')"><span></span></p>
    </div>
    <div class="title">{{ music.id }}</div>
    <div class="volume" ref="volume">
      <i :style="{ left }" @mousedown="mousedown"></i>
    </div>
    <div class="power">
      <h4>bank</h4>
      <p :class="{ on: bank }" @click="$emit('changeBank')"><span></span></p>
    </div>
  </div>
</template>

<script>
export default {
  props: ['music', 'power', 'bank'],
  data () {
    return {
      left: '0',
      isDown: false
    }
  },
  methods: {
    mousedown () {
      this.isDown = true
    },
    mousemove (e) {
      if (this.isDown) {
        const { left, width } = this.$refs.volume.getBoundingClientRect()
        const max = width - 14
        let volumeLeft = e.pageX - left
        if (volumeLeft < 0) volumeLeft = 0
        if (volumeLeft > max) volumeLeft = max
        this.left = volumeLeft + 'px'
        this.$emit('changeVolume', volumeLeft / max)
      }
    },
    mouseup () {
      if (this.isDown) {
        this.isDown = false
      }
    }
  },
  mounted () {
    const { width } = this.$refs.volume.getBoundingClientRect()
    this.left = width - 14 + 'px'
    document.addEventListener('mousemove', this.mousemove)
    document.addEventListener('mouseup', this.mouseup)
  },
  beforeDestroy () {
    document.removeEventListener('mousemove', this.mousemove)
    document.removeEventListener('mouseup', this.mouseup)
  }
}
</script>

<style lang="scss" scoped>
.controller {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}
.title {
  background: #8b8b8b;
  width: 100px;
  height: 40px;
  text-align: center;
  line-height: 40px;
}
.volume {
  background: #4c4c4c;
  height: 6px;
  width: 200px;
  border: 1px solid #000;
  position: relative;
  i {
    position: absolute;
    top: -10px;
    left: 0;
    width: 12px;
    height: 26px;
    cursor: pointer;
    background: blue;
  }
}
.power {
  h4 {
    text-align: center;
  }
  p {
    width: 60px;
    height: 26px;
    background: #000000;
    padding: 4px;
    cursor: pointer;
    overflow: hidden;
    span {
      display: block;
      width: 27px;
      height: 18px;
      background: #0023f5;
    }
    &.on span {
      float: right;
    }
  }
}
</style>
