<template>
  <div class="keyboard">
    <p
      v-for="item in list"
      :key="item.id"
      @mousedown="mousedown(item)"
      @mouseup="keyup"
      :class="{ active: curId === item.id, orange: power }"
    >{{ item.keyTrigger }}</p>
  </div>
</template>

<script>
export default {
  props: ['list', 'power'],
  data () {
    return {
      curId: ''
    }
  },
  methods: {
    mousedown (item) {
      if (this.power) {
        this.$emit('change', item)
      }
      this.curId = item.id
    },
    keydown (e) {
      const item = this.list.find(item => item.keyCode === e.keyCode)
      if (item) {
        this.mousedown(item)
      }
    },
    keyup () {
      this.curId = ''
    }
  },
  mounted () {
    document.addEventListener('keydown', this.keydown)
    document.addEventListener('keyup', this.keyup)
  },
  beforeDestroy () {
    document.removeEventListener('keydown', this.keydown)
    document.removeEventListener('keyup', this.keyup)
  }
}
</script>

<style lang="scss" scoped>
.keyboard {
  // flex-grow flex-shrink flex-basis
  // flex-basis: 元素的宽度
  // flex-grow: 去除 flex-basis 之后所占据的剩余空间
  // flex-shrink: 是否收缩
  flex: 1;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-content: space-between;
  p {
    width: calc((100% - 16px) / 3);
    height: calc((100% - 16px) / 3);
    background: #8b8b8b;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    user-select: none;
    cursor: pointer;
    box-shadow: 2px 2px 5px 0px #000;
    &.active {
      box-shadow: none;
      &.orange {
        background: orange;
      }
    }
  }
}
</style>
