<template>
  <div>
    <el-row>
      <el-col :span="24">
        <div class="grid-content">
          <el-row :gutter="20">
            <el-col :span="6">
              <el-statistic title="我的待办">
                <template slot="formatter">8个任务</template>
              </el-statistic>
            </el-col>
            <el-col :span="6">
              <el-statistic title="我的待办">
                <template slot="formatter">8个任务</template>
              </el-statistic>
            </el-col>
            <el-col :span="6">
              <el-statistic title="我的待办">
                <template slot="formatter">8个任务</template>
              </el-statistic>
            </el-col>
            <el-col :span="6">
              <el-statistic title="我的待办">
                <template slot="formatter">8个任务</template>
              </el-statistic>
            </el-col>
          </el-row>
        </div>
      </el-col>
    </el-row>
    <el-row :gutter="20">
      <el-col :span="18">
        <div class="grid-content">
          <el-tabs v-model="activeName">
            <el-tab-pane label="销售走势" name="first"></el-tab-pane>
            <el-tab-pane label="成交趋势" name="second"></el-tab-pane>
          </el-tabs>
          <div class="charts-wrap" ref="chartDom"></div>
        </div>
      </el-col>
      <el-col :span="6"><div class="grid-content"></div></el-col>
    </el-row>
    <el-row :gutter="20">
      <el-col :span="8" v-for="item in progressArr" :key="item.title">
        <div class="grid-content progress">
          <el-progress
            type="circle"
            :percentage="item.percentage"
            :stroke-width="12"
            :color="colors"
          ></el-progress>
          <p>{{ item.title }}</p>
        </div>
      </el-col>
    </el-row>
    <el-row :gutter="20">
      <el-col :span="14">
        <div class="grid-content">
          <el-table :data="tableData" stripe>
            <el-table-column prop="index" label="序号"></el-table-column>
            <el-table-column prop="name" label="设备名称"></el-table-column>
            <el-table-column prop="num" label="数值"></el-table-column>
            <el-table-column label="进度">
              <template slot-scope="scope">
                <!-- scope.row: 当前行的数据 -->
                <el-progress
                  :percentage="scope.row.progress"
                  :color="colors"
                ></el-progress>
              </template>
            </el-table-column>
          </el-table>
        </div>
      </el-col>
      <el-col :span="10"><div class="grid-content"></div></el-col>
    </el-row>
  </div>
</template>

<script>
import * as echarts from 'echarts'

export default {
  data () {
    return {
      colors: [
        { color: '#f56c6c', percentage: 20 },
        { color: '#e6a23c', percentage: 40 },
        { color: '#5cb87a', percentage: 60 },
        { color: '#1989fa', percentage: 80 },
        { color: '#6f7ad3', percentage: 100 }
      ],
      progressArr: [
        {
          percentage: 20,
          title: '设备A'
        },
        {
          percentage: 50,
          title: '设备B'
        },
        {
          percentage: 90,
          title: '设备C'
        }
      ],
      tableData: [
        {
          index: 1,
          name: '王小虎',
          num: 1234,
          progress: 30
        },
        {
          index: 2,
          progress: 10,
          name: '李大虎',
          num: 3446
        },
        {
          index: 3,
          progress: 90,
          name: '王胖虎',
          num: 8765
        },
        {
          index: 4,
          progress: 60,
          name: '蓝胖子',
          num: 234321
        }
      ],
      activeName: 'first'
    }
  },
  watch: {
    activeName () {
      this.setEcharts()
    }
  },
  methods: {
    setEcharts () {
      // 绘制图表
      if (this.activeName === 'first') {
        this.myChart.setOption(
          {
            grid: {
              show: true,
              left: '40',
              right: '40',
              top: '40',
              bottom: '40'
            },
            xAxis: {
              type: 'category',
              data: [
                '星期一',
                '星期二',
                '星期三',
                '星期四',
                '星期五',
                '星期六',
                '星期日'
              ]
            },
            yAxis: {
              type: 'value'
            },
            series: [
              {
                data: [820, 932, 901, 934, 1290, 1320, 1234],
                type: 'line',
                smooth: true
              }
            ]
          },
          true
        )
      } else {
        this.myChart.setOption(
          {
            legend: {
              top: 'bottom'
            },
            toolbox: {
              show: true,
              feature: {
                mark: { show: true },
                dataView: { show: true, readOnly: false },
                restore: { show: true },
                saveAsImage: { show: true }
              }
            },
            series: [
              {
                name: 'Nightingale Chart',
                type: 'pie',
                radius: [50, 250],
                center: ['50%', '50%'],
                roseType: 'area',
                itemStyle: {
                  borderRadius: 8
                },
                data: [
                  { value: 40, name: 'rose 1' },
                  { value: 38, name: 'rose 2' },
                  { value: 32, name: 'rose 3' },
                  { value: 30, name: 'rose 4' },
                  { value: 28, name: 'rose 5' },
                  { value: 26, name: 'rose 6' },
                  { value: 22, name: 'rose 7' },
                  { value: 18, name: 'rose 8' }
                ]
              }
            ]
          },
          true
        )
      }
    }
  },
  mounted () {
    // 基于准备好的dom，初始化echarts实例
    this.myChart = echarts.init(this.$refs.chartDom)
    this.setEcharts()
  }
}
</script>

<style lang="scss" scoped>
.grid-content {
  background: #ffffff;
  border-radius: 5px;
  padding: 15px;
}
.el-row {
  margin-bottom: 20px;
}
.progress {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  p {
    margin-top: 10px;
  }
  ::v-deep .el-progress__text {
    font-size: 30px !important;
  }
}
.charts-wrap {
  height: 300px;
}
</style>
