* {
  padding: 0;
  margin: 0;
}
.magnifying-glass {
  width: 500px;
  height: 480px;
  border: 1px solid;
  margin-left: 20px;
  position: relative;
}
.img {
  width: 100%;
  height: 400px;
  position: relative;
  img {
    width: 100%;
    vertical-align: middle;
  }
  .mark {
    width: 150px;
    height: 150px;
    position: absolute;
    top: 0;
    left: 0;
    background: rgba($color: #000000, $alpha: .5);
    display: none;
  }
}
nav {
  height: 80px;
  display: flex;
  .prev, .next {
    width: 50px;
    background: #dddddd;
    line-height: 80px;
    text-align: center;
    cursor: pointer;
  }
  .center {
    flex: 1;
    overflow: hidden;
    background: #eeeeee;
  }
  ul {
    overflow: hidden;
    transition: transform 1s linear;
  }
  li {
    width: 100px;
    box-sizing: border-box;
    padding: 10px;
    float: left;
    list-style: none;
  }
  img {
    width: 100%;
    vertical-align: middle;
  }
  .active {
    border: 1px solid red;
  }
}
.big {
  position: absolute;
  left: 502px;
  top: 0;
  width: 500px;
  height: 500px;
  background: #eeeeee;
  overflow: hidden;
  display: none;
  img {
    width: 1000px;
    vertical-align: middle;
    position: absolute;
    top: 0;
    left: 0;
  }
}
.show {
  display: block !important;
}