<script setup>
import Banner from './components/Banner.vue'
import Title from '@/components/title/Title.vue'
import { ref } from 'vue'
import { Navigation } from 'swiper'
import { Swiper, SwiperSlide } from 'swiper/vue'
import 'swiper/css'
import 'swiper/css/navigation'
import { personalizedApi, newAlbumApi, playlistDetailApi, toplistApi } from '@/service'
import useUserInfoStore from '@/stores/useUserInfo'
import usePlay from '@/stores/usePlay'
const playStore = usePlay()
const userInfoStore = useUserInfoStore()
const modules = [Navigation]
const playlist = ref([])
const albumlist = ref([])
const toplist = ref([])

// 推荐歌单
const getPersonalized = async () => {
  const res = await personalizedApi(8)
  playlist.value = res.data.result
}
getPersonalized()
// 新碟上架
const album = async () => {
  const res = await newAlbumApi(10)
  albumlist.value = res.data.weekData.slice(0, 10)
}
album()

// 排行榜详情
const getPlaylistDetail = async id => {
  const res = await playlistDetailApi(id)
  return res.data.playlist
}
const getToplist = async () => {
  const res = await toplistApi()
  // 获取排行榜数据
  const list = res.data.list.slice(0, 3)
  // 遍历排行榜，获取每个榜单的具体列表
  const result = await Promise.all(list.map(item => getPlaylistDetail(item.id)))
  result.forEach(item => {
    item.tracks = item.tracks.slice(0, 10)
  })
  toplist.value = result
}
getToplist()

// 格式化播放量
const formatPlayCount = count => count >= 100000 ? parseInt(count / 10000) + 'w' : count

</script>

<template>
  <Banner />
  <div class="m-w page">
    <div class="content">
      <div class="row">
        <Title title="热门推荐" link="/discover/playlist" />
        <div class="playlist">
          <dl v-for="item in playlist" :key="item.id">
            <dt>
              <img :src="item.picUrl" :alt="item.name">
              <p>
              <div class="playcount">{{ formatPlayCount(item.playCount) }}</div>
              </p>
            </dt>
            <dd>
              <router-link :to="{ name: 'playlistDetail', params: { id: item.id }}">{{ item.name }}</router-link>
            </dd>
          </dl>
        </div>
      </div>
      <div class="row">
        <Title title="新碟上架" link="discover/album" />
        <div class="albumlist">
          <div class="swiper-content">
            <Swiper navigation loop :modules="modules" :slides-per-view="5" :space-between="20">
              <SwiperSlide class="swiper-slide" v-for="item in albumlist" :key="item.id">
                <img :src="item.picUrl" :alt="item.name">
                <p>{{ item.name }}</p>
                <p>{{ item.artist.name }}</p>
              </SwiperSlide>
            </Swiper>
          </div>
        </div>
      </div>
      <div class="row">
        <Title title="榜单" link="discover/toplist" />
        <div class="toplist">
          <div class="list" v-for="item in toplist" :key="item.id">
            <div class="title">
              <div class="img">
                <img :src="item.coverImgUrl" alt="">
              </div>
              <div class="info">
                <h3><router-link to="/discover/toplist">{{ item.name }}</router-link></h3>
                <p>
                  <i class="icon1"></i>
                  <i class="icon2"></i>
                </p>
              </div>
            </div>
            <ul>
              <li v-for="(val, index) in item.tracks" :key="val.id">
                <b :class="{ red: index <= 2 }">{{ index + 1 }}</b>
                <a class="name" href="">{{ val.name }}</a>
                <div class="oper">
                  <i class="icon1" @click="playStore.addSongs(val.id)"></i>
                  <i class="icon2"></i>
                  <i class="icon3"></i>
                </div>
              </li>
            </ul>
            <div class="more"><router-link to="/discover/toplist">查看更多</router-link></div>
          </div>
        </div>
      </div>
    </div>
    <div class="slide">
      <div class="userinfo" v-if="userInfoStore.userinfo">
        <div class="avatar"><img :src="userInfoStore.userinfo.profile.avatarUrl" alt=""></div>
        <h4>{{ userInfoStore.userinfo.profile.nickname }}</h4>
        <p>等级：{{ userInfoStore.userinfo.level }}</p>
      </div>
      <div class="login-box" v-else>
        <button>用户登录</button>
      </div>
    </div>
  </div>
</template>

<style lang='scss' scoped>
.page {
  display: flex;
}

.content {
  overflow: hidden;
  flex: 1;
  border-right: 1px solid #d3d3d3;
  padding: 20px 20px 40px;

  img {
    width: 100%;
  }
}

.row {
  padding-bottom: 50px;
}

.playlist {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

  dl {
    width: calc((100% - 126px) / 4);
    padding-top: 30px;
  }

  dt {
    position: relative;

    p {
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 27px;
      color: #ffffff;
      background: rgba($color: #000000, $alpha: .5);
      font-size: 12px;
      line-height: 27px;
      padding: 0 5px;
    }
  }

  dd {
    &:hover {
      text-decoration: underline;
    }
  }
}

.albumlist {
  width: 100%;
  overflow: hidden;
  margin: 20px 0 37px;
  border: 1px solid #d3d3d3;
  background: #f5f5f5;
  padding: 10px 16px;
}

.swiper-slide {
  overflow: hidden;
}

.toplist {
  display: flex;
  background: url(https://s2.music.126.net/style/web2/img/index/index_bill.png?15ca35cce51de8017ecc144dde737b4c) no-repeat center center;
  background-size: 100% auto;
  height: 472px;
  margin-top: 20px;

  .list {
    flex: 1;
  }

  .title {
    height: 120px;
    padding: 21px 0 0 21px;
    display: flex;

    .img {
      width: 80px;
    }

    .info {
      flex: 1;
      margin: 6px 0 0 10px;
    }

    p {
      display: flex;

      i {
        cursor: pointer;
        width: 22px;
        height: 22px;
        margin-right: 10px;
        text-indent: -9999px;
        cursor: pointer;
        background: url(https://s2.music.126.net/style/web2/img/index/index.png?80ce3ebe34f2cf0349d33951bb4b83cf) no-repeat;
      }

      .icon1 {
        background-position: -267px -205px;
        &:hover {
          background-position: -267px -235px;
        }
      }

      .icon2 {
        background-position: -300px -205px;
        &:hover {
          background-position: -300px -235px;
        }
      }
    }
  }

  ul {
    padding-left: 15px;
  }

  li {
    height: 32px;
    line-height: 32px;
    display: flex;
    overflow: hidden;

    b {
      width: 35px;
      text-align: center;

      &.red {
        color: #c10d0c;
      }
    }

    .name {
      width: 170px;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }

    .oper {
      width: 82px;
      height: 32px;
      display: none;
      align-items: center;
      margin-left: 5px;

      i {
        cursor: pointer;
        width: 17px;
        height: 17px;
        margin-right: 8px;
        background: url(https://s2.music.126.net/style/web2/img/index/index.png?80ce3ebe34f2cf0349d33951bb4b83cf) no-repeat 0 9999px;
      }

      .icon1 {
        background-position: -267px -268px;

        &:hover {
          background-position: -267px -288px;
        }
      }

      .icon2 {
        background: url(https://s2.music.126.net/style/web2/img/icon.png?b73e84283a8e931049bd0ce32695c20a) no-repeat;
        background-position: 0 -698px;

        &:hover {
          background-position: -22px -698px;
        }
      }

      .icon3 {
        background-position: -297px -268px;

        &:hover {
          background-position: -297px -288px
        }
      }
    }

    &:hover {
      .name {
        width: 92px;
      }

      .oper {
        display: flex;
      }
    }
  }

  .more {
    line-height: 32px;
    text-align: right;
    padding-right: 20px;
    font-size: 12px;
    cursor: pointer;
    &:hover {
      text-decoration: underline;
    }
  }
}

.slide {
  width: 250px;
}
.userinfo {
  .avatar {
    width: 100px;
    img {
      width: 100%;
    }
  }
}
</style>
