<template>
  <div class="app1">
    <h2>{{ title }}</h2>
    <ul>
      <!-- key: v-for 时必须添加的唯一id，不能重复 -->
      <li v-for="item in arr" :key="item">{{ item }}</li>
    </ul>
    <img :src="url" alt="">
    <!-- <img src="https://img0.baidu.com/it/u=1705694933,4002952892&fm=253&fmt=auto&app=138&f=JPEG?w=500&h=281" alt=""> -->
    <!-- <img src="./assets/img1.jpg" alt=""> -->
    <List />
    <img :src="url2" alt="">
    <ButtonCounter />
    <ButtonCounter />
    <ButtonCounter />
    <ButtonCounter />
    <ButtonCounter />
    <ButtonCounter />
  </div>
</template>

<script>
import ButtonCounter from './components/ButtonCounter.vue'
import List from './components/List.vue'
import img1 from './assets/img1.jpg'

export default {
  name: 'App',
  components: {
    ButtonCounter,
    List
  },
  data () {
    return {
      url1: img1,
      url2: require('./assets/img1.jpg'),
      url: 'https://img0.baidu.com/it/u=1705694933,4002952892&fm=253&fmt=auto&app=138&f=JPEG?w=500&h=281',
      title: '1111',
      arr: ['A', 'B', 'C', 'D']
    }
  },
  methods: {
  },
  computed: {

  },
  watch: {

  },
  created () {

  }
}
</script>

<style lang="scss">
#app {
}
</style>
