* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.aaa {
  background: tomato;
}
.home {
 width: 100vw;
 height: 100vh;
 display: flex;
 flex-direction: column; 
}
.home main {
  flex: 1;
}
.home footer {
  height: 50px;
  border-top: 1px solid #ccc;
  display: flex;
}
.home footer a {
  flex: 1;
  text-align: center;
  line-height: 50px;
}
.home footer .active {
  background: tomato;
  color: #ffffff;
}