<script setup>
import { ref, reactive } from 'vue'
const arr = reactive([])
const text = ref('')
const add = () => {
  arr.push({
    id: Date.now(),
    text: text.value
  })
  text.value = ''
}
const remove = index => {
  arr.splice(index, 1)
}
</script>

<template>
  <input type="text" v-model="text" @keydown.enter="add">
  <button @click="add">添加</button>
  <ul>
    <!-- <li v-for="(item, index) in arr" :key="index"> -->
    <li v-for="(item, index) in arr" :key="item.id">
      <input type="checkbox" name="" id="">
      {{ item.text }}
      <button @click="remove(index)">删除</button>
    </li>
  </ul>
</template>

<style lang='scss'>
.box {
  padding: 40px;
  border: 1px solid;
}
.active {
  background: orange;
}
</style>
