<template>
  <div class="page city">
    <div class="title">
      <div class="close" @click="$router.back()">x</div>
      <h3>当前城市-{{ currentCity }}</h3>
    </div>
    <van-search
      v-model="searchVal"
      :show-action="showCancel"
      placeholder="请输入搜索关键词"
      @input="onInput"
      @focus="showCancel = true"
    >
      <template #action>
        <div @click="onCancel">取消</div>
      </template>
    </van-search>
    <!-- <div class="search">
      <div class="inp">
        <van-icon name="search" />
        <input type="text" placeholder="搜索城市">
        <van-icon name="cross" />
      </div>
      <div class="btn">取消</div>
    </div> -->
    <div class="content search-list" v-if="showSearchList">
      <van-empty description="没有搜索到对应的城市" v-if="searchResult.length === 0" />
      <div class="left" v-else>
        <div class="type">
          <ul>
            <li v-for="val in searchResult" :key="val.cityId"  @click="changeCity(val.name)">{{ val.name }}</li>
          </ul>
        </div>
      </div>
    </div>
    <div class="content" v-else>
      <div class="left" ref="left">
        <div :class="['type', { hot: item.isHot }]" v-for="item in list" :key="item.type">
          <h3>{{ item.type }}</h3>
          <ul>
            <li v-for="val in item.cities" :key="val.cityId" @click="changeCity(val.name)">{{ val.name }}</li>
          </ul>
        </div>
      </div>
      <div class="right">
        <p v-for="(item, index) in list" :key="item.type" @click="changeFloor(index, item.isHot ? '🔥' : item.type)">{{ item.isHot ? '🔥' : item.type }}</p>
      </div>
    </div>
  </div>
</template>

<script>
import axios from 'axios'

export default {
  data () {
    return {
      searchVal: '', // 搜索框内容
      oldList: [], // 原数据
      list: [], // 转换格式后的数据
      searchResult: [], // 搜索结果
      showCancel: false, // 显示取消按钮
      showSearchList: false, // 显示搜索结果
      currentCity: localStorage.getItem('currentCity')
    }
  },
  methods: {
    onInput () {
      this.showSearchList = true
      if (this.searchVal) {
        this.searchResult = this.oldList.filter(item => {
          return item.name.includes(this.searchVal) || item.pinyin.includes(this.searchVal)
        })
      } else {
        this.searchResult = []
      }
    },
    onCancel () {
      this.showCancel = false
      this.showSearchList = false
    },
    async getCity () {
      const res = await axios.get('/api/city')
      const obj = {}
      const hot = {
        type: '热门城市',
        isHot: 1,
        cities: []
      }
      this.oldList = res.data.data
      res.data.data.forEach(item => {
        const first = item.pinyin[0].toUpperCase()
        if (obj[first]) {
          obj[first].push(item)
        } else {
          obj[first] = [item]
        }
        if (item.isHot) {
          hot.cities.push(item)
        }
      })
      this.list = Object.keys(obj).sort().map(key => {
        return {
          type: key,
          cities: obj[key]
        }
      })
      this.list.unshift(hot)
    },
    changeFloor (index, type) {
      this.$refs.left.scrollTop = this.$refs.left.children[index].offsetTop
      this.$toast({
        message: type,
        className: 'city-tip'
      })
    },
    changeCity (city) {
      console.log(city)
      this.currentCity = city
      localStorage.setItem('currentCity', city)
      this.$router.back()
    }
  },
  created () {
    this.getCity()
  }
}
</script>

<style>
.city-tip {
  max-width: 40px !important;
  min-width: 40px !important;
  width: 40px !important;
  height: 40px !important;
  line-height: 40px !important;
  font-size: 24px !important;
}
</style>
<style lang="scss" scoped>
.city {
  display: flex;
  flex-direction: column;
}
.title {
  height: 50px;
  line-height: 50px;
  text-align: center;
  position: relative;
  .close {
    position: absolute;
    left: 0;
    top: 0;
    padding: 0 20px;
  }
}
.search {
  height: 50px;
  width: 100%;
  padding: 9px 15px;
  background: #f4f4f4;
  display: flex;
  align-items: center;
  font-size: 14px;
  .inp {
    flex: 1;
    height: 100%;
    background: #ffffff;
    display: flex;
    align-items: center;
    input {
      flex: 1;
      height: 100%;
      appearance: none;
      outline: none;
      border: none;
    }
    .van-icon {
      margin: 0 10px;
    }
  }
  .btn {
    padding-left: 14px;
  }
}
.van-search {
  background: #f4f4f4;
  .van-search__content {
    background: #ffffff;
  }
}
.content {
  flex: 1;
  overflow: hidden;
  position: relative;
  font-size: 14px;
  .left {
    width: 100%;
    height: 100%;
    overflow: auto;
    padding-right: 20px;
  }
  .right {
    width: 20px;
    height: 100%;
    position: absolute;
    right: 0;
    top: 0;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    p {
      margin: 2px 0;
    }
  }
}
.type {
  h3 {
    background: #f4f4f4;
    color: #797d82;
    padding: 0 0 0 15px;
    height: 30px;
    line-height: 30px;
    font-weight: normal;
    font-size: 14px;
  }
  ul {
    padding-left: 20px;
    li {
      line-height: 48px;
      color: #191a1b;
      border-bottom: 1px solid #ededed;
      &:last-of-type {
        border-bottom: none;
      }
    }
  }
  &.hot {
    h3 {
      background: none;
    }
    ul {
      display: flex;
      flex-wrap: wrap;
      li {
        width: calc(100% / 3 - 11px);
        background: #ededed;
        margin-right: 11px;
        height: 30px;
        line-height: 30px;
        margin-bottom: 11px;
        font-size: 12px;
        text-align: center;
      }
    }
  }
}
</style>
