<script setup>
import { ref, reactive } from 'vue'
import Header from './components/Header.vue'
import Footer from './components/Footer.vue'
import Child from './components/Child.vue'
const curname = ref(Header)
const arr = reactive([
  {
    title: 'header组件',
    name: Header
  },
  {
    title: 'footer组件',
    name: Footer
  },
  {
    title: 'child组件',
    name: Child
  }
])
</script>

<template>
  <button
    v-for="item in arr"
    :key="item.name"
    :class="{ active: curname === item.name }"
    @click="curname = item.name"
  >{{ item.title }}</button>

  <KeepAlive>
    <component :is="curname" />
  </KeepAlive>
  <!-- <KeepAlive>
    <Header v-if="curname === 'header'" />
    <Footer v-else-if="curname === 'footer'" />
    <Child v-else />
  </KeepAlive> -->
</template>

<style lang='scss'>
.box {
  padding: 40px;
  border: 1px solid;
}
.active {
  background: orange;
}
</style>
