<script setup>
defineProps(['board'])
</script>

<template>
  <div class="board">
    <div
      class="item"
      v-for="(item, index) in board"
      :key="index"
      @click="$emit('change', index)"
    >{{ item }}</div>
  </div>
</template>

<style lang='scss' scoped>
.board {
  width: 120px;
  height: 120px;
  display: flex;
  flex-wrap: wrap;
  border-right: 1px solid #333;
  border-bottom: 1px solid #333;
}
.item {
  width: calc(100% / 3);
  height: calc(100% / 3);
  border-left: 1px solid #333;
  border-top: 1px solid #333;
  text-align: center;
  line-height: 39px;
  font-weight: bold;
  cursor: pointer;
}
</style>
