<script setup>
import { isWin } from '../util'
import { computed } from 'vue'
const props = defineProps(['next', 'list', 'step'])

const winner = computed(() => {
  return isWin(props.list[props.step].list)
})
</script>

<template>
  <div class="step">
    <h4 v-if="winner">获胜者：{{ winner }}</h4>
    <h4 v-else>下一步：{{ next ? 'X' : 'O' }}</h4>
    <ul>
      <li v-for="(item, index) in list" :key="item.id" :class="{ active: step === index }">
        {{ index }}.
        <button @click="$emit('back', index)">{{ index ? `第${index}步` : '开始游戏' }}</button>
      </li>
    </ul>
  </div>
</template>

<style lang='scss' scoped>
.step {
  margin-left: 20px;
}
.active {
  color: red;
}
</style>
