<script setup>
import axios from 'axios'
import moment from 'moment'
import { ref } from 'vue'
import { useRouter } from 'vue-router'
// 获取路由实例
const router = useRouter()
const list = ref([])
const getList = async () => {
  const res = await axios.get('https://zyxcl-music-api.vercel.app/playlist/hot')
  list.value = res.data.tags
}
getList()

const goDetail = id => {
  console.log(id)
  router.push({
    name: 'about',
    params: {
      id
    }
  })
  // router.push({
  //   path: '/about',
  //   query: {
  //     id
  //   }
  // })
}
</script>

<template>
  <main>
    <h1>首页</h1>
    <ul>
      <li v-for="item in list" :key="item.id" @click="goDetail(item.id)">
        <h3>{{ item.name }}</h3>
        <p>创建时间：{{ moment(item.createTime).format('YYYY-MM-DD') }}</p>
        <p>{{ item.usedCount }}人听过</p>
        <p>id: {{ item.id }}</p>
      </li>
    </ul>
  </main>
</template>

<style scoped>
li {
  width: 400px;
}
</style>
