<template>
  <div>
    <h1>{{ rootTitle }}</h1>
    <h2>{{ title }}</h2>
    <h3>{{ userTitle }}</h3>
    {{ cartList }}
    <button @click="handleClick">按钮</button>
    {{ total }}
  </div>
</template>

<script>
import { mapState, mapMutations, mapGetters } from 'vuex'
export default {
  computed: {
    // 获取有命名空间的子仓库的数据
    ...mapState('cart', ['title', 'cartList']),
    ...mapState('user', {
      userTitle: state => state.title
    }),
    ...mapState(['rootTitle']),
    ...mapGetters('cart', ['total'])
    // 获取子仓库中的数据
    // ...mapState({
    //   cartList: state => state.cart.cartList,
    //   title: state => state.cart.title
    // })
    // cartList () {
    //   return this.$store.state.cart.cartList
    // },
    // title () {
    //   return this.$store.state.cart.title
    // }
  },
  methods: {
    // 获取有命名空间的子仓库的 mutations 函数
    ...mapMutations('cart', ['setList']),
    handleClick () {
      // 调用子仓库的 mutations 函数
      // this.$store.commit('cart/setList')
      this.setList()
      // 调用子仓库的 actions 函数
      // this.$store.dispatch('cart/xxx')
    }
  },
  created () {
    console.log(this.$store.state)
  }
}
</script>

<style>

</style>
