<template>
  <div>
    详情页
    <img :src="info.img" alt="">
    <h2>{{ info.title }}</h2>
  </div>
</template>

<script>
import { mapState } from 'vuex'
export default {
  computed: {
    ...mapState('home', ['list']),
    info () {
      return this.list.find(item => item.item_id === Number(this.$route.query.id)) || {}
    }
  },
  created () {
    // 触发actions函数
    this.$store.dispatch('home/getList', { a: 100, b: 200 })
  }
}
</script>

<style>
img {
  width: 100%;
}
</style>
