<template>
  <div>
    <header>
      <router-link to="/user">用户名：{{ username }}</router-link>
      <router-link to="/cart">购物车</router-link>
    </header>
    <div class="loading" v-if="loading"><p>加载中。。。</p></div>
    <dl v-for="item in list" :key="item.item_id" @click="goDetail(item.item_id)">
      <dt>
        <img :src="item.img" alt="">
      </dt>
      <dd>
        <h4>{{ item.title }}</h4>
        <p>¥{{ item.price }}</p>
        <p>{{ item.item_id }}</p>
      </dd>
    </dl>
  </div>
</template>

<script>
import { mapState, mapActions } from 'vuex'
export default {
  data () {
    return {
      loading: false
    }
  },
  computed: {
    ...mapState('home', ['list']),
    ...mapState('user', ['username'])
  },
  methods: {
    ...mapActions('home', ['getList']),
    goDetail (id) {
      this.$router.push({
        path: '/detail',
        query: {
          id
        }
      })
    }
  },
  async created () {
    this.loading = true
    // 触发actions函数
    try {
      await this.getList({ c: 10000 })
      this.loading = false
    } catch (e) {
      alert('网络错误，请稍后重试！')
      this.loading = false
    }
    // this.$store.dispatch('getList')
  }
}
</script>

<style lang="scss" scoped>
header {
  display: flex;
  background: #ccc;
  justify-content: space-between;
  line-height: 40px;
  padding: 0 10px;
}
dl {
  width: 100%;
  display: flex;
  dt {
    width: 110px;
  }
  img {
    width: 100%;
    vertical-align: middle;
  }
  dd {
    flex: 1;
  }
}
.loading {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba($color: #000000, $alpha: .5);
  p {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: #ffffff;
    border-radius: 5px;
    width: 100px;
    height: 100px;
    text-align: center;
    line-height: 100px;
  }
}
</style>
