<template>
  <div>
    <h2>用户管理</h2>
    <img :src="avatar" width="50" alt="">
    <p>姓名: {{ username }}</p>
    <p>性别: {{ sex }}</p>
    <p>年龄: {{ age }}</p>
    <p>邮箱: {{ email }}</p>
    <button>修改</button>
  </div>
</template>

<script>
import { mapState } from 'vuex'
export default {
  computed: {
    ...mapState('user', ['username', 'age', 'sex', 'email', 'avatar'])
  }
}
</script>

<style>

</style>
