<script setup>
import {
  reactive,
  ref,
  nextTick,
  computed,
  onBeforeMount,
  onMounted,
  onBeforeUpdate,
  onUpdated,
  onBeforeUnmount,
  onUnmounted,
  watch,
  watchEffect,
  watchPostEffect
} from 'vue'
import Dialog from './components/Dialog.vue'
const show = ref(false)
const name = ref('header')
const change = () => {
  if (name.value === 'header') {
    name.value = 'footer'
  } else {
    name.value = 'header'
  }
}
</script>

<template>
  <button @click="show = !show">显示弹窗</button>
  <Dialog
    v-if="show"
    title="默认标题"
    cancelText="狠心删除"
    okText="我在想想"
    @cancel="show = false"
    @ok="show = false"
  >
    <template #[name]="obj">
      <h1>大标题 {{ obj.n }}</h1>
    </template>
    <ul>
      <li>1</li>
      <li>2</li>
      <li>3</li>
      <li>4</li>
      <li>5</li>
      <li>6</li>
      <li>7</li>
      <li>8</li>
      <li>9</li>
      <li>10</li>
    </ul>
    <button @click="change">切换插槽 {{ name }}</button>
  </Dialog>
</template>

<style lang="scss">
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
</style>
