<template>
  <div :style="{ fontSize: fontSize + 'px', color }">
    <p>{{ title }}</p>
    <input type="text" v-model="title">
    <button @click="add(-1)">-</button>
    <button @click="add(1)">+</button>
    <ButtonCounter
      :btnTitle="title"
      :count="count"
      @change="add"
    />
    <hr />
    <Font
      :fontSize="fontSize"
      :color="color"
      @changeFontSize="fontSize = $event"
      @changeColor="color = $event"
    />
  </div>
</template>

<script>
import ButtonCounter from './components/ButtonCouter.vue'
import Font from './components/Font.vue'

export default {
  data () {
    return {
      title: '标题',
      count: 100,
      fontSize: 14,
      color: '#FF0000'
    }
  },
  methods: {
    add (n) {
      this.count += n
      console.log('子组件中的num', n)
    }
  },
  components: {
    ButtonCounter,
    Font
  },
  created () {
    console.log('App.vue', this)
  }
}
</script>

<style>

</style>
