<template>
  <div class="app">
    <main>
      <Keyboard :list="list" :power="power" @change="changeMusic" />
      <Controller
        :music="curMusic"
        :power="power"
        :bank="bank"
        @changeBank="changeBank"
        @changePower="changePower"
        @changeVolume="changeVolume"
      />
    </main>
    <audio ref="audio" :src="curUrl" autoplay></audio>
  </div>
</template>

<script>
import axios from 'axios'
import Keyboard from './components/Keyboard.vue'
import Controller from './components/Controller.vue'

export default {
  components: {
    Keyboard,
    Controller
  },
  data () {
    return {
      list: [], // 数据
      curMusic: {}, // 当前音乐
      power: true, // 开关
      bank: false
    }
  },
  computed: {
    curUrl () {
      return this.bank ? this.curMusic.bankUrl : this.curMusic.url
    }
  },
  methods: {
    changeMusic (music) {
      this.curMusic = music
      this.$refs.audio.load()
    },
    changePower () {
      this.power = !this.power
      if (!this.power) {
        this.curMusic = {}
      }
    },
    changeBank () {
      this.bank = !this.bank
      this.curMusic = {}
    },
    changeVolume (volume) {
      this.$refs.audio.volume = volume
    }
  },
  async created () {
    try {
      const res = await axios.get('/api/list')
      this.list = res.data
    } catch (e) {
      console.log(e)
    }
  }
}
</script>

<style lang="scss">
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html, body, .app {
  width: 100%;
  height: 100%;
  background: #989898;
}
.app {
  display: flex;
  justify-content: center;
  align-items: center;
}
main {
  width: 600px;
  height: 300px;
  border: 4px #f4b03e solid;
  background: #bcbcbc;
  padding: 30px;
  display: flex;
}
</style>
