.home {
  height: 100%;
  display: flex;
  flex-direction: column;
  main {
    flex: 1;
    overflow: hidden;
  }
  footer {
    height: 50px;
    border-top: 1px solid #dddddd;
    display: flex;
    a {
      flex: 1;
      text-align: center;
      line-height: 50px;
    }
    .active {
      background: tomato;
    }
  }
}
