<template>
  <div class="select-wrap">
    <div :class="['select', { active }]" @click.stop="active = !active">
      <div class="placeholder" v-if="selectList.length === 0">请选择</div>
      <div class="tags" v-else>
        <p v-for="item in selectList" :key="item.name">
          {{ item.name }}
          <span @click.stop="change(item)">x</span>
        </p>
      </div>
    </div>
    <div class="list" @click.stop v-if="active">
      <div class="search">
        <svg t="1675839672593" class="icon" viewBox="0 0 1024 1024" version="1.1" xmlns="http://www.w3.org/2000/svg" p-id="1494" width="22" height="22"><path d="M953.474215 908.234504l-152.576516-163.241391c61.92508-74.48211 95.81186-167.36973 95.81186-265.073744 0-229.294809-186.63531-415.930119-416.102133-415.930119-229.294809 0-415.930119 186.63531-415.930119 415.930119s186.63531 415.930119 415.930119 415.930119c60.032925 0 118.00168-12.55703 172.186125-37.327062 16.169326-7.396607 23.221905-26.318159 15.825298-42.315471-7.396607-16.169326-26.318159-23.221905-42.315471-15.825298-45.927768 20.813707-94.951789 31.478582-145.695952 31.478582-194.031917 0-351.94087-157.908953-351.94087-351.94087 0-194.031917 157.908953-351.94087 351.94087-351.94087 194.031917 0 351.94087 157.908953 351.94087 351.94087 0 91.339493-34.918864 177.86259-98.048043 243.743995-12.213002 12.729044-11.868974 33.026709 0.860071 45.239711 1.032085 0.860071 2.236183 1.204099 3.268268 2.064169 0.860071 1.204099 1.376113 2.752226 2.408198 3.956325l165.477574 177.00252c6.192508 6.70855 14.793214 10.148833 23.393919 10.148833 7.912649 0 15.653284-2.92424 21.845792-8.600706C964.827146 941.433227 965.515202 921.135562 953.474215 908.234504z" fill="#575B66" p-id="1495"></path></svg>
        <input type="text" placeholder="请搜索" v-model.trim="query">
      </div>
      <div class="options">
        <div
          v-for="(item, index) in filterOptions"
          :key="item.name"
          :class="['item', { bg: mouseoverIndex === index }]"
          @click="change(item)"
          @mouseenter="mouseoverIndex = index"
        >
          <svg v-if="item.checked" t="1675841530505" class="icon" viewBox="0 0 1024 1024" version="1.1" xmlns="http://www.w3.org/2000/svg" p-id="3586" width="22" height="22"><path d="M863.8 63.7h-704c-53 0-96 43-96 96v704c0 53 43 96 96 96h704c53 0 96-43 96-96v-704c0-53-42.9-96-96-96z m-54.9 374.1l-332.4 284c-11.7 10-26.3 15.3-41.5 15.3-1.7 0-3.4-0.1-5.1-0.2-17-1.3-32.5-9.2-43.6-22.2L208.8 507c-11.5-13.4-9.9-33.6 3.5-45.1s33.6-9.9 45.1 3.5L434.8 673l332.4-284c13.4-11.5 33.6-9.9 45.1 3.5 11.6 13.6 10 33.8-3.4 45.3z" p-id="3587"></path></svg>
          <svg v-else t="1675841482756" class="icon" viewBox="0 0 1024 1024" version="1.1" xmlns="http://www.w3.org/2000/svg" p-id="3431" width="22" height="22"><path d="M863.84 127.73a32 32 0 0 1 32 32v704a32 32 0 0 1-32 32h-704a32 32 0 0 1-32-32v-704a32 32 0 0 1 32-32h704m0-64h-704a96 96 0 0 0-96 96v704a96 96 0 0 0 96 96h704a96 96 0 0 0 96-96v-704a96 96 0 0 0-96-96z" p-id="3432"></path></svg>
          <p>{{ item.name }}</p>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  props: ['data', 'value'],
  data () {
    return {
      active: false,
      options: [], // 列表数据
      selectList: [], // 选中的数据
      mouseoverIndex: -1,
      query: '' // 搜索框内容
    }
  },
  computed: {
    filterOptions () {
      // 根据搜索框内容筛选数据
      if (!this.query) return this.options
      return this.options.filter(item => item.name.includes(this.query))
    }
  },
  watch: {
    data: {
      handler () {
        // 根据传入的数据生成页面使用的数据
        this.options = this.data.map(item => {
          return {
            name: item.name,
            value: item.value,
            checked: this.value.includes(item.value)
          }
        })
      },
      immediate: true
    }
  },
  methods: {
    hideList () {
      this.active = false
    },
    // 选择数据
    change (item) {
      item.checked = !item.checked
      if (item.checked) {
        this.selectList.push(item)
      } else {
        this.selectList = this.selectList.filter(val => val !== item)
      }
      this.$emit('input', this.selectList.map(item => item.value))
    }
  },
  mounted () {
    document.addEventListener('click', this.hideList)
    this.selectList = this.options.filter(item => this.value.includes(item.value))
  },
  beforeDestroy () {
    document.removeEventListener('click', this.hideList)
  }
}
</script>

<style lang="scss" scoped>
.select-wrap {
  position: relative;
}
.select {
  min-width: 300px;
  height: 38px;
  background: #FFF;
  position: relative;
  border: 1px solid #E6E6E6;
  border-radius: 2px;
  display: block;
  width: 100%;
  cursor: pointer;
  outline: none;
  &:hover {
    border-color: #C0C4CC;
  }
  &::after {
    content: '';
    position: absolute;
    top: 16px;
    right: 15px;
    border: 8px solid transparent;
    border-top-color: #999999;
    transition: transform .5s linear;
    transform-origin: center 4px;
  }
  &.active {
    border-color: #009688;
    &::after {
      transform: rotate(180deg);
    }
  }
}
.tags {
  height: 100%;
  display: flex;
  align-items: center;
  overflow-x: auto;
  padding-right: 20px;
  &::-webkit-scrollbar {
    display: none;
  }
  p {
    background: #009688;
    padding: 3px 8px;
    border-radius: 3px;
    color: #ffffff;
    margin-left: 5px;
    flex-shrink: 0;
  }
}
.placeholder {
  line-height: 38px;
  font-size: 14px;
  padding: 0 15px;
  color: #999999;
  user-select: none;
}
.list {
  height: 300px;
  background: #FFF;
  position: absolute;
  top: 42px;
  left: 0;
  width: 100%;
  padding: 5px 0;
  z-index: 999;
  border: 1px solid #E6E6E6;
  border-radius: 2px;
  box-shadow: 0 2px 4px rgb(0 0 0 / 12%);
  display: flex;
  flex-direction: column;
}
.search {
  height: 38px;
  border-bottom: 1px solid #E6E6E6;
  display: flex;
  align-items: center;
  padding: 0 20px;
  .icon {
    width: 22px;
  }
  input {
    flex: 1;
    border: none;
    height: 100%;
    outline: none;
    margin-left: 10px;
  }
}
.options {
  flex: 1;
  overflow: auto;
}
.item {
  line-height: 36px;
  height: 36px;
  display: flex;
  align-items: center;
  color: #666666;
  padding: 0 20px;
  cursor: pointer;
  p {
    margin-left: 15px;
  }
  &.bg {
    background: #f2f2f2;
  }
}
</style>
