<template>
  <div>
    <NumButton :n="num" @handleClick="num += $event" />
    <p>num: {{ num }}</p>
    <!-- <input type="text" :value="title" @input="title = $event.target.value"> {{ title }} -->
  </div>
</template>

<script>
import NumButton from './components/NumButton.vue'

export default {
  data () {
    return {
      num: 0,
      title: 'App.vue'
    }
  },
  methods: {
    changeFn (e) {
      this.title = e.target.value
    },
    addNum (e) {
      this.num += e
    }
  },
  components: {
    NumButton
  },
  mounted () {
    // console.log(this.$children) // 可以获取所有子组件的实例对象
  }
}
</script>

<style>

</style>
