<template>
  <el-container>
    <el-header>
      <div class="logo">Logo</div>
      <el-menu class="menu" :default-active="$route.path" router mode="horizontal" background-color="#4481f6" text-color="#fff" active-text-color="#ffd04b">
        <el-menu-item index="/dashboard">监控页</el-menu-item>
        <el-menu-item index="/list">设备管理</el-menu-item>
        <el-menu-item index="/edit">设备编辑</el-menu-item>
        <el-menu-item index="/info">设备查看</el-menu-item>
      </el-menu>
      <div class="info">
        <el-avatar shape="square" size="large" src="https://cube.elemecdn.com/9/c2/f0ee8a3c7c9638a54940382568c9dpng.png"></el-avatar>
        <el-dropdown>
          <span class="el-dropdown-link">
            王晓明<i class="el-icon-arrow-down el-icon--right"></i>
          </span>
          <el-dropdown-menu slot="dropdown">
            <el-dropdown-item>个人设置</el-dropdown-item>
            <el-dropdown-item>退出登陆</el-dropdown-item>
          </el-dropdown-menu>
        </el-dropdown>
      </div>
    </el-header>
    <el-main>
      <router-view />
    </el-main>
  </el-container>
</template>

<script>
export default {

}
</script>

<style lang="scss" scoped>
.el-container {
  width: 100%;
  min-height: 100vh;
  background: #f2f2f2;
}
.el-header {
  background: #4481f6;
  display: flex;
}
.logo {
  font-size: 40px;
  color: #ffffff;
  margin-right: 20px;
}
.menu {
  flex: 1;
  border-bottom: none !important;
  padding: 10px 0;
  &::v-deep .el-menu-item {
    height: 40px;
    line-height: 40px;
    border-bottom: none;
  }
  &::v-deep .el-menu-item.is-active {
    color: #ffffff !important;
    border-bottom: none;
    background-color: #1861d5 !important;
    font-weight: bold;
  }
}
.info {
  display: flex;
  align-items: center;
  .el-avatar {
    margin-right: 12px;
  }
  .el-dropdown-link {
    color: #ffffff;
  }
}
</style>
