<script setup>
import { computed } from 'vue';
import { useRoute } from 'vue-router'
import useUserInfoStore from '@/stores/useUserInfo'

const userInfoStore = useUserInfoStore()
const route = useRoute()

const showNav = computed(() => {
  return route.path.includes('discover')
})
</script>

<template>
  <div class="header">
    <div class="top-bar">
      <div class="bar">
        <h1 @click="$router.push('/discover')"></h1>
        <ul>
          <li>
            <router-link to="/discover">发现音乐</router-link>
          </li>
          <li>
            <router-link to="/my">我的</router-link>
          </li>
          <li>
            <router-link to="/friend">关注</router-link>
          </li>
          <li>
            <router-link to="/download">下载</router-link>
          </li>
        </ul>
        <div class="right">
          <div class="search">
            <input type="text" placeholder="音乐/视频/电台/用户">
          </div>
          <div class="creator">创作者中心</div>
          <div class="userinfo" v-if="userInfoStore.userinfo">
            <div class="avatar"><img :src="userInfoStore.userinfo.profile.avatarUrl" alt=""></div>
            <button @click="userInfoStore.logout">退出登陆</button>
          </div>
          <div v-else class="log" @click="userInfoStore.showLogin = true">登录</div>
        </div>
      </div>
    </div>
    <div :class="['nav', { showNav: showNav }]">
      <div class="nav-bar">
        <ul>
          <li><router-link to="/discover">推荐</router-link></li>
          <li><router-link to="/discover/toplist">排行榜</router-link></li>
          <li><router-link to="/discover/playlist">歌单</router-link></li>
          <li><router-link to="/discover/djradio">电台</router-link></li>
          <li><router-link to="/discover/artist">歌手</router-link></li>
          <li><router-link to="/discover/album">新碟上架</router-link></li>
        </ul>
      </div>
    </div>
  </div>
</template>

<style lang='scss' scoped>
.header {
  min-width: 1100px;
}
.top-bar {
  height: 70px;
  background: #242424;
  border-bottom: 1px solid #000;
}

.bar {
  width: 1100px;
  height: 70px;
  margin: 0 auto;
  display: flex;
  align-items: center;

  h1 {
    width: 177px;
    height: 100%;
    background: url(../../assets/topbar.png);
  }

  ul {
    display: flex;
    flex: 1;
  }

  li a {
    display: block;
    padding: 0 22px;
    text-align: center;
    line-height: 70px;
    color: #ccc;
    position: relative;

    &:hover {
      background: #000;
    }
    &.router-link-active {
      background: #000;
      &::after {
        content: '';
        position: absolute;
        bottom: 0;
        left: 50%;
        transform: translateX(-50%);
        width: 12px;
        height: 6px;
        background: #ffffff url(../../assets/topbar.png) no-repeat -226px 0px;
      }
    }
  }
}

.right {
  display: flex;
  align-items: center;
}

.search {
  width: 158px;
  height: 32px;
  border-radius: 32px;
  background-color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  padding-left: 8px;

  input {
    border: none;
    outline: none;
    font-size: 12px;
  }
}

.creator {
  font-size: 12px;
  margin: 0 10px;
  padding: 5px 12px;
  border: 1px solid #4f4f4f;
  border-radius: 15px;
  color: #ccc;
}

.log {
  color: #787878;
  font-size: 12px;
  cursor: pointer;
}
.userinfo {
  padding: 0 10px;
  position: relative;
  .avatar {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    overflow: hidden;
  }
  img {
    width: 100%;
  }
}

.nav {
  height: 5px;
  background-color: #C20C0C;
  border-bottom: 1px solid #a40011;
}
.nav-bar {
  display: none;
  width: 1100px;
  margin: 0 auto;
  padding-left: 177px;
  ul {
    display: flex;
    li {
      height: 34px;
      padding: 0 17px;
      text-align: center;
      padding-top: 4px;
    }
    a {
      display: block;
      padding: 5px 15px;
      color: #ffffff;
      font-size: 12px;
      &:hover, &.router-link-exact-active  {
        background: #9B0909;
        border-radius: 20px;
      }
    }
  }
}
.showNav {
  height: 35px;
  .nav-bar {
    display: block;
  }
}
</style>
