<script>
export default {
  data () {
    return {
      title: 'Vue3',
      num: 0,
      obj: {
        name: 'aa',
        age: 10
      }
    }
  },
  watch: {
    num () {
      console.log('num改变了', this.num)
    }
  },
  mounted () {
    console.log(this.obj)
  }
}
</script>

<template>
  <h1>{{ title }}</h1>
  <button @click="num++">{{ num }}</button>
</template>

<style lang="scss" scoped>
h1 {
  color: red;
}

</style>
