<script setup>
import {
  reactive,
  ref,
  nextTick,
  computed,
  onBeforeMount,
  onMounted,
  onBeforeUpdate,
  onUpdated,
  onBeforeUnmount,
  onUnmounted,
  watch,
  watchEffect,
  watchPostEffect
} from 'vue'
import Goods from './components/Goods.vue'
const title = ref('榴莲')
const price = ref(10)
const count = ref(1)
const changeCount = (n) => {
  count.value += n
}
</script>

<template>
  <h1>组件</h1>
  <Goods :title="title" :price="price" :count="count" @onClick="changeCount" />
</template>

<style lang="scss" scoped>
</style>
