<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <script src="./vue.js"></script>
</head>
<body>
  <div class="app">
    <h1>{{ title.split('') }}</h1>
    <p>{{ num }}</p>
    <!-- {{ 只能写表达式，不能写语句 }} -->
    {{ num > 5 ? '大于五' : '小于五' }}
  </div>

  <script>
    // vue核心思想：数据驱动视图改变，响应式数据绑定dom元素
    const vm = new Vue({
      el: '.app', // 挂载元素
      data: { // 存 vue 数据
        title: '开始学习vue',
        num: 0
      }
    })

    console.log(vm)
  </script>
</body>
</html>