<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <script src="./vue.js"></script>
</head>
<style>
  .red {
    width: 100px;
    height: 100px;
    background: red;
  }
  .blue {
    width: 180px;
    height: 150px;
    background: blue;
  }
</style>
<body>
  <div class="app">
    <h1>{{ title }}</h1>
    <div v-text="msg"></div> <!-- innerText -->
    <div v-html="msg"></div> <!-- innerHTML -->
    <hr />
    <!-- <div v-show="num > 0">box</div> -->
    <div v-if="num === 0">box000000000</div>
    <div v-else-if="num === 1">box1111111111</div>
    <div v-else>boxxxxxxxxxxx</div>
  </div>

  <script>
    const vm = new Vue({
      el: '.app', // 挂载元素
      data: { // 存 vue 数据
        title: '开始学习vue',
        msg: '<b style="color: red">标签</b>',
        num: 0
      }
    })

    console.log(vm)
  </script>
</body>
</html>