<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <script src="./vue.js"></script>
</head>
<style>
</style>
<body>
  <div class="app">
    <h1>v-for</h1>
    <!-- <ul>
      <li v-for="(val, i) in arr">{{ val }} / {{ i }}</li>
    </ul> -->
    <!-- <ul>
      <li v-for="(item, index) in 5">{{ item }} / {{ index }}</li>
    </ul> -->
    <!-- <ul>
      <li v-for="(item, index) in 'ABCDEFG'">{{ item }} / {{ index }}</li>
    </ul> -->
    <!-- <ul>
      <li v-for="(val, key, index) in obj">{{ val }} / {{ key }} / {{ index }}</li>
    </ul> -->
    <ul>
      <li v-for="item in list">
        <p>姓名: {{ item.name }}</p>
        <p>年龄: {{ item.age }}</p>
        <p>性别: {{ item.sex }}</p>
        <p>爱好：
          <b v-for="val in item.hobby">{{ val }}</b>
        </p>
      </li>
    </ul>
  </div>

  <script>
    const vm = new Vue({
      el: '.app',
      data: {
        arr: ['a', 'b', 'c', 'd', 'e'],
        obj: {
          name: '王小明',
          age: 10,
          sex: '男'
        },
        list: [
          {
            name: '王小明',
            age: 10,
            sex: '男',
            hobby: ['唱歌', '跳舞']
          },
          {
            name: '李丽丽',
            age: 20,
            sex: '女',
            hobby: ['rap', '篮球']
          },
          {
            name: '张三',
            age: 30,
            sex: '男',
            hobby: ['学习刑法']
          }
        ]
      }
    })

    console.log(vm)
  </script>
</body>
</html>