<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <script src="./vue.js"></script>
</head>
<style>
  li {
    background: tomato;
    margin-bottom: 10px;
  }
</style>
<body>
  <div class="app">
    <h1>v-on 绑定事件</h1>

    <button v-on:click="num--">-</button>
    {{ num }}
    <button @click="num++">+</button>
    <hr />

    <ul @click="log">
      <li v-for="item in 5">{{ item }}</li>
    </ul>
    <hr />
    <h3>{{ msg }}</h3>
    <!-- $event: 事件对象 -->
    <input type="text" @input="msg = $event.target.value">
    <input type="text" @input="changeMsg">
    <hr />


    <button v-on:click="changeNum(-2, $event)">-</button>
    {{ num }}
    <button @click="changeNum(2, $event)">+</button>
  </div>

  <script>
    const vm = new Vue({
      el: '.app',
      data: {
        num: 0,
        msg: '默认值'
      },
      methods: { // 定义方法
        log (e) {
          console.log(e.target)
        },
        changeMsg (e) {
          // this === vm
          this.msg = e.target.value
        },
        changeNum (n, e) {
          this.num += n
          console.log(e.target)
        }
      }
    })
    console.log(vm)
  </script>
</body>
</html>