<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <script src="./vue.js"></script>
</head>
<style>
  li {
    background: tomato;
    margin-bottom: 10px;
  }
  .box {
    padding: 80px;
  }
  .red {
    background: red;
  }
  .blue {
    background: blue;
  }
  .green {
    background: green;
  }
</style>
<body>
  <div class="app">
    <h1>v-on 绑定事件</h1>
    <!-- <div class="box red" @click.self="tip('red')" @click.self.capture="tip('red capture')">
      <div class="box blue" @click.stop="tip('blue')" @click.capture="tip('blue capture')">
        <div class="box green" @click="tip('green')" @click.capture="tip('green capture')"></div>
      </div>
    </div> -->
    <a href="http://www.baidu.com" @click.prevent>跳转</a>
    <input type="text" @keydown.13="keydown">
    <button @click.once.right="num++">{{ num }}</button>
  </div>

  <script>
    const vm = new Vue({
      el: '.app',
      data: {
        num: 0
      },
      methods: { // 定义方法
        tip (text) {
          alert(text)
        },
        keydown (e) {
          console.log('按下回车')
        }
      }
    })
    console.log(vm)
  </script>
</body>
</html>