<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <script src="./vue.js"></script>
</head>
<style>
</style>
<body>
  <div class="app">
    <h1>v-bind</h1>
    <a v-bind:href="url">跳转</a>
    <a :href="url">跳转</a>
    <hr />
    <ul>
      <li v-for="item in imgs" @click="cur = item">
        <img v-bind:src="item" alt="">
      </li>
    </ul>
    <img :src="cur" width="300" alt="">
  </div>

  <script>
    const vm = new Vue({
      el: '.app',
      data: {
        url: 'http://www.baidu.com',
        cur: '',
        imgs: [
          'http://img12.360buyimg.com/n5/s54x54_jfs/t1/127040/3/33501/47691/63b56f5cFb9f7677d/302093ff6efc410d.jpg',
          'http://img12.360buyimg.com/n5/s54x54_jfs/t1/220145/6/20933/76257/63b5544eF65cac81c/159b419aa21b5bee.jpg',
          'http://img12.360buyimg.com/n5/s54x54_jfs/t1/101533/27/22596/74660/63b55454F58cdb7f5/218ab6eb9c13eccc.jpg'
        ]
      },
      methods: { // 定义方法
      }
    })
    console.log(vm)
  </script>
</body>
</html>