<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <script src="./vue.js"></script>
</head>
<style>
  .red {
    background: red;
  }
  .green {
    background: green;
  }
  .inp {
    height: 40px;
  }
</style>
<body>
  <div class="app">
    <h1>v-bind 绑定 class 和 style</h1>
    <!-- 绑定class -->
    <!-- <input type="text" :disabled="num <= 0" class="box00" :class="['box', 'inp', num <= 0 ? 'red' : 'green']"> -->
    <!-- <input type="text" :disabled="num <= 0" :class="['box', { red: num > 0, green: num > 4 }]"> -->

    <!-- <h2 :style="styleStr">绑定style</h2> -->
    <h2 :style="[styleObj, { color: 'red', fontSize: num + 'px' }]">绑定style</h2>
    <button @click="num--">-</button>{{ num }}<button @click="num++">+</button>
  </div>

  <script>
    const vm = new Vue({
      el: '.app',
      data: {
        num: 16,
        styleStr: 'color: red; font-size: 20px',
        styleObj: {
          background: 'green'
        }
      },
      methods: { // 定义方法
      }
    })
    console.log(vm)
  </script>
</body>
</html>