<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <script src="./vue.js"></script>
</head>
<style>
</style>
<body>
  <div class="app">
    <h1>v-model</h1>
    <h2>{{ text }}</h2>
    <!-- 双向绑定 -->
    <input type="text" :value="text" @input="text = $event.target.value">
    <input type="text" v-model="text">
    <button @click="text = '默认标题'">重置成默认值</button>
  </div>

  <script>
    const vm = new Vue({
      el: '.app',
      data: {
        text: '默认标题'
      },
      methods: { // 定义方法
      }
    })
  </script>
</body>
</html>