<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <script src="./vue.js"></script>
</head>
<style>
</style>
<body>
  <div class="app">
    <h1>v-model 获取表单数据</h1>
    <div>
      <p>姓名: <input type="text" v-model.trim.lazy="form.name"></p>
      <p>年龄: <input type="number" v-model.number="form.age"></p>
      <p>性别: 
        <input type="radio" name="sex" value="男" v-model="form.sex">男
        <input type="radio" name="sex" value="女" v-model="form.sex">女
      </p>
      <p>地址:
        <select v-model="form.address">
          <option value="">请选择</option>
          <option value="北京">北京</option>
          <option value="上海">上海</option>
          <option value="广州">广州</option>
          <option value="深圳">深圳</option>
        </select>
      </p>
      <p>
        婚姻状况: <input type="checkbox" v-model="form.married">
      </p>
      <div>爱好：
        <ul>
          <li><input type="checkbox" value="唱歌" v-model="form.hobby">唱歌</li>
          <li><input type="checkbox" value="跳舞" v-model="form.hobby">跳舞</li>
          <li><input type="checkbox" value="篮球" v-model="form.hobby">篮球</li>
          <li><input type="checkbox" value="rap" v-model="form.hobby">rap</li>
        </ul>
      </div>
      <div>备注：<textarea v-model="form.remark"></textarea></div>
      <button @click="submit">提交</button>
    </div>
    {{ form }}
  </div>

  <script>
    const vm = new Vue({
      el: '.app',
      data: {
        form: {
          name: '',
          age: '',
          sex: '',
          address: '',
          married: false,
          hobby: [],
          remark: ''
        }
      },
      methods: { // 定义方法
        submit () {
          console.log(this.form)
        }
      }
    })
  </script>
</body>
</html>