<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <script src="./vue.js"></script>
</head>
<style>
[v-cloak] {
  display: none;
}
</style>
<body>
  <div class="app">
    <div v-pre>{{ num }}</div>
    <button @click="add">+</button>
    <b v-once>{{ num }}</b>

    <div v-cloak>{{ num }}</div>
  </div>

  <script>
    const vm = new Vue({
      el: '.app',
      data: {
        num: 0
      },
      methods: { // 定义方法
        add () {
          this.num ++
          console.log(this.num)
        }
      }
    })
  </script>
</body>
</html>