<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <script src="./vue.js"></script>
</head>
<style>
  span {
    margin-right: 20px;
  }
</style>
<body>
  <div class="app">
    <ul>
      <li v-for="i in 9">
        <span v-for="j in i">{{ j }} * {{ i }} = {{ j * i }};</span>
      </li>
    </ul>
  </div>
  <script>
    const vm = new Vue({
      el: '.app',
      data: {}
    })
  </script>
</body>
</html>