<template>
  <div class="three">
    <h2>组件三</h2>
    <button @click="num++">+</button> {{ num }}
  </div>
</template>

<script>
export default {
  data () {
    return {
      num: 0
    }
  },
  methods: {
    add () {
      this.num++
      console.log(this.num)
    }
  },
  created () {
    console.log('child3创建成功')
    // this.timer = setInterval(() => {
    //   console.log(this.num)
    //   this.num++
    // }, 1000)
  },
  mounted () {
    // document.addEventListener('click', this.add)
  },
  updated () {
    // console.log('组件更新完成')
  },
  beforeDestroy () {
    console.log('Child3即将销毁清除页面中的异步任务，定时器、原生事件')
    // clearInterval(this.timer)
    // document.removeEventListener('click', this.add)
  }
}
</script>

<style lang="scss" scoped>
.box {
  border: 1px solid;
  padding: 20px;
}
</style>
