<template>
  <div class="box">
    <h2>组件一</h2>
    <div class="one">
      <div>姓名：<input type="text" v-model="form.name"></div>
      <div>年龄：<input type="text" v-model="form.age"></div>
      <div>性别：<input type="text" v-model="form.sex"></div>
      <div>地址：<input type="text" v-model="form.address"></div>
    </div>
  </div>
</template>

<script>
export default {
  data () {
    return {
      form: {
        name: '',
        age: '',
        sex: '',
        address: ''
      }
    }
  },
  created () {
    console.log('导航一创建成功')
  },
  beforeDestroy () {
    console.log('导航一销毁')
  }
}
</script>

<style lang="scss" scoped>
.box {
  border: 1px solid;
  padding: 20px;
}
</style>
