* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
li {
  list-style-type: none;
}
.app {
  padding: 20px;
  display: flex;
}
.board {
  margin-right: 20px;
  ul {
    display: flex;
    flex-wrap: wrap;
    width: 121px;
    height: 121px;
    border-top: 1px solid #333;
    border-left: 1px solid #333;
  }
  li {
    width: 40px;
    height: 40px;
    border-right: 1px solid #333;
    border-bottom: 1px solid #333;
    font-size: 20px;
    text-align: center;
    line-height: 40px;
    font-weight: bold;
  }
}