<script setup>
import { useRoute } from 'vue-router'
import { playlistDetailApi, commentPlaylistApi } from '@/service/playlist'
import { ref } from 'vue'
import moment from 'moment'
import usePlay from '@/stores/usePlay'
const playStore = usePlay()
const route = useRoute()
const info = ref({})
const commentList = ref([])
const hotCommentList = ref([])

const getDetial = async () => {
  const res = await playlistDetailApi(route.params.id)
  info.value = res.data.playlist
}
getDetial()

const getComment = async () => {
  const res = await commentPlaylistApi(route.params.id)
  commentList.value = res.data.comments
  hotCommentList.value = res.data.hotComments
}
getComment()


</script>

<template>
  <div class="m-w">
    <div class="info" v-if="info.name">
      <h3>{{ info.name }}</h3>
      <img :src="info.coverImgUrl" width="120" alt="">
      <div class="creater">
        <h4>{{ info.creator.nickname }}</h4>
        <img :src="info.creator.avatarUrl" width="40" alt="">
        <p>创建时间: {{ moment(info.createTime).format('YYYY-MM-DD') }}</p>
      </div>
      <p>标签: {{ info.algTags }}</p>
      <p>描述: {{ info.description }}</p>
    </div>
    <div class="list">
      <h2>歌曲列表</h2>
      <ul>
        <li class="song" v-for="item in info.tracks" :key="item.id" @click="playStore.addSongs(item.id)">
          <h3>{{ item.name }}</h3>
          <p>歌手: <span v-for="val in item.ar" :key="val.name">{{ val.name }}</span></p>
          <p>专辑: {{ item.al.name }}</p>
        </li>
      </ul>
    </div>
    <div class="comment">
      <h2>热门评论</h2>
      <ul>
        <li v-for="item in hotCommentList" :key="item.commentId">{{ item.content }}</li>
      </ul>
      <h2>最新评论</h2>
      <ul>
        <li v-for="item in commentList" :key="item.commentId">{{ item.content }}</li>
      </ul>
    </div>
  </div>
</template>

<style lang='scss' scoped>
li {
  padding: 10px;
  border-bottom: 1px solid;
}
h2 {
  background: #eeeeee;
  margin-top: 20px;
}
.song {
  cursor: pointer;
}
</style>
