* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
li {
  list-style-type: none;
}
html, body, #root {
  width: 100%;
  min-height: 100vh;
  background: #cccccc;
}
.App {
  margin: 100px auto;
  width: 600px;
  height: 300px;
  border: 5px solid orange;
  display: flex;
  background: #dddddd;
}