<template>
  <div class="box app">
    <h1>App</h1>
    <main>
      <Child1 />
      <Child2 />
    </main>
  </div>
</template>

<script>
import Child1 from './components/Child1.vue'
import Child2 from './components/Child2.vue'

export default {
  components: {
    Child1,
    Child2
  }
}
</script>

<style>
main {
  display: flex;
}
.box {
  border: 1px solid;
  padding: 40px 20px;
  flex: 1;
}
</style>
