* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html, body, #app {
  min-height: 100vh;
  font-size: 14px;
  color: #333333;
}
li {
  list-style-type: none;
}
img {
  vertical-align: middle;
}
a {
  text-decoration: none;
  color: #333333;
}
.m-w {
  width: 980px;
  min-height: 700px;
  margin: 0 auto;
  background-color: #fff;
  border: 1px solid #d3d3d3;
}