* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; // 开启IE盒模型
}
.dialog {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba($color: #000000, $alpha: .5);
}
.dialog-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  min-width: 400px;
  max-width: 700px;
  min-height: 300px;
  background: #ffffff;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
}
.red {
  border: 2px solid red;
}
.dialog-center {
  flex: 1;
  border-top: 1px solid #dddddd;
  border-bottom: 1px solid #dddddd;
  padding: 15px;
}
.dialog-header, .dialog-footer {
  width: 100%;
  height: 50px;
}
.dialog-header {
  display: flex;
  align-items: center;
  b {
    flex: 1;
    overflow: hidden;
    padding: 0 10px;
  }
  span {
    width: 25px;
    height: 25px;
    font-size: 20px;
    cursor: pointer;
  }
}
.dialog-footer {
  display: flex;
  justify-content: flex-end;
  padding: 10px;
  button {
    margin-left: 15px;
    padding: 0 10px;
  }
}
