<template>
  <div class="page">
    <van-contact-card
      :type="curAddress.name ? 'edit' : 'add'"
      :name="curAddress.name"
      :tel="curAddress.tel"
      @click="goAddress"
    />
    <div class="cart-content" v-if="cart.length > 0">
      <van-cell
        :class="['goods', { checked: item.checked }]"
        v-for="item in cart"
        :key="item.id"
        :title="item.title"
        title-class="title"
        :icon="item.checked ? 'checked' : 'circle'"
        center
        @click="changeChecked(item.id)"
      >
        <template #label>
          <p class="price">¥<b>{{ item.price }}</b></p>
        </template>
        <template #right-icon>
          <van-button class="btn" color="#ed8048" plain size="mini" icon="minus" @click.stop="sub(item)"></van-button>
          <span class="count">{{ item.count }}</span>
          <van-button class="btn" color="#ed8048" plain size="mini" icon="plus" @click.stop="changeCount({ id: item.id, num: 1 })"></van-button>
        </template>
      </van-cell>
      <van-submit-bar class="submit-bar" :price="total.price * 100" button-text="提交订单" @submit="onSubmit">
        <van-checkbox v-model="checkAll" @click="changeAllCehcked">全选</van-checkbox>
      </van-submit-bar>
    </div>
    <van-empty
      v-else
      class="custom-image"
      image="https://img01.yzcdn.cn/vant/custom-empty-image.png"
      description="购物车还没有商品"
    />
  </div>
</template>

<script>
import { mapState, mapMutations, mapGetters } from 'vuex'
export default {
  data () {
    return {
      checkAll: false
    }
  },
  watch: {
    cart: {
      handler () {
        this.checkAll = this.cart.every(v => v.checked)
      },
      deep: true,
      immediate: true
    }
  },
  computed: {
    ...mapState('goods', ['cart']),
    ...mapState('address', ['curAddress']),
    ...mapGetters('goods', ['total'])
  },
  methods: {
    ...mapMutations('goods', ['changeCount', 'changeChecked', 'changeAll']),
    async sub (item) {
      if (item.count === 1) {
        try {
          await this.$dialog.confirm({
            title: '是否删除该商品'
          })
          this.changeCount({ id: item.id, num: -1 })
        } catch (e) {}
      } else {
        this.changeCount({ id: item.id, num: -1 })
      }
    },
    goAddress () {
      this.$router.push('/address')
    },
    changeAllCehcked () {
      this.changeAll(this.checkAll)
    },
    onSubmit () {
      this.$router.push('/pay?orderId=1234566789')
    }
  }
}
</script>

<style lang="scss" scoped>
.page {
  background: #eeeeee;
  display: flex;
  flex-direction: column;
}
.cart-content {
  flex: 1;
  overflow: auto;
  padding-bottom: 50px;
}
.goods ::v-deep .van-icon {
  font-size: 20px;
  color: #c8c9cc;
}
.checked ::v-deep .van-icon {
  font-size: 20px;
  color: #1989fa;
}
.submit-bar {
  bottom: 50px;
}
.title {
  font-weight: bold;
  font-size: 16px;
}
.price {
  font-weight: bold;
  font-size: 14px;
  color: #333;
  b {
    font-size: 16px;
  }
}
.count {
  min-width: 30px;
  text-align: center;
  display: inline-block;
}
.btn {
  width: 30px;
  ::v-deep .van-icon {
    color: #ed8048;
  }
}
.custom-image ::v-deep .van-empty__image {
  width: 90px;
  height: 90px;
}
</style>
