<template>
  <div id="app">
    <p>城市: {{ city }}</p>
    纬度：{{ latitude }}，经度：{{ longitude }}
    <van-button type="primary">主要按钮</van-button>
    <van-cell title="选择单个日期" :value="date" @click="handleClick" />
    <!-- <Tip msg="提示文字" /> -->
    <!-- <router-view /> -->
  </div>
</template>

<script>
// import Tip from './components/tip/Tip.vue'
import axios from 'axios'
export default {
  data () {
    return {
      city: '',
      latitude: null,
      longitude: null,
      show: true,
      date: 'aaaaaa'
    }
  },
  methods: {
    async getCity (latitude, longitude) {
      const res = await axios.get('/mapapi/reverse_geocoding/v3', {
        params: {
          ak: 'nqdUuCXZg7BNjuKReZHTsWbc0L28hYrF',
          location: `${latitude},${longitude}`,
          output: 'json',
          coordtype: 'wgs84ll'
        }
      })
      this.city = res.data.result.formatted_address
      console.log(res.data.result.formatted_address)
    },
    handleClick () {
      this.$tip(Math.random())
      // this.$toast(Math.random())
    }
  },
  mounted () {
    if (navigator.geolocation) {
      navigator.geolocation.getCurrentPosition(
        (position) => {
          this.latitude = position.coords.latitude
          this.longitude = position.coords.longitude
          this.getCity(this.latitude, this.longitude)
        },
        (error) => {
          console.log('获取位置信息失败: ' + error.message)
        }
      )
    } else {
      console.log('您的浏览器不支持 Geolocation API')
    }
  },
  components: {
    // Tip
  }
}
</script>

<style lang="scss">
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,
body,
#app,
.page {
  width: 100%;
  height: 100%;
}
img {
  width: 100%;
  vertical-align: middle;
}
li {
  list-style-type: none;
}
a {
  text-decoration: none;
}
</style>
