* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.home {
  background: tomato;
}
img {
  width: 100%;
}
.box {
  width: 600px;
  height: 400px;
}
.echarts-wrap {
  width: 100%;
  height: 100%;
}