<script setup>
defineProps(['title', 'link'])
</script>

<template>
  <div class="title">
    <router-link class="tit" :to="link">{{ title }}</router-link>
    <span class="more">
      <router-link :to="link">更多</router-link>
      <i class="cor s-bg s-bg-6">&nbsp;</i>
    </span>
  </div>
</template>

<style lang='scss' scoped>
.title {
  height: 33px;
  padding: 0 10px 0 34px;
  border-bottom: 2px solid #C10D0C;
  background: url(https://s2.music.126.net/style/web2/img/index/index.png?80ce3ebe34f2cf0349d33951bb4b83cf) no-repeat 0 9999px;
  background-position: -225px -156px;
  .tit {
    float: left;
    font-size: 20px;
    font-weight: normal;
    line-height: 28px;
  }
  .more {
    float: right;
    margin-top: 9px;
  }
}
</style>
