<template>
  <div class="list" v-loading="loading">
    <el-row :gutter="20">
      <el-col :span="12">
        <el-input placeholder="请输入内容" v-model="keywords">
          <el-button
            slot="append"
            icon="el-icon-search"
            @click="getList"
          ></el-button>
        </el-input>
      </el-col>
      <el-col :span="6">
        <el-button @click="reset" type="primary" plain>重置</el-button>
      </el-col>
      <el-col :span="6">
        <el-button
          :style="{ float: 'right' }"
          type="primary"
          icon="el-icon-search"
          @click="dialogFormVisible = true"
          >新增</el-button
        >
      </el-col>
    </el-row>
    <el-table
      :header-cell-style="{ background: '#dddddd' }"
      :style="{ width: '100%', margin: '20px 0' }"
      :data="tableData"
      height="500"
    >
      <el-table-column
        prop="index"
        label="序号"
        width="70"
        fixed="left"
      ></el-table-column>
      <el-table-column
        prop="name"
        label="姓名"
        width="90"
        fixed="left"
      ></el-table-column>
      <el-table-column prop="age" label="年龄" width="50"></el-table-column>
      <el-table-column label="性别" width="70">
        <template slot-scope="scope">
          <el-tag v-if="scope.row.sex === 1" effect="dark">男</el-tag>
          <el-tag v-else type="success" effect="dark">女</el-tag>
        </template>
      </el-table-column>
      <el-table-column label="爱好" width="300">
        <template slot-scope="scope">
          <div v-if="scope.row.hobby.length > 0">
            <el-tag v-for="item in scope.row.hobby" :key="item" effect="dark">{{
              item
            }}</el-tag>
          </div>
          <p v-else>--</p>
        </template>
      </el-table-column>
      <el-table-column label="婚姻状况" width="90">
        <template slot-scope="scope">
          <el-tag v-if="scope.row.married" type="success" effect="dark"
            >未婚</el-tag
          >
          <el-tag v-else type="danger">已婚</el-tag>
        </template>
      </el-table-column>
      <el-table-column
        prop="address"
        label="地址"
        width="300"
      ></el-table-column>
      <el-table-column
        prop="time"
        label="注册时间"
        width="300"
      ></el-table-column>
      <el-table-column label="操作" fixed="right" width="200">
        <template slot-scope="scope">
          <el-button size="mini" @click="showEdit(scope.row)">编辑</el-button>
          <el-button size="mini" type="danger" @click="confirmDel(scope.row)">删除</el-button>
        </template>
      </el-table-column>
    </el-table>
    <el-pagination
      :style="{ float: 'right' }"
      background
      :current-page="pagenum"
      :page-sizes="[10, 20, 50, 100]"
      :page-size="pagesize"
      layout="total, sizes, prev, pager, next, jumper"
      :total="total"
      @current-change="currentChange"
      @size-change="sizeChange"
    >
    </el-pagination>
    <CreateDialog :formInit="editInfo" :visible.sync="dialogFormVisible" @success="getList" />
  </div>
</template>

<script>
import axios from 'axios'
import CreateDialog from './components/CreateDialog.vue'

export default {
  data () {
    return {
      tableData: [],
      pagenum: 1,
      pagesize: 10,
      total: 0, // 总条数
      totalPage: 0, // 总页数
      loading: false,
      keywords: '',
      dialogFormVisible: false, // 弹窗显示隐藏
      editInfo: null // 编辑信息
    }
  },
  watch: {
    dialogFormVisible () {
      if (!this.dialogFormVisible) {
        this.editInfo = null
      }
    }
  },
  methods: {
    async getList () {
      this.loading = true
      const res = await axios.get('/api/list', {
        params: {
          pagenum: this.pagenum,
          pagesize: this.pagesize,
          keywords: this.keywords
        }
      })
      this.tableData = res.data.data
      this.total = res.data.total
      this.totalPage = Math.ceil(this.total / this.pagesize)
      this.loading = false
    },
    sizeChange (pagesize) {
      this.pagesize = pagesize
      this.getList()
    },
    currentChange (pagenum) {
      this.pagenum = pagenum
      this.getList()
    },
    reset () {
      this.keywords = ''
      this.getList()
    },
    async del (id) {
      const res = await axios.delete('/api/del', {
        params: { id }
      })
      if (res.data.code === 0) {
        this.$message({
          type: 'success',
          message: '删除成功!'
        })
        if (this.pagenum === this.totalPage && this.tableData.length === 1) {
          this.pagenum--
        }
        this.getList()
      } else {
        this.$message({
          type: 'error',
          message: res.data.msg
        })
      }
    },
    confirmDel (row) {
      this.$confirm('此操作将永久删除该文件, 是否继续?', '提示', {
        confirmButtonText: '确定',
        cancelButtonText: '取消',
        type: 'warning'
      })
        .then(() => {
          this.del(row.id)
        })
        .catch(() => {
          this.$message({
            type: 'info',
            message: '已取消删除'
          })
        })
    },
    showEdit (row) {
      this.editInfo = row
      this.dialogFormVisible = true
    }
  },
  created () {
    this.getList()
  },
  components: {
    CreateDialog
  }
}
</script>

<style lang="scss" scoped>
.list {
  height: 100%;
  background: #ffffff;
  border-radius: 5px;
  padding: 20px;
  overflow: hidden;
}
</style>
