.titlebar {
  height: 50px;
  background: orange;
  position: relative;
  h3 {
    text-align: center;
    line-height: 50px;
    color: #ffffff;
  }
}
.back {
  position: absolute;
  top: 0;
  left: 0;
  width: 50px;
  height: 50px;
  &::before {
    content: '';
    position: absolute;
    top: 16px;
    left: 16px;
    width: 18px;
    height: 18px;
    border-top: 1px solid #ffffff;
    border-left: 1px solid #ffffff;
    transform: rotate(-45deg);
  }
}