<script>
import { reactive, ref } from 'vue'

export default {
  data () {
    return {
      hobby: ['唱歌']
    }
  },
  created () {
    console.log(this)
  },
  setup () {
    // 在此函数内使用组合式 api
    // 定义对象
    const obj = reactive({
      name: '晓明',
      age: 20
    })
    // 定义基础类型
    const title = ref('vue3')
    const num = ref(0)
    const add = () => {
      // 修改ref定义的数据
      num.value++
    }
    // 需要抛出数据
    return {
      obj,
      title,
      num,
      add
    }
  }
}
</script>

<template>
  <h1>{{ title }}</h1>
  <button @click="add">{{ num }}</button>
  <p>姓名: <input type="text" v-model="obj.name"> {{ obj.name }}</p>
  <p>年龄: {{ obj.age }}</p>
</template>

<style lang="scss" scoped>
h1 {
  color: red;
}

</style>
